/* common grid style  */
/* font family */
/* font family */
.width-230px {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
  max-width: 230px;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.width-150px {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  max-width: 150px;
  position: relative;
  width: 100%;
  min-height: 1px;
}

.btn.btn-default-common {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 5px 0;
  line-height: 24px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-default-common:hover {
  color: #F98169;
}

.btn.btn-default-common:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-primary-common {
  background-color: #F98169;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
  padding: 5px 20px 4px 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary-common:hover {
  color: #F98169;
  background-color: #f6f2ec;
  border: 1px solid rgba(249, 129, 105, 0.5);
}

.btn.btn-primary-common:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary-middle {
  background-color: #F98169;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
  padding: 10px 20px 9px 20px;
  min-width: 100px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-primary-middle:hover {
  color: #F98169;
  background-color: #f6f2ec;
  border: 1px solid rgba(249, 129, 105, 0.5);
}

.btn-primary-middle:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End of common grid style  */
.grid-view-section {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: muli;
}

/* top header */
.grid-view-header-top {
  padding: 20px 45px;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EEEEEE;
}

.top-grid-section-div {
  padding: 10px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-tab-header-col {
  padding: 0 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 380px);
          flex: 0 0 calc(100% - 380px);
  max-width: calc(100% - 380px);
  position: relative;
  width: 100%;
  min-height: 1px;
}

.nav-tab-root {
  min-height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 5px 0;
}

ul.custom-nav-tabs {
  border: none;
}

ul.custom-nav-tabs .nav-item {
  margin: 0 24px 0 0;
}

ul.custom-nav-tabs .nav-link {
  border: none;
  font-weight: 400;
  font-size: 18px;
  color: #2E2E2E;
  letter-spacing: 0;
  line-height: 24px;
  border-radius: 0px;
  padding: 0;
  border: none;
  position: relative;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

ul.custom-nav-tabs .nav-link:before {
  content: "";
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #222;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

ul.custom-nav-tabs .nav-link:hover {
  color: #000000;
}

ul.custom-nav-tabs .nav-link:hover:before {
  width: 100%;
}

ul.custom-nav-tabs .nav-item.show .nav-link, ul.custom-nav-tabs .nav-link.active {
  color: #000000;
  background-color: transparent;
  border: none;
}

ul.custom-nav-tabs .nav-item.show .nav-link:before, ul.custom-nav-tabs .nav-link.active:before {
  width: 100%;
}

/* End of top header */
.dropdown-inner-box {
  padding: 0;
  margin: 0;
}

.custom-checkbox-style {
  padding-left: 35px;
  min-height: 25px;
  margin: 0 0 15px 0;
}

.custom-checkbox-style input[type=checkbox], .custom-checkbox-style input[type=radio] {
  display: none;
}

.custom-checkbox-style label.custom-control-label {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #222222;
  letter-spacing: -0.2px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.custom-checkbox-style.custom-checkbox .custom-control-label::before {
  top: 0;
  background-color: #FFFFFF;
  border: 1px solid #B0B0B0;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

.custom-checkbox-style.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #F6F2EB;
  border: 1px solid #F98169;
}

.custom-checkbox-style.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='14px' height='11px' viewBox='0 0 14 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='category-listing-grid-filter01' transform='translate(-70.000000, -383.000000)' fill='%23F98169' fill-rule='nonzero'%3E%3Cg id='dropdown' transform='translate(45.000000, 307.000000)'%3E%3Cg id='Group-20' transform='translate(20.000000, 69.000000)'%3E%3Cg id='done-black-18dp' transform='translate(3.000000, 3.000000)'%3E%3Cpolygon id='Path' points='6.75 12.15 3.6 9 2.55 10.05 6.75 14.25 15.75 5.25 14.7 4.2'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.custom-checkbox-style.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* grid-view-filter-top */
.grid-view-filter-top {
  padding: 30px 45px 15px 45px;
  margin: 0;
  position: relative;
}

.grid-view-filter-top .right-sorting-div {
  padding: 0;
  margin: 0;
}

.grid-view-filter-top .right-sorting-div .form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.filter-root-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.filter-root-div .filter-box {
  padding: 0 10px 10px 0;
}

.filter-root-div .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.filter-root-div .overlay.show {
  display: block;
}

.filter-root-div .dropdown-menu {
  padding: 0;
  z-index: 1001;
  background: #FFFFFF;
  border: 1px solid rgba(118, 118, 118, 0.28);
  -webkit-box-shadow: 0 10px 37px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 37px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  min-width: 280px;
  margin: 10px 0 0 0;
}

.filter-root-div .dropdown-body {
  padding: 30px 20px 10px 20px;
  margin: 0;
  position: relative;
}

.filter-root-div .dropdown-footer {
  padding: 12px 20px 12px 20px;
  margin: 0;
  border-top: 1px solid #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-root-div .btn-filter {
  background-color: #FFFFFF;
  border: 1px solid rgba(114, 114, 114, 0.3);
  -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.01);
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: rgba(34, 34, 34, 0.8);
  letter-spacing: 0;
  padding: 12px 25px 10px 25px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.filter-root-div .btn-filter:hover, .filter-root-div .btn-filter:focus {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.filter-root-div .dropdown.show .btn-filter {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.01);
}

.filter-root-div .min-width-360 {
  min-width: 360px;
}

.filter-root-div .select-multiple-custom {
  padding-bottom: 20px;
}

.filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple {
  min-height: 58px;
  padding: 10px 25px 10px 15px;
  font-size: 20px;
}

.filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
  height: 40px;
  font-size: 18px;
  line-height: 25px;
  min-width: 200px;
}

.filter-root-div .select-multiple-custom .select2-container--default .select2-selection--multiple .select2-selection__clear {
  margin-top: 5px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}

.filter-root-div .select-multiple-custom :focus {
  outline: -webkit-focus-ring-color auto 0px;
}

/* filter more modal */
.group-root-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.group-root-box .group-box-row {
  padding: 30px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.group-root-box .group-box-row:last-child {
  border-bottom: 0px solid transparent;
}

.group-root-box h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #222222;
  margin: 0 0 20px 0;
  font-family: "Muli";
}

.group-root-box .custom-control-label {
  text-transform: lowercase;
}

.group-root-box .custom-control-label::first-letter {
  text-transform: uppercase;
}

.group-root-box .btn.btn-default-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  padding: 5px 0;
  font-weight: 400;
  font-size: 16px;
  color: #222222;
  letter-spacing: -0.2px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: underline;
}

.group-root-box .btn.btn-default-collapse .down-arrow-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0 0 0 8px;
}

.group-root-box .btn.btn-default-collapse .show-text {
  display: none;
}

.group-root-box .btn.btn-default-collapse .close-text {
  display: inline-block;
}

.group-root-box .btn.btn-default-collapse.collapsed .down-arrow-icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: ease-in-out !important;
          transition-timing-function: ease-in-out !important;
}

.group-root-box .btn.btn-default-collapse.collapsed .show-text {
  display: inline-block;
}

.group-root-box .btn.btn-default-collapse.collapsed .close-text {
  display: none;
}

/* End of filter more modal */
/* End of grid-view-filter-top */
.grid-view-body {
  padding: 0px 45px 30px 45px;
  margin: 0;
  position: relative;
}

.tab-grid-view-pane {
  padding: 0px 0px;
  margin: 0;
  position: relative;
}

.category-card-root {
  padding: 0px 0px;
  margin: 0;
  position: relative;
}

.category-card-root .grid-row {
  margin-right: -10px;
  margin-left: -10px;
}

.category-card-root .grid-col {
  padding-right: 10px;
  padding-left: 10px;
}

.btn.btn-view-more-link {
  font-weight: 700;
  font-size: 16px;
  color: #222222;
  letter-spacing: -0.2px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-family: "Georgia";
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-view-more-link:hover {
  color: #F98169;
}

.owl-slider-card {
  position: relative;
}

.owl-slider-card .custom-img-card {
  background-color: #fafafa;
}

.owl-slider-card img.img-slider {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.owl-slider-card .owl-dots {
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: 99;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-slider-card .owl-dots button.owl-dot {
  cursor: pointer;
  height: 6px;
  width: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 0 2px;
  border-radius: 10px;
}

.owl-slider-card .owl-dots button.owl-dot.active {
  background-color: white;
}

.owl-slider-card .owl-nav {
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.owl-slider-card .owl-nav .owl-prev {
  position: absolute;
  cursor: pointer;
  top: 114px;
  left: 10px;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  border: 0px !important;
  outline: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  color: #222222 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  border-style: solid !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18) !important;
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18) !important;
  -webkit-transition: -webkit-box-shadow 0.2s ease, -webkit-transform 0.25s ease !important;
  transition: -webkit-box-shadow 0.2s ease, -webkit-transform 0.25s ease !important;
  transition: box-shadow 0.2s ease, transform 0.25s ease !important;
  transition: box-shadow 0.2s ease, transform 0.25s ease, -webkit-box-shadow 0.2s ease, -webkit-transform 0.25s ease !important;
  width: 32px !important;
  height: 32px !important;
}

.owl-slider-card .owl-nav .owl-next {
  position: absolute;
  cursor: pointer;
  top: 114px;
  right: 10px;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  border: 0px !important;
  outline: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  color: #222222 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  border-style: solid !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18) !important;
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18) !important;
  -webkit-transition: -webkit-box-shadow 0.2s ease, -webkit-transform 0.25s ease !important;
  transition: -webkit-box-shadow 0.2s ease, -webkit-transform 0.25s ease !important;
  transition: box-shadow 0.2s ease, transform 0.25s ease !important;
  transition: box-shadow 0.2s ease, transform 0.25s ease, -webkit-box-shadow 0.2s ease, -webkit-transform 0.25s ease !important;
  width: 32px !important;
  height: 32px !important;
}

.owl-slider-card .owl-nav .owl-prev:hover, .owl-slider-card .owl-nav .owl-next:hover {
  background-color: #FFFFFF !important;
  color: #000000 !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
}

.owl-slider-card .owl-nav span.span-roundcircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-div {
  position: relative;
}

.slider-div .top-right-div {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-div .btn.btn-round-circle {
  margin: 0 10px 0 0;
  color: #222222;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  height: 32px;
  width: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.slider-div .btn.btn-round-circle.btn-social {
  padding: 0 3px 0 0;
  background-color: #F98169;
}

.slider-div .btn.btn-round-circle.btn-social:hover {
  background-color: #bc4853;
}

.slider-div .btn.btn-round-circle.btn-like .like-fill-icon {
  display: none;
}

.slider-div .btn.btn-round-circle.btn-like .like-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-div .btn.btn-round-circle.btn-like.active .like-fill-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-div .btn.btn-round-circle.btn-like.active .like-icon {
  display: none;
}

.slider-div .btn.btn-round-circle.btn-like:hover .like-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='15px' viewBox='0 0 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M12.6156999,1 C11.0884271,1 9.63388169,1.94545455 8.68842715,3.03636364 C7.52479078,1.87272727 5.92479078,0.709090909 4.17933624,1.07272727 C3.08842715,1.21818182 2.07024533,1.94545455 1.56115442,2.96363636 C-0.111572854,5.94545455 2.28842715,9 4.39751805,11.0363636 C5.41569987,11.9818182 6.43388169,12.8545455 7.52479078,13.6545455 C7.81569987,13.8727273 8.32479078,14.3090909 8.68842715,14.3090909 C9.05206351,14.3090909 9.56115442,13.8727273 9.85206351,13.6545455 C12.1793362,11.9818182 14.6520635,9.94545455 15.8156999,7.25454545 C16.906609,4.78181818 15.8156999,1 12.6156999,1' id='like-fill' stroke='%23F98169' stroke-width='1.4' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.share-icon {
  width: 17px;
  height: 19px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='19px' viewBox='0 0 17 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eshare%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='share' transform='translate(1.000000, 1.000000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Ccircle id='Oval' cx='12.5' cy='2.5' r='2.5'%3E%3C/circle%3E%3Ccircle id='Oval' cx='2.5' cy='8.5' r='2.5'%3E%3C/circle%3E%3Ccircle id='Oval' cx='12.5' cy='14.5' r='2.5'%3E%3C/circle%3E%3Cline x1='5' y1='9' x2='11' y2='13' id='Path'%3E%3C/line%3E%3Cline x1='11' y1='4' x2='5' y2='8' id='Path'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.like-icon {
  width: 18px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='18px' height='16px' viewBox='0 0 18 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='0' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M13,1.65454545 C11.4727273,1.65454545 10.0181818,2.6 9.07272727,3.69090909 C7.90909091,2.52727273 6.30909091,1.36363636 4.56363636,1.72727273 C3.47272727,1.87272727 2.45454545,2.6 1.94545455,3.61818182 C0.272727273,6.6 2.67272727,9.65454545 4.78181818,11.6909091 C5.8,12.6363636 6.81818182,13.5090909 7.90909091,14.3090909 C8.2,14.5272727 8.70909091,14.9636364 9.07272727,14.9636364 C9.43636364,14.9636364 9.94545455,14.5272727 10.2363636,14.3090909 C12.5636364,12.6363636 15.0363636,10.6 16.2,7.90909091 C17.2909091,5.43636364 16.2,1.65454545 13,1.65454545' id='like' stroke='%23222222' stroke-width='1.4' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.like-fill-icon {
  width: 18px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='15px' viewBox='0 0 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M12.6156999,1 C11.0884271,1 9.63388169,1.94545455 8.68842715,3.03636364 C7.52479078,1.87272727 5.92479078,0.709090909 4.17933624,1.07272727 C3.08842715,1.21818182 2.07024533,1.94545455 1.56115442,2.96363636 C-0.111572854,5.94545455 2.28842715,9 4.39751805,11.0363636 C5.41569987,11.9818182 6.43388169,12.8545455 7.52479078,13.6545455 C7.81569987,13.8727273 8.32479078,14.3090909 8.68842715,14.3090909 C9.05206351,14.3090909 9.56115442,13.8727273 9.85206351,13.6545455 C12.1793362,11.9818182 14.6520635,9.94545455 15.8156999,7.25454545 C16.906609,4.78181818 15.8156999,1 12.6156999,1' id='like-fill' stroke='%23F98169' stroke-width='1.4' fill='%23F98169' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.close-map-icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M11.5,10.5 C11.8,10.8 11.8,11.3 11.5,11.6 C11.2,11.9 10.7,11.9 10.4,11.6 L6,7.1 L1.5,11.6 C1.2,11.9 0.7,11.9 0.4,11.6 C0.1,11.3 0.1,10.8 0.4,10.5 L4.9,6 L0.5,1.5 C0.2,1.2 0.2,0.7 0.5,0.4 C0.8,0.1 1.3,0.1 1.6,0.4 L6,4.9 L10.5,0.4 C10.8,0.1 11.3,0.1 11.6,0.4 C11.9,0.7 11.9,1.2 11.6,1.5 L7.1,6 L11.5,10.5 Z' id='close' fill='%23000000' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.image-grid-card {
  padding: 0px 0px;
  margin: 0 0 30px 0;
  position: relative;
}

.image-grid-card .image-grid-body {
  padding: 0px 0px;
  margin: 0;
  position: relative;
}

.image-grid-card .image-grid-body .content-div {
  padding: 15px 0 10px 0;
  min-height: 150px;
}

.image-grid-card .image-grid-body .content-div a h3 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.image-grid-card .image-grid-body .content-div a:hover h3 {
  color: #222;
}

.image-grid-card .image-grid-body .grid-content-top-div {
  margin: 0 0 5px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-grid-card .image-grid-body .badge-div {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.image-grid-card .image-grid-body .img-badge {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-grid-card .image-grid-body .color-p {
  margin: 0;
  font-weight: 400;
  width: 80%;
  font-size: 16px;
  color: #717171;
  letter-spacing: -0.2px;
}

.image-grid-card .image-grid-body h3 {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 18px;
  color: #F98169;
  letter-spacing: 0;
  padding: 0;
  margin: 0 0 6px 0;
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.image-grid-card .image-grid-body p {
  margin: 0 0 5px 0;
  font-weight: 400;
  font-size: 16px;
  color: #2E2E2E;
  letter-spacing: -0.2px;
  line-height: 24px;
}

.image-grid-card .image-grid-body .text-desc {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.image-grid-card .image-grid-body .text-number {
  font-size: 18px;
  font-weight: 800;
}

.image-grid-card .image-grid-body .text-service {
  font-size: 14px;
}

.image-grid-card .image-grid-body .grid-content-bottom-div {
  padding: 10px 0px 0 0;
  border-top: 1px solid #EEEEEE;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-grid-card .image-grid-body .grid-content-bottom-div a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.image-grid-card .image-grid-body .grid-content-bottom-div a h4 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.image-grid-card .image-grid-body .grid-content-bottom-div a:hover h4 {
  color: #222;
}

.image-grid-card .image-grid-body .grid-content-bottom-div .left-bottom-div {
  padding: 0px 0px;
  margin: 0;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-grid-card .image-grid-body .grid-content-bottom-div .right-bottom-div {
  padding: 0px 0px;
  margin: 0;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.image-grid-card .image-grid-body .grid-content-bottom-div .content-user {
  width: calc(100% - 40px);
  padding: 0 0 0 10px;
}

.image-grid-card .image-grid-body .grid-content-bottom-div .img-user {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-grid-card .image-grid-body .grid-content-bottom-div h4 {
  padding: 0px 0px;
  margin: 0;
  width: 100%;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #F98169;
  letter-spacing: -0.17px;
}

.image-grid-card .image-grid-body .grid-content-bottom-div p {
  margin: 0;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.15px;
}

.image-grid-card:hover .owl-slider-card .owl-nav {
  opacity: 1;
}

.pagination-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px 0px;
}

.pagination-root ul.pagination-ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.pagination-root ul.pagination-ul li {
  margin-left: 8px;
  margin-right: 8px;
}

.pagination-root ul.pagination-ul li a {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  color: #222;
  -webkit-transition: all;
  transition: all;
}

.pagination-root ul.pagination-ul li a:hover {
  background: #eee;
  color: #222;
}

.pagination-root ul.pagination-ul li.active a {
  background: #222222;
  color: #FFFFFF;
}

.pagination-root ul.pagination-ul li.active a:hover {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
}

.pagination-root ul.pagination-ul li.next {
  margin-left: 20px;
}

.pagination-root ul.pagination-ul li.next a {
  color: #222222 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.pagination-root ul.pagination-ul li.next a:hover {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  background-color: #FFFFFF !important;
  color: #000000 !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
}

/* show map with listing */
.grid-view-section.list-view-section .show-listing-content-map {
  width: 800px;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 800px;
          flex: 0 0 800px;
  max-width: 800px;
}

.grid-view-section.list-view-section .show-map-frame {
  width: calc(100% - 800px);
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 800px);
          flex: 0 0 calc(100% - 800px);
  max-width: calc(100% - 800px);
}

.grid-view-section.list-view-section .grid-view-header-top {
  padding: 20px 0px;
  margin: 0 30px;
}

.grid-view-section.list-view-section .grid-view-header-top .map-col-div {
  display: none !important;
}

.grid-view-section.list-view-section .grid-view-header-top .middle-tab-header-col {
  padding: 0 0px 0 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 230px);
          flex: 0 0 calc(100% - 230px);
  max-width: calc(100% - 230px);
}

.grid-view-section.list-view-section .grid-view-filter-top {
  padding: 30px 30px 15px 30px;
}

.grid-view-section.list-view-section .grid-view-filter-top .right-sorting-div {
  padding: 10px 0 0 0;
}

.grid-view-section.list-view-section .grid-view-filter-top .right-sorting-div .form-div {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid-view-section.list-view-section .filter-list-col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.grid-view-section.list-view-section .grid-view-body {
  padding: 0px 30px 30px 30px;
}

.grid-view-section.list-view-section .grid-view-body .category-card-root .grid-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.grid-view-section.list-view-section .grid-view-body .image-listing-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 20px 0;
  border-bottom: 1px solid #EEEEEE;
  margin: 0 0 20px 0;
}

.grid-view-section.list-view-section .grid-view-body .image-listing-card .image-grid-body {
  padding: 0px 0px 0px 20px;
  margin: 0;
  position: relative;
  width: calc(100% - 300px);
}

.grid-view-section.list-view-section .grid-view-body .image-listing-card .image-grid-body .content-div {
  padding: 0px 0 10px 0;
  min-height: 187px;
}

.grid-view-section.list-view-section .grid-view-body .image-listing-card .image-grid-body .text-desc {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0 0 10px 0;
}

.grid-view-section.list-view-section .grid-view-body .image-listing-card .image-grid-body h3 {
  margin: 0 0 10px 0;
}

.grid-view-section.list-view-section .grid-view-body .image-listing-card .img-banner-grid-top {
  width: 300px;
  height: 240px;
}

.grid-view-section.list-view-section .grid-view-body .image-listing-card .owl-slider-card img.img-slider {
  height: 240px;
}

.grid-view-section.list-view-section .image-grid-card .slider-div {
  min-height: 240px;
}

.image-round-grid-card.image-round-grid-card {
  width: 320px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  margin: 0;
  -webkit-animation: none;
          animation: none;
}

.image-round-grid-card.image-round-grid-card .owl-slider-card img.img-slider {
  height: 200px;
  border-radius: 12px 12px 0 0;
}

.image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-prev {
  top: 84px;
}

.image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-next {
  top: 84px;
}

.image-round-grid-card.image-round-grid-card .image-grid-body .content-div {
  padding: 15px 15px 10px 15px;
  min-height: 125px;
}

.image-round-grid-card.image-round-grid-card .image-grid-body .grid-content-bottom-div {
  padding: 10px 15px 10px 15px;
}

.image-round-grid-card.image-round-grid-card .image-grid-body h3 {
  margin: 0 0 10px 0;
}

.grid-view-section.list-view-section .image-grid-card.image-round-grid-card .slider-div {
  min-height: 200px;
}

.map-view-section {
  padding: 0;
  margin: 0;
  position: relative;
  /* owl carousel not support  */
  /* End of owl carousel not support  */
  /* map inner */
  /**/
}

.map-view-section.display-none {
  display: none;
}

.map-view-section .home-map {
  position: fixed;
  width: calc(100% - 800px);
  top: 90px;
  right: 0;
}

.map-view-section .map {
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 90px);
}

.map-view-section .close-map-div {
  position: fixed;
  top: 100px;
  left: 810px;
}

.map-view-section .btn-closemap {
  background-color: #fff;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  height: 40px;
  width: 40px;
}

.map-view-section .owl-slider-card {
  display: block;
}

.map-view-section .gm-style-iw.gm-style-iw-c {
  padding: 0;
}

.map-view-section .gm-style .gm-style-iw-d {
  max-height: 410px !important;
  overflow: auto !important;
}

.map-view-section .gm-style .gm-style-iw-c {
  border-radius: 12px;
}

.map-view-section button.gm-control-active.gm-fullscreen-control {
  background: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
  border-radius: 12px !important;
}

.map-view-section .gmnoprint div {
  background: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
  border-radius: 12px !important;
}

.map-view-section .gm-control-active > img:nth-child(1) {
  display: block;
  width: 14px !important;
  height: 14px !important;
}

.map-view-section .gm-control-active:hover > img:nth-child(2), .map-view-section .gm-control-active:active > img:nth-child(3) {
  width: 14px !important;
  height: 14px !important;
}

.map-view-section button.gm-ui-hover-effect {
  position: fixed !important;
  z-index: 9999;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #FFF !important;
  opacity: 1 !important;
  border-radius: 100px !important;
  top: 6px !important;
  left: 6px;
}

.map-view-section .gm-style-iw.gm-style-iw-c {
  min-height: 390px;
}

.map-view-section .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom + .gmnoprint {
  margin-left: 60px !important;
}

/* End of show map with listing */
.active-select2-dropdown.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 0px solid #DFEAF1;
  border-radius: 0 0 12px 12px;
}

.active-select2-dropdown.select2-container .select2-dropdown .select2-search input {
  border: none;
  border-bottom: 1px solid #DFEAF1 !important;
  padding: 10px 10px;
  border-radius: 12px 12px 0 0;
}

.active-select2-dropdown.select2-container .select2-dropdown {
  margin-top: 0px;
  background: #FFFFFF;
  border: 0px solid rgba(118, 118, 118, 0.2);
  -webkit-box-shadow: 0 10px 37px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 37px 0 rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

/* animation & loader */
.loader-box {
  display: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-box.show-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader-box .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-box .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #674b30;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-box .lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

.top-grid-section-div .btn-col-div {
  -webkit-animation-name: animation-tab2;
          animation-name: animation-tab2;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.top-grid-section-div .middle-tab-header-col {
  -webkit-animation-name: animation-tab3;
          animation-name: animation-tab3;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.top-grid-section-div .map-col-div {
  -webkit-animation-name: animation-tab3;
          animation-name: animation-tab3;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.image-grid-card {
  -webkit-animation-name: animation-tab;
          animation-name: animation-tab;
  -webkit-animation-duration: 1500ms !important;
          animation-duration: 1500ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.image-grid-card .slider-div {
  min-height: 260px;
  background-color: #fafafa;
}

.filter-root-div .filter-box {
  -webkit-animation-name: animation-tab2;
          animation-name: animation-tab2;
  -webkit-animation-duration: 1200ms !important;
          animation-duration: 1200ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.right-sorting-div .form-div .form-group {
  -webkit-animation-name: animation-tab3;
          animation-name: animation-tab3;
  -webkit-animation-duration: 1200ms !important;
          animation-duration: 1200ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.list-view-section .top-grid-section-div {
  -webkit-animation-name: animation-tab3 !important;
          animation-name: animation-tab3 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.list-view-section .grid-view-filter-top {
  -webkit-animation-name: animation-tab3 !important;
          animation-name: animation-tab3 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.list-view-section .image-listing-card {
  -webkit-animation-name: animation-tab3 !important;
          animation-name: animation-tab3 !important;
}

.animation-custom1 {
  -webkit-animation-name: animation-tab !important;
          animation-name: animation-tab !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.animation-custom2 {
  -webkit-animation-name: animation-tab2 !important;
          animation-name: animation-tab2 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.animation-custom3 {
  -webkit-animation-name: animation-tab3 !important;
          animation-name: animation-tab3 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

@-webkit-keyframes animation-tab {
  0% {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation-tab {
  0% {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-tab2 {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-tab2 {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-tab3 {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-tab3 {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/** Changes in grid map width  */
.grid-view-section.list-view-section .show-listing-content-map {
  width: 60%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}

.grid-view-section.list-view-section .show-map-frame {
  width: 40%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

.map-view-section .home-map {
  width: 40%;
}

.map-view-section .close-map-div {
  left: calc(60% + 15px);
}

/** End of Changes in grid map width  */
/* change badge section */
.image-grid-card .image-grid-body .grid-content-top-div {
  margin: 0 0 15px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.image-grid-card .image-grid-body .grid-content-top-div .color-p {
  width: 50%;
}

.image-grid-card .image-grid-body .grid-content-top-div .color-p .span-title {
  padding: 0;
  margin: 0 0 5px 0;
  width: 100%;
  display: block;
}

.image-grid-card .image-grid-body .grid-content-top-div .color-p .span-bold {
  width: 100%;
  display: block;
  font-weight: 700;
  color: #484848;
}

.image-grid-card .image-grid-body .grid-content-top-div .badge-div {
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-grid-card .image-grid-body .grid-content-top-div .img-badge {
  border-radius: 100px;
  margin: 0 0 5px 5px;
  height: 28px;
  width: 28px;
}

.tooltip.show {
  opacity: 1;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #F98169;
}

.tooltip .tooltip-inner {
  background-color: #F98169;
}

.tooltip .tooltip-inner p {
  color: #fff;
  margin: 0;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 600;
}

.tooltip-p {
  color: #fff;
  margin: 0;
  padding: 0 5px;
  font-size: 16px;
  font-weight: 600;
}

.image-round-grid-card.image-round-grid-card {
  width: 340px;
}

.map-view-section .gm-style .gm-style-iw-d {
  max-height: 430px !important;
}

.map-view-section .gm-style-iw.gm-style-iw-c {
  min-height: 415px;
  max-height: 420px !important;
}

/* End of change badge section */
@media (max-width: 767px) {
  .grid-view-header-top {
    padding: 20px 15px;
  }
  .grid-view-header-top .top-grid-section-div .width-230px {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 10px 0;
  }
  .grid-view-header-top .top-grid-section-div .width-150px {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 0 0 10px 0;
  }
  .middle-tab-header-col {
    padding: 25px 0px 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .middle-tab-header-col ul.custom-nav-tabs .nav-item {
    margin: 0 10px 0 0;
  }
  .middle-tab-header-col ul.custom-nav-tabs .nav-link {
    font-size: 14px;
  }
  .middle-tab-header-col .nav-tab-root {
    min-height: auto;
  }
  .grid-view-filter-top {
    padding: 30px 15px 10px 15px;
  }
  .filter-root-div {
    margin-right: -5px;
    margin-left: -5px;
    width: auto;
  }
  .filter-root-div .filter-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding: 0 5px 10px 5px;
  }
  .filter-root-div .min-width-360 {
    min-width: 260px;
  }
  .filter-root-div .filter-box.filter-mobile-box-right .min-width-360 {
    min-width: 260px;
    right: 0;
    left: -85px !important;
    -webkit-transform: translate3d(-10px, 42px, 0px) !important;
            transform: translate3d(-10px, 42px, 0px) !important;
  }
  .filter-root-div .btn-filter {
    border-radius: 30px;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 15px 8px 15px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple {
    min-height: 48px;
    padding: 4px 25px 3px 15px;
    font-size: 16px;
  }
  .filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    height: 37px;
    font-size: 16px;
    line-height: 25px;
    min-width: 180px;
  }
  .grid-view-filter-top .right-sorting-div {
    padding: 20px 0 0 0;
    margin: 10px 0 0 0;
    border-top: 1px solid #EEEEEE;
  }
  .grid-view-filter-top .right-sorting-div .form-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid-view-filter-top .right-sorting-div .form-div .form-group {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .select-round-group .select-custom2 span.select2-selection.select2-selection--single {
    margin-bottom: 15px;
    min-height: 42px;
    font-size: 14px;
    line-height: 24px;
    padding: 5px 15px 10px 11px;
  }
  .select-round-group .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 14px;
  }
  .select-round-group .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 14px;
    right: 15px;
  }
  .select-round-group .select2.select2-container {
    width: 100% !important;
  }
  .grid-view-body {
    padding: 0px 15px 30px 15px;
  }
  .pagination-root ul.pagination-ul li {
    margin-left: 4px;
    margin-right: 4px;
  }
  /* mobile responsive */
  .map-col-div {
    -webkit-animation-name: animation-tab !important;
            animation-name: animation-tab !important;
    position: fixed;
    bottom: 10px;
    z-index: 99;
    left: 50% !important;
  }
  .map-col-div .btn-color-big2 {
    background-color: #222;
    border: 1px solid #222;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 25px;
    padding: 5px 20px 4px 20px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    min-height: 44px;
    min-width: auto;
    border-radius: 100px;
    -webkit-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
  }
  .grid-view-section.list-view-section .show-listing-content-map {
    width: 100%;
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .map-view-section .home-map {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  .map-view-section .close-map-div {
    position: fixed;
    z-index: 99999;
    top: 10px;
    left: 10px;
  }
  .map-view-section .map {
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }
  .map-view-section .gm-style .gm-style-iw-c {
    max-width: 280px !important;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-prev {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-next {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .slider-div .btn.btn-round-circle {
    height: 28px;
    width: 28px;
  }
  .image-round-grid-card.image-round-grid-card .like-icon {
    width: 16px;
    height: 16px;
  }
  .image-round-grid-card.image-round-grid-card .share-icon {
    width: 14px;
    height: 16px;
  }
  .image-round-grid-card.image-round-grid-card {
    width: 100%;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card img.img-slider {
    height: 160px;
    border-radius: 0;
  }
  .image-round-grid-card.image-round-grid-card .slider-div {
    min-height: 160px;
  }
  .image-round-grid-card.image-round-grid-card .image-grid-body .content-div {
    padding: 10px 10px 10px 10px;
    min-height: 115px;
  }
  .map-view-section .gm-style-iw.gm-style-iw-c {
    min-height: 345px;
    min-width: 280px !important;
  }
  /* End of mobile responsive */
}

@media (min-width: 769px) and (max-width: 1023px) {
  /* mobile responsive */
  .top-grid-section-div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .map-col-div {
    -webkit-animation-name: animation-tab !important;
            animation-name: animation-tab !important;
    position: fixed;
    bottom: 10px;
    z-index: 99;
    left: 50% !important;
  }
  .map-col-div .btn-color-big2 {
    background-color: #222;
    border: 1px solid #222;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 25px;
    padding: 5px 20px 4px 20px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    min-height: 44px;
    min-width: auto;
    border-radius: 100px;
    -webkit-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
  }
  .grid-view-section.list-view-section .show-listing-content-map {
    width: 100%;
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .map-view-section .home-map {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  .map-view-section .close-map-div {
    position: fixed;
    z-index: 99999;
    top: 10px;
    left: 10px;
  }
  .map-view-section .map {
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }
  .map-view-section .gm-style .gm-style-iw-c {
    max-width: 280px !important;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-prev {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-next {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .slider-div .btn.btn-round-circle {
    height: 28px;
    width: 28px;
  }
  .image-round-grid-card.image-round-grid-card .like-icon {
    width: 16px;
    height: 16px;
  }
  .image-round-grid-card.image-round-grid-card .share-icon {
    width: 14px;
    height: 16px;
  }
  .image-round-grid-card.image-round-grid-card {
    width: 100%;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card img.img-slider {
    height: 160px;
    border-radius: 0;
  }
  .image-round-grid-card.image-round-grid-card .slider-div {
    min-height: 160px;
  }
  .image-round-grid-card.image-round-grid-card .image-grid-body .content-div {
    padding: 10px 10px 10px 10px;
    min-height: 115px;
  }
  .map-view-section .gm-style-iw.gm-style-iw-c {
    min-height: 345px;
    min-width: 280px !important;
  }
  /* End of mobile responsive */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .grid-view-header-top {
    padding: 20px 15px;
  }
  .grid-view-header-top .top-grid-section-div .width-230px {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 10px 0;
  }
  .grid-view-header-top .top-grid-section-div .width-150px {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 0 0 10px 0;
  }
  .middle-tab-header-col {
    padding: 10px 0px 0 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 245px);
            flex: 0 0 calc(100% - 245px);
    max-width: calc(100% - 245px);
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .middle-tab-header-col ul.custom-nav-tabs .nav-item {
    margin: 0 10px 0 0;
  }
  .middle-tab-header-col ul.custom-nav-tabs .nav-link {
    font-size: 14px;
  }
  .middle-tab-header-col .nav-tab-root {
    min-height: auto;
  }
  .top-grid-section-div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .map-col-div {
    -webkit-animation-name: animation-tab !important;
            animation-name: animation-tab !important;
    position: fixed;
    bottom: 10px;
    z-index: 99;
    left: 50% !important;
  }
  .map-col-div .btn-color-big2 {
    background-color: #222;
    border: 1px solid #222;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 25px;
    padding: 5px 20px 4px 20px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    min-height: 44px;
    min-width: auto;
    border-radius: 100px;
    -webkit-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
  }
  .grid-view-section.list-view-section .show-listing-content-map {
    width: 100%;
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-view-filter-top {
    padding: 30px 15px 10px 15px;
  }
  .filter-root-div {
    margin-right: -5px;
    margin-left: -5px;
    width: auto;
  }
  .filter-root-div .filter-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 0 5px 10px 5px;
  }
  .filter-root-div .min-width-360 {
    min-width: 260px;
  }
  .filter-root-div .filter-box.filter-mobile-box-right .min-width-360 {
    min-width: 260px;
    right: 0;
    left: -85px !important;
    -webkit-transform: translate3d(-10px, 42px, 0px) !important;
            transform: translate3d(-10px, 42px, 0px) !important;
  }
  .filter-root-div .btn-filter {
    border-radius: 30px;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 15px 8px 15px;
    width: 100%;
  }
  .filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple {
    min-height: 48px;
    padding: 4px 25px 3px 15px;
    font-size: 16px;
  }
  .filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    height: 37px;
    font-size: 16px;
    line-height: 25px;
    min-width: 180px;
  }
  .grid-view-filter-top .right-sorting-div {
    padding: 10px 0;
  }
  .grid-view-filter-top .right-sorting-div .form-div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .select-round-group .select-custom2 span.select2-selection.select2-selection--single {
    margin-bottom: 15px;
    min-height: 42px;
    font-size: 14px;
    line-height: 24px;
    padding: 5px 15px 10px 11px;
  }
  .select-round-group .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 14px;
  }
  .select-round-group .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 14px;
    right: 15px;
  }
  .grid-view-body {
    padding: 0px 15px 30px 15px;
  }
  .map-view-section .close-map-div {
    top: 10px;
    left: 10px;
  }
  /* mobile responsive */
  .grid-view-section.list-view-section .show-listing-content-map {
    width: 100%;
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .map-view-section .home-map {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  .map-view-section .close-map-div {
    position: fixed;
    z-index: 99999;
  }
  .map-view-section .map {
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }
  .map-view-section .gm-style .gm-style-iw-c {
    max-width: 280px !important;
  }
  /* End of mobile responsive */
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-prev {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-next {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .slider-div .btn.btn-round-circle {
    height: 28px;
    width: 28px;
  }
  .image-round-grid-card.image-round-grid-card .like-icon {
    width: 16px;
    height: 16px;
  }
  .image-round-grid-card.image-round-grid-card .share-icon {
    width: 14px;
    height: 16px;
  }
  .grid-view-section.list-view-section .image-grid-card.image-round-grid-card .slider-div {
    min-height: 160px;
  }
  .image-round-grid-card.image-round-grid-card {
    width: 100%;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card img.img-slider {
    height: 160px;
    border-radius: 0;
  }
  .image-round-grid-card.image-round-grid-card .slider-div {
    min-height: 160px;
  }
  .image-round-grid-card.image-round-grid-card .image-grid-body .content-div {
    padding: 10px 10px 10px 10px;
    min-height: 115px;
  }
  .map-view-section .gm-style-iw.gm-style-iw-c {
    min-height: 345px;
    min-width: 280px !important;
  }
  .filter-root-div .filter-box.filter-mobile-box-right .min-width-360 {
    min-width: 260px;
    right: auto;
    left: 10px !important;
    -webkit-transform: translate3d(-10px, 42px, 0px) !important;
            transform: translate3d(-10px, 42px, 0px) !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid-view-header-top {
    padding: 20px 15px;
  }
  .grid-view-filter-top {
    padding: 30px 15px 10px 15px;
  }
  .filter-root-div {
    margin-right: -5px;
    margin-left: -5px;
    width: auto;
  }
  .filter-root-div .filter-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 0 5px 10px 5px;
  }
  .filter-root-div .min-width-360 {
    min-width: 260px;
  }
  .filter-root-div .filter-box.filter-mobile-box-right .min-width-360 {
    min-width: 260px;
    right: 0;
    left: -85px !important;
    -webkit-transform: translate3d(-10px, 42px, 0px) !important;
            transform: translate3d(-10px, 42px, 0px) !important;
  }
  .filter-root-div .btn-filter {
    border-radius: 30px;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 15px 8px 15px;
    width: 100%;
  }
  .filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple {
    min-height: 48px;
    padding: 4px 25px 3px 15px;
    font-size: 16px;
  }
  .filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    height: 37px;
    font-size: 16px;
    line-height: 25px;
    min-width: 180px;
  }
  .grid-view-filter-top .right-sorting-div {
    padding: 0px 0;
  }
  .grid-view-filter-top .right-sorting-div .form-div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .select-round-group .select-custom2 span.select2-selection.select2-selection--single {
    margin-bottom: 15px;
    min-height: 42px;
    font-size: 14px;
    line-height: 24px;
    padding: 5px 15px 10px 11px;
  }
  .select-round-group .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 14px;
  }
  .select-round-group .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 14px;
    right: 15px;
  }
  .grid-view-body {
    padding: 0px 15px 30px 15px;
  }
  /* mobile responsive */
  .map-view-section .close-map-div {
    top: 10px;
    left: 10px;
  }
  .grid-view-section.list-view-section .show-listing-content-map {
    width: 100%;
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-prev {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-next {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .slider-div .btn.btn-round-circle {
    height: 28px;
    width: 28px;
  }
  .image-round-grid-card.image-round-grid-card .like-icon {
    width: 16px;
    height: 16px;
  }
  .image-round-grid-card.image-round-grid-card .share-icon {
    width: 14px;
    height: 16px;
  }
  .map-view-section .home-map {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  .map-view-section .close-map-div {
    position: fixed;
    z-index: 99999;
  }
  .map-view-section .map {
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }
  .map-view-section .gm-style .gm-style-iw-c {
    max-width: 280px !important;
  }
  .image-round-grid-card.image-round-grid-card {
    width: 100%;
  }
  .image-round-grid-card.image-round-grid-card {
    width: 100%;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card img.img-slider {
    height: 160px;
    border-radius: 0;
  }
  .image-round-grid-card.image-round-grid-card .slider-div {
    min-height: 160px;
  }
  .image-round-grid-card.image-round-grid-card .image-grid-body .content-div {
    padding: 10px 10px 10px 10px;
    min-height: 115px;
  }
  .map-view-section .gm-style-iw.gm-style-iw-c {
    min-height: 345px;
    min-width: 280px !important;
  }
  /* End of mobile responsive */
  .grid-view-body .category-card-root .grid-col {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .filter-root-div .filter-box.filter-mobile-box-right .min-width-360 {
    min-width: 260px;
    right: auto;
    left: 10px !important;
    -webkit-transform: translate3d(-10px, 42px, 0px) !important;
            transform: translate3d(-10px, 42px, 0px) !important;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (min-height: 1020px) {
  .grid-view-header-top {
    padding: 20px 15px;
  }
  .grid-view-filter-top {
    padding: 30px 15px 10px 15px;
  }
  .filter-root-div {
    margin-right: -5px;
    margin-left: -5px;
    width: auto;
  }
  .filter-root-div .filter-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 0 5px 10px 5px;
  }
  .filter-root-div .min-width-360 {
    min-width: 260px;
  }
  .filter-root-div .filter-box.filter-mobile-box-right .min-width-360 {
    min-width: 260px;
    right: 0;
    left: -85px !important;
    -webkit-transform: translate3d(-10px, 42px, 0px) !important;
            transform: translate3d(-10px, 42px, 0px) !important;
  }
  .filter-root-div .btn-filter {
    border-radius: 30px;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 15px 8px 15px;
    width: 100%;
  }
  .filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple {
    min-height: 48px;
    padding: 4px 25px 3px 15px;
    font-size: 16px;
  }
  .filter-root-div .select-multiple-custom .select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    height: 37px;
    font-size: 16px;
    line-height: 25px;
    min-width: 180px;
  }
  .grid-view-filter-top .right-sorting-div {
    padding: 0px 0;
  }
  .grid-view-filter-top .right-sorting-div .form-div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .select-round-group .select-custom2 span.select2-selection.select2-selection--single {
    margin-bottom: 15px;
    min-height: 42px;
    font-size: 14px;
    line-height: 24px;
    padding: 5px 15px 10px 11px;
  }
  .select-round-group .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 14px;
  }
  .select-round-group .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 14px;
    right: 15px;
  }
  .grid-view-body .category-card-root .grid-col {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .grid-view-body {
    padding: 0px 15px 30px 15px;
  }
  .map-view-section .close-map-div {
    top: 10px;
    left: 10px;
  }
  /* mobile responsive */
  .map-view-section .close-map-div {
    top: 10px;
    left: 10px;
  }
  .grid-view-section.list-view-section .show-listing-content-map {
    width: 100%;
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-prev {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-next {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .slider-div .btn.btn-round-circle {
    height: 28px;
    width: 28px;
  }
  .image-round-grid-card.image-round-grid-card .like-icon {
    width: 16px;
    height: 16px;
  }
  .image-round-grid-card.image-round-grid-card .share-icon {
    width: 14px;
    height: 16px;
  }
  .map-view-section .home-map {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  .map-view-section .close-map-div {
    position: fixed;
    z-index: 99999;
  }
  .map-view-section .map {
    height: 100%;
    width: 100%;
    min-height: 100vh;
  }
  .map-view-section .gm-style .gm-style-iw-c {
    max-width: 280px !important;
  }
  .image-round-grid-card.image-round-grid-card {
    width: 100%;
  }
  .image-round-grid-card.image-round-grid-card {
    width: 100%;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card img.img-slider {
    height: 160px;
    border-radius: 0;
  }
  .image-round-grid-card.image-round-grid-card .slider-div {
    min-height: 160px;
  }
  .image-round-grid-card.image-round-grid-card .image-grid-body .content-div {
    padding: 10px 10px 10px 10px;
    min-height: 115px;
  }
  .map-view-section .gm-style-iw.gm-style-iw-c {
    min-height: 345px;
    min-width: 280px !important;
  }
  /* End of mobile responsive */
  /** Changes in grid map width  */
  .map-view-section .home-map {
    top: 56px;
  }
  .grid-view-section.list-view-section .show-listing-content-map {
    width: 65%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .grid-view-section.list-view-section .show-map-frame {
    width: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
  .map-view-section .home-map {
    width: 35%;
  }
  .map-view-section .close-map-div {
    left: calc(65% + 15px);
    top: 66px;
  }
  .map-view-section .map {
    min-height: calc(100vh - 56px);
  }
  .filter-root-div .filter-box.filter-mobile-box-right .min-width-360 {
    min-width: 260px;
    right: auto;
    left: 10px !important;
    -webkit-transform: translate3d(-10px, 42px, 0px) !important;
            transform: translate3d(-10px, 42px, 0px) !important;
  }
  /** End of Changes in grid map width  */
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .grid-view-header-top {
    padding: 20px 15px;
  }
  .grid-view-filter-top {
    padding: 30px 15px 10px 15px;
  }
  .grid-view-body {
    padding: 0px 15px 30px 15px;
  }
  .grid-view-section.list-view-section .grid-view-header-top {
    padding: 20px 0px;
    margin: 0 15px;
  }
  .grid-view-section.list-view-section .grid-view-filter-top {
    padding-left: 15px;
    padding-right: 15px;
  }
  .grid-view-section.list-view-section .grid-view-body {
    padding-left: 15px;
    padding-right: 15px;
  }
  .grid-view-section.list-view-section .grid-view-header-top .middle-tab-header-col {
    padding: 0 0px 0 20px;
  }
  ul.custom-nav-tabs .nav-item {
    margin: 0 15px 0 0;
  }
  ul.custom-nav-tabs .nav-link {
    font-size: 16px;
    line-height: 24px;
  }
  .map-view-section .close-map-div {
    top: 66px;
  }
  .map-view-section .home-map {
    top: 56px;
  }
  .map-view-section .map {
    min-height: calc(100vh - 56px);
  }
  /* mobile responsive */
  .map-view-section .gm-style .gm-style-iw-c {
    max-width: 280px !important;
  }
  .grid-view-section.list-view-section .image-grid-card.image-round-grid-card .slider-div {
    min-height: 160px;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-prev {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card .owl-nav .owl-next {
    width: 24px !important;
    height: 24px !important;
    top: 75px;
  }
  .image-round-grid-card.image-round-grid-card .slider-div .btn.btn-round-circle {
    height: 28px;
    width: 28px;
  }
  .image-round-grid-card.image-round-grid-card .like-icon {
    width: 16px;
    height: 16px;
  }
  .image-round-grid-card.image-round-grid-card .share-icon {
    width: 14px;
    height: 16px;
  }
  .image-round-grid-card.image-round-grid-card {
    width: 100%;
  }
  .image-round-grid-card.image-round-grid-card .owl-slider-card img.img-slider {
    height: 160px;
    border-radius: 0;
  }
  .image-round-grid-card.image-round-grid-card .slider-div {
    min-height: 160px;
  }
  .image-round-grid-card.image-round-grid-card .image-grid-body .content-div {
    padding: 10px 10px 10px 10px;
    min-height: 115px;
  }
  .map-view-section .gm-style-iw.gm-style-iw-c {
    min-height: 345px;
    min-width: 280px !important;
  }
  /* End of mobile responsive */
}

@media (min-width: 1025px) and (max-width: 1100px) {
  .grid-view-filter-top {
    zoom: 95%;
  }
}
/*# sourceMappingURL=grid-view.css.map */