@charset "utf-8";

/* Import styleSheet */

@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(owl.carousel.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(../fonts/Georgia/Georgia_font.css);

/* End of import styleSheet */

/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:#2E2E2E;
$lightblack-color:rgba(0, 0, 0, 0.4);

$red-color: #F98169;
$red-color2: #ea745d;

$primary-color:#092A47;
$primary-color-hover:#092A47;

/* End of colors */

/* font family */

$Georgia: "Georgia";
$Muli : 'Muli';
$Poppins : 'Poppins';

/* font family */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch;  }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth;   }
body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; scroll-behavior: smooth;     overflow-x: hidden;  }

/*  general css */

.container { max-width: 1200px; } 
.container-1300 { max-width: 1300px; } 

.white-color{ fill: $white-color; }

.top-minues10{ margin-top: -10px !important; }
.ml-10{ margin-left: 10px !important; }
.mt-10{ margin-top: 10px !important; }
.mr-10{ margin-right: 10px; }
.p0{ padding: 0px !important; }

/*  */

a { color: $primary-color; &:hover{ color: $primary-color-hover; } }
h2{ padding: 0; margin: 0 0 20px 0; font-family: $Georgia; font-size: 36px; color: #2E2E2E; letter-spacing: 0; line-height: 46px; font-weight: 700; }
p{ font-family: $Muli; padding: 0; margin: 0 0 10px 0; width: 100%; font-weight: 400; font-size: 20px; color: rgba(46,46,46,0.50); letter-spacing: 0; line-height: 28px; }
.position-initial{ position: initial; }

.btn.btn-primary-round {
    background: #F6F2EB; border-radius: 100px; font-weight: 400; font-size: 20px; color: #2E2E2E; letter-spacing: 0; display: flex; align-items: center; justify-content: space-between; padding: 0 0px 0px 30px; min-height: 46px; line-height: 24px; border: 0px solid #F6F2EB; transition: all 0.8s;
    .text{ padding: 0 25px 0 0; }  
    span.span-round { background: #EDE5D8; border-radius: 100px; color: #F98169; display: flex; align-items: center; justify-content: center; height: 48px; width: 48px; }
    &:hover, &:focus{ 
        background: #f68069;  color: #fff;
    }
}

.header-div .AddNewListingButton{
    background: #F6F2EB !important; border-radius: 100px !important; font-weight: 400 !important; font-size: 20px !important; color: #2E2E2E; letter-spacing: 0; display: flex !important; align-items: center !important; justify-content: flex-start !important; padding: 0 0px 0px 30px; min-height: 46px; line-height: 24px; border: 0px solid #F6F2EB; transition: all 0.8s;     margin-right: 70px !important; height: auto !important; 
    cursor: pointer;margin-left: 80px !important;    position: relative;    overflow: visible; font-family: $Muli;
    .AddNewListingButton__backgroundContainer__4Nn3Z { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 22px; transition: background-color 100ms ease-in, -webkit-filter 100ms ease-in; transition: filter 100ms ease-in, background-color 100ms ease-in, -webkit-filter 100ms ease-in; will-change: filter; }
    .AddNewListingButton__desktop__17Luf {
        font-weight: 500;
        font-size: 20px !important;
        color: #2E2E2E;
        padding: 0 70px 0 0px !important;
        line-height: 24px !important;
        margin: 0 !important;
        height: auto !important;
        min-height: auto !important;
        min-width: auto !important;
        font-family: $Muli !important;
    }
    .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile{
        font-weight: 400;
        font-size: 20px !important;
        color: #2E2E2E;
        padding: 0 70px 0 0px !important;
        line-height: 24px !important;
        margin: 0 !important;
        height: auto !important;
        min-height: auto !important;
        min-width: auto !important;
        font-family: $Muli !important;
    }

    span.span-round { background: #EDE5D8; border-radius: 100px; color: #F98169; display: flex; align-items: center; justify-content: center; height: 48px; width: 48px; }
    &:hover, &:focus{ 
        background: #f68069;  color: #fff;
    }
    .AddNewListingButton_background { display: none !important;}
    &:after {
        content: "\e56c"; position: absolute; border-bottom: 0px solid transparent; border-top: 0px solid transparent; border: none; margin-left: 0; left: auto; top: 0; right: 0; font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; line-height: 1; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-feature-settings: 'liga'; -webkit-font-smoothing: antialiased; color: #ffff; background: #EDE5D8; border-radius: 100px; color: #F98169; display: flex; align-items: center; justify-content: center; height: 48px; width: 48px;
    }

    &:hover, &:focus{ 
        background: #f68069 !important;  color: #fff;
        .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile{  color: #fff !important; }
        .AddNewListingButton__desktop__17Luf {  color: #fff !important; }
        &:after, &:active:after {
            border-right: 0px solid #F98169 !important;
        }
    }

}

.main-middle-area {

    .info__button{ 
        margin-top: 20px; padding: 22px 40px; border: 1px solid #F98169; background-color: #F98169; color: $white-color; justify-content: center; font-weight: 700; font-size: 22px; color: #FFFFFF; line-height: 30px; border-radius: 0px; transition: all 0.9s;  font-family: $Muli !important;     display: inline-block;
        &:hover, &:focus{ 
            border: 1px solid #F98169; background-color: #F98169; box-shadow: 0px 15px 29px 0px rgba(249,129,105,0.68); transform: translateY(-2px);
        }
    }
    

    .listings__button--ghost {
        margin: 20px auto 20px auto;
        padding: 22px 40px;
        background-color: #FDFDFD;
        border: 1px solid #2E2E2E;
        justify-content: center;
        font-weight: 700;
        font-size: 22px;
        color: #2E2E2E;
        line-height: 30px;
        border-radius: 0px;
        transition: all 0.9s;
        font-family: "Muli" !important;
        display: inline-block;
        text-transform: capitalize;
        &:hover, &:focus{ 
            border: 1px solid #2E2E2E;
            background-color: #2E2E2E;
            box-shadow: 0px 15px 29px 0px rgba(0, 0, 0, 0.2);
            transform: translateY(-2px);
            color: #fff;
        }
    }

    
}


.btn-link { padding: 0; margin: 0; width: 100%; font-size: 16px; font-weight: 500; line-height: 30px; color: $primary-color; position: relative; transition: 0.8s;
    &::after{ content: ""; position: absolute; width: 40px; height: 1px; background-color: $primary-color; bottom: -2px; left: 0;  transition: 0.8s; }

    &:hover, &:focus {
        color: $primary-color; 
        &::after{ background-color: $primary-color; width: 100%; }
    }

}

.max3-lines{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; }

.return-to-top { 
    position: fixed; bottom: 25px; right: 25px;    background: #2E2E2E; width: 50px; height: 50px; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 999; 
    i { color: $white-color; margin: 0; position: relative; left: auto; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: initial; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
       &:hover { 
        background: $primary-color;
        i { color: $white-color; }
    }
    
}   

.display_show{ display: block; }
.position-fixed{ position: unset !important; overflow: hidden; }


/* select2 */

.select-box{  position: relative; display: flex; align-items: center;  }
.form-control.select-control { border: 1px solid #092A47; border-radius: 0px; min-height: 50px; color: $primary-color; padding: 0 20px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: #092A47; position: relative; }
.form-control.select-control:focus{ outline: none; box-shadow:none; }

.select-custom2{ 
    span.select2-selection.select2-selection--single { border: 1px solid #DFEAF1 !important; border-radius: 0px; min-height: 50px; color: #3C454C; padding: 10px 10px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: #FAFCFD; position: relative; }
    .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius: 
        0 0px 0px 0; height: 47px; width: 37px; background-color: transparent; border: none; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{     border: none; top: 15px; left: 10px;
        &::before{ content: ""; -webkit-mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%; mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%; -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 24px; height: 24px; background-color: $lightblack-color; transform: rotate(180deg);  }        
} 
}
.select2-container .select2-dropdown .select2-search input { outline: none; border: 1px solid #DFEAF1; border-bottom: none; padding: 10px 10px; }
.select2-container .select2-dropdown .select2-results ul { background: #fff; border: 1px solid #DFEAF1; }
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] { background-color: $primary-color; }
.select2-results__option { padding: 10px; }
 
/* end of select2 */

/*  End of general css */


.heading-div{ 
    padding: 0; margin: 0; position: relative; 
    h2{  
        padding: 0; margin: 0 0 35px 0; color: $primary-color; font-size: 40px; font-weight: 600; line-height: 60px; text-align: center;
        span{ display: block; }
    }
    p{ padding: 0; margin: 0 0 0px 0; width: 100%; text-align: center; font-size: 18px; font-weight: 300; line-height: 1.5; color: $primary-color; }
}

.heading-left-div{
    padding: 0; margin: 0; position: relative; 
    h2{  
        margin: 0 0 5px 0; 
        span{ display: block; }
    }
    p{ margin: 0 0 10px 0; }
}

/* header */

/* End of header */

/* add custom.css changes */

.header-div{
    .topbar-placeholder { z-index: 9999; transition: all 0.8s; top:0;   width: 100%; background: none;  height: auto; position: fixed; }
    .Logo__logoImage__3oOkB { height: auto; width: 122px; object-fit: contain; object-position: left; }
    .link-nav { font-weight: 400; font-size: 14px; color: #2E2E2E !important; padding: 0 20px; }
    .link-nav:hover { color: #F98169 !important;  }
    .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG { border-right: 1px solid rgba(169,169,169,0.30); }
    .Topbar__topbar__7GUWt{ height: auto;  box-sizing: border-box;display: flex; flex-wrap: nowrap; justify-content: space-between;
        -webkit-box-align: center; align-items: center;     font-size: 14px;     background: none!important; position: relative;
        border: 0!important; padding: 0!important; max-width: 1200px; margin: 0 auto; -webkit-box-pack: justify; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; flex-direction: row;  min-height: 120px; }  

    .Topbar__topbarMenuSpacer__3hqBi { display: none!important; }
    .MenuPriority__menuPriority__3y3Pu { display: flex; align-items: center; }
    .MenuPriority__priorityLinks__XgHdH{     overflow: hidden;    overflow: hidden;    position: absolute; top: -2000px; left: -2000px; width: 100%; }
    .MenuPriority__priorityLink__moBbL { display: inline-block; margin-right: 18px; color: #525961; letter-spacing: 0.22px; font-size: 14px; line-height: 60px; white-space: nowrap; }
    .MenuPriority__hiddenLinks__1LcCU { z-index: 2; }
    .Menu__menu__1nYnK { font-family: $Muli; cursor: default; }
    .MenuMobile__overlay__2sZqq { display: block; cursor: pointer; position: fixed; top: 0; left: 0; z-index: 9; height: 0; width: 100vw; background-color: #000; opacity: 0;  transition-duration: 500ms; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-property: opacity; }
    .Topbar__topbarMobileMenu__3z-JE { font-size: 17px; margin-right: 0; }
    .MenuMobile__menuLabelMobile__3uXwZ { display: inline-block; padding: 18px 18px; cursor: pointer; position: relative; 
        &:focus{
            box-shadow: none !important; outline: none !important;
        }
    }
    .MenuMobile__offScreenMenu__2fKaS { display: flex; width: 288px; height: 100%; max-height: 100%; background-color: white; position: fixed; top: 0; left: 0; right: auto; z-index: 10; overflow-x: hidden; overflow-y: auto; will-change: transform; -webkit-transform: translateX(-288px); transform: translateX(-288px); -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition-duration: 500ms; transition-duration: 500ms; -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; }
    .MenuMobile__scrollPane__2VvXd { display: flex;flex-direction: column; flex-wrap: nowrap; width: 100%; height: auto; min-height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; }
    .MenuMobile__offScreenHeader__KnANh { display: flex; margin: 0.5882352941176471em 0.9285714285714286em 0.5882352941176471em 1.411764705882353em; -webkit-flex-shrink: 0; flex-shrink: 0; }
    .MenuMobile__offScreenMain__1ruzb { -webkit-box-flex: 1; -webkit-flex-grow: 1; flex-grow: 1; -webkit-flex-shrink: 0; flex-shrink: 0; }
    .MenuMobile__offScreenFooter__3sjuV { background-color: #F7F7F7; margin-top: 0; }
    .Topbar__topbarMediumSpacer__cbOwg { display: none; }
    .Topbar__topbarMobileSearchPlaceholder__117MG {  width: 50px; }
    
    .LoginLinks__links__z-Tnd { height: 100%; font-family: $Muli; }
    .Topbar__topbarLinks__CCME8 { display: none; }

    .LoginLinks{
        .Link__link__3pNRT { font-weight: 400; font-size: 14px; color: #2E2E2E !important; padding: 0 20px;    font-family: 'Muli', sans-serif;     transition: all 100ms ease-in; }
        .Link__link__3pNRT:hover { color: #F98169 !important;  }
    }

    /* open menu */

    .MenuMobile__menuMobileOpen__3OIsv { overflow-y: hidden; }
    .MenuMobile__offScreenHeader__KnANh{ margin: 0; }
    .MenuMobile__menuSectionTitle__2HlQg { font-size: 12px; position: relative; min-width: 144px; list-style: none; display: flex; justify-content: flex-start; padding: 20px 15px; color: rgba(153,153,153,0.5); width: 100%; letter-spacing: 3px; text-transform: uppercase; font-weight: 600;  }
    .MenuItem.MenuItem__menuitem__3_-l_.MenuMobile__menuSectionMenuItem__2yMLC { margin: 0 0 10px 0 ; font-weight: 400; font-size: 16px; color: #2E2E2E !important; padding: 8px 15px; display: block; font-family: $Muli; position: relative; }
    span.MenuItem__activeIndicator__2AB6n { position: absolute; left: 0; top: 0; height: 100%; width: 2px; }

    .MenuMobile__canvasOpen__3CorC{
        .MenuMobile__overlay__2sZqq { height: 100vh; opacity: 0.95; }
        
    } 

    /* End of open menu */

    /* user */
    .Topbar__topbar__7GUWt>.Topbar__topbarAvatarDropdown__3FkXQ { width: 44px; padding: 17.5px 0; }
    .Topbar__topbar__7GUWt>.Topbar__topbarAvatarDropdown__3FkXQ { margin: 0 0 0 0; position: absolute !important; right: 15px; z-index: 9; top: 20px; width: auto; }
    .AvatarDropdown__avatarDropdown__1Vjt6 .AvatarDropdown__avatarProfileDropdown__2gYjH { visibility: hidden; margin-bottom: 0; }
    .Avatar__textAvatar__4oTir { width: 100%; border-radius: 50%; display: flex; height: 55px !important; width: 55px !important; justify-content: center; align-items: center; color: #fff; background-color: #F6F2EB; border: 5px solid #F6F2EB; font-weight: 700; font-family: "Georgia"; font-size: 18px; line-height: 24px; }
    .Avatar.Avatar__avatar__Jub8R{ width: 100%; border-radius: 50%; display: flex; height: 55px !important; width: 55px !important; justify-content: center; align-items: center; color: #fff; background-color: #F6F2EB; border: 5px solid #F6F2EB; font-weight: 700; font-family: "Georgia"; font-size: 18px; line-height: 24px; }
    .ProfileDropdown__box__T_uM4 { position: absolute; border: 0px solid rgba(169,172,176,0.5); right: 24px; display: flex; flex-direction: column; background-color: white; box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1); border-radius: 6px; z-index: 6; }
    .ProfileDropdown__profileAction__1H9nm { border-right: 1px solid rgba(169,172,176,0.2);}
    .ProfileDropdown__logoutArea__38Dcu { border-top: 1px solid rgba(169,172,176,0.2); padding: 0.69em 1.15em; font-size: 0.9285714285714286em; }
    .ProfileDropdown__rootArrowTop__3Vvtx { border-color: transparent; border-bottom-color: white; border-width: 7px; margin-left: -7px; z-index: 7; top: 0px; }
    .ProfileDropdown__rootArrowTop__3Vvtx, .ProfileDropdown__rootArrowBelow__3YUUJ { bottom: 100%; left: 50%; border: solid transparent; content: ' '; height: 0; width: 0; pointer-events: none; position: relative; }
    .ProfileDropdown__rootArrowBelow__3YUUJ { border-color: transparent; border-bottom-color: rgba(169,172,176,0.5); border-width: 9px; margin-left: -9px; top: -18px; }
    .ProfileDropdown__rootArrowTop__3Vvtx, .ProfileDropdown__rootArrowBelow__3YUUJ { bottom: 100%; left: 50%; border: solid transparent; content: ' '; height: 0; width: 0; pointer-events: none; position: relative; }
    .ProfileDropdown__rootArrowBelow__3YUUJ { border-color: transparent; border-bottom-color: rgba(169,172,176,0.5); border-width: 9px; margin-left: -9px; top: -18px; }
    .ProfileDropdown__box__T_uM4 { right: -20px !important; margin-top: -20px; }
    .ProfileDropdown__box__T_uM4 { position: absolute; border: 1px solid rgba(169,172,176,0.5); right: 24px; display: flex; flex-direction: column; background-color: white; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1); border-radius: 3px; z-index: 6;}
    .ProfileDropdown__profileActions__34o4h { display: flex; }
    .ProfileDropdown__profileAction__1H9nm { width: 8.6em; height: 8.6em; border-right: 1px solid rgba(169,172,176,0.5); display: flex; flex-direction: column; align-items: center; justify-content: center; cursor: pointer; color: #525961; padding: 0 0.69em; text-align: center; }
    .ProfileDropdown__profileActionIconWrapper__1v7N_ { position: relative; flex-basis: 60%; display: flex; align-items: flex-end; }
    .ProfileDropdown__profileActionLabel__2lW8j { flex-basis: 40%; text-align: center; line-height: 1.25em; max-width: 100%; word-wrap: break-word; }
    .ProfileDropdown__logoutArea__38Dcu { border-top: 1px solid rgba(169,172,176,0.5); padding: 0.69em 1.15em; font-size: 0.9285714285714286em; }
    .ProfileDropdown__logoutLink__15uxw { float: right; cursor: pointer; color: #7a7d80; }
    &.header-bgcolor{
        .Topbar__topbar__7GUWt>.Topbar__topbarAvatarDropdown__3FkXQ { top: 0; }
    }
    /* user */

     /* Solved header issues */

     .MenuMobile__menuLabelMobile__3uXwZ { padding: 18px 15px 18px 15px; }

     .MenuMobile__scrollPane__2VvXd{
         .MenuMobile__offScreenHeader__KnANh { padding: 20px 15px; background-color: #fafafa; }
         .AddNewListingButton { margin-left: 10px !important; }
         .MenuItem.MenuItem__menuitem__3_-l_.MenuMobile__menuSectionMenuItem__2yMLC{ padding: 0 !important; }
         .MenuItem__menuitemLink__2Eedg { padding: 10px 15px !important; }
     }
     

     /* End of Solved header issues */

}

.header-bgcolor{
    .Topbar__topbar__7GUWt { height: auto; min-height: 80px; }
    .topbar-placeholder { background-color: #fff;box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05); }
}

/* End of add custom.css changes */

.main-middle-area{
    // padding-top: 120px;
}

/* banner */

.banner-section{  
    padding: 0; margin: 0; position: relative; 



    /* custom.css changes */
    
    .hero__content { min-width: 100%; text-align: left; }
    .hero__content-container { text-align: left; }
    .hero__search-bar--combined { flex-direction: row;    margin: 0; }
    .hero__search-bar, .hero__search-bar--combined { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; -webkit-flex-shrink: 1; -moz-flex-shrink: 1; -ms-flex-shrink: 1; -o-flex-shrink: 1; flex-shrink: 1; margin: 0; max-width: 532px; }
    .hero__search-input-container, .hero__search-input-container--combined { border-left: 1px solid #F98169; border-top: 1px solid #F98169; border-bottom: 1px solid #F98169; }
    .hero__search-input-container--combined { background-color: #FFF; border-radius: 29.5px 0px 0px 29.5px; padding: 0px 0px 0px 24px; flex-direction: row; display: flex; width: 100%; background-color: #FFF; border-radius: 29.5px 0px 0px 29.5px; overflow: hidden; }
    .info__single_info_with_background_and_cta__1__info__button, .hero__search-button, .hero__search-button:active, .hero__signup-button, .hero__signup-button:active, .AddNewListingButton_background { background: #f98169 !important; padding-left: 40px; padding-right: 40px; }
    .hero__search-button--combined { display: block; border-radius: 0px 29.5px 29.5px 0px; }
    .hero__search-button, .hero__search-button--combined { border: 0; padding: 0; border-radius: 0px 29.5px 29.5px 0px; padding: 14px 32px 14px 28px; line-height: 32px; font-family: "Proxima Nova Soft", Helvetica, sans; font-weight: 500; font-size: 18px; color: #FFFFFF; letter-spacing: 0px; outline: none; -webkit-flex-shrink: 0; -moz-flex-shrink: 0; -ms-flex-shrink: 0; -o-flex-shrink: 0; flex-shrink: 0; display: none; }
    .hero__search-icon--combined { display: block; order: 0; padding: 19px 0px; -webkit-flex-shrink: 0; -moz-flex-shrink: 0; -ms-flex-shrink: 0; -o-flex-shrink: 0; flex-shrink: 0; order: 2; background: #FFF; cursor: pointer; 
        &:focus{
            box-shadow: none !important; outline: none !important;
        }
        &:hover, &:focus{
            svg.hero__search-icon-svg {
                fill: #f67f69;
                path#magnifier---simple-line-icons {
                    fill: #f67f69;
                }
            }
        }

    }
    .hero__search-icon-svg { width: 22px; height: 22px; display: block; }
    .hero__search-icon--base, .hero__search-icon, .hero__search-icon--combined { -webkit-flex-shrink: 0; -moz-flex-shrink: 0; -ms-flex-shrink: 0; -o-flex-shrink: 0; flex-shrink: 0; order: 2; background: #FFF; border: 0; cursor: pointer; padding: 15px 24px 15px 0px; }
    .hero__search-input, .hero__search-input--combined, .hero__keyword-search-input--combined, .hero__location-search-input--combined { font-weight: 500; order: 1; margin: 0; border: 0; width: 100%; color: #525961; font-size: 16px; letter-spacing: 0px; line-height: 32px; padding: 8px 12px 8px 0px; }
    .hero__search-button, .hero__search-button:active, .hero__signup-button, .hero__signup-button:active { background-color: rgb(192,150,120); }
    .info__single_info_with_background_and_cta__1__info__button, .hero__search-button, .hero__search-button:active, .hero__signup-button, .hero__signup-button:active, .AddNewListingButton_background { background: #f98169 !important; padding-left: 40px; padding-right: 40px; }
    .hero__search-button--combined { display: block; border-radius: 0px 29.5px 29.5px 0px; }
    .hero__search-button, .hero__search-button--combined { border: 0; padding: 0; border-radius: 0px 29.5px 29.5px 0px; padding: 14px 32px 14px 28px; line-height: 32px; font-family: "Proxima Nova Soft", Helvetica, sans; font-weight: 500; font-size: 18px; color: #FFFFFF; letter-spacing: 0px; outline: none; -webkit-flex-shrink: 0; -moz-flex-shrink: 0; -ms-flex-shrink: 0; -o-flex-shrink: 0; flex-shrink: 0; display: none; }
    .hero__search-icon--base, .hero__search-icon, .hero__search-icon--combined { order: 0; padding: 19px 0px; }
    .hero__search-input--combined, .hero__keyword-search-input--combined, .hero__location-search-input--combined { font-size: 18px; letter-spacing: 0px; line-height: 32px; padding: 0px 24px 0px 18px; margin: 14px 0px; }
    .hero__search-button--combined { display: block; border-radius: 0px 29.5px 29.5px 0px; }
    .hero__location-search-input--combined { border-radius: 0; border-left: solid 1px #cccccc; }
    /* End of custom.css changes */


    .search-hero-main{
        .hero__search-bar--combined { background-color: #fff; padding: 8px; box-shadow: 0 12px 36px 0 rgba(236,236,236,0.54);  }
        input.hero__keyword-search-input--combined, .hero__location-search-input--combined { font-size: 18px; color: #2E2E2E; line-height: 30px; font-weight: 400; font-family: $Poppins;     min-height: 40px;
            &:focus{ outline: none; box-shadow: none; }
        }
        input::-webkit-input-placeholder { color: #767676 !important; font-weight: 400 !important; opacity: 1 !important; }
        input::-moz-placeholder { color: #767676 !important; font-weight: 400 !important;opacity: 1 !important;}
        input:-ms-input-placeholder { color: #767676 !important; font-weight: 400 !important;opacity: 1 !important;}
        input:-moz-placeholder { color: #767676 !important; font-weight: 400 !important;opacity: 1 !important;}
        .hero__search-input-container--combined { border-radius: 0;background: #FFFFFF; border: none;     padding: 0px 0px 0px 14px; }
        .hero__search-button--combined { display: block; border-radius: 0; font-weight: 600; font-size: 20px; color: #FFFFFF; line-height: 25px; font-family: $Muli; cursor: pointer;     background-color: #f68069 !important; transition: all 0.8s;
            &:hover{     background-color: #ea745d !important; }
        }
        .hero__location-search-input--combined { border-radius: 0; border-left: solid 1px #DBDBDB; }
        .hero__search-bar--combined{ max-width: 80%; }


    }

    .banner-div{ 
        padding: 0; margin: 0; position: relative; background-color: #F8F8F8;; display: flex; align-items: center; overflow: hidden;
        min-height: 100vh; padding-top: 120px;
        
        .bannerleft-8 { padding: 0; }
        .bannerright-4{ padding: 0; position: initial; }
        
        h1{ text-align: left; padding: 0; margin: 0 0 20px 0; font-weight: 700; font-family: $Georgia; font-size: 36px; color: #2E2E2E; letter-spacing: 0; line-height: 55px; max-width: 620px; padding-right: 20px; }
        .hero__subtitle{ text-align: left; padding: 0; margin: 0 0 30px 0; width: 100%; font-weight: 400; font-size: 20px; color: rgba(46, 46, 46, 0.5); letter-spacing: 0; line-height: 30px; max-width: 650px; padding-right: 20px; font-family: $Muli; }
        .span-block{ display: block; }

        .side-img-banner{ 
            position: absolute; right: 0; top: 0; width: 100%; flex: 0 0 40%; max-width: 40%;  min-height: 100%;
            &::before{ content:""; background-image: linear-gradient(180deg, #FFFFFF 6%, rgba(255,255,255,0.25) 34%, rgba(255,255,255,0.14) 65%); width: 100%; height: 100vh; position: absolute; top: 0; right: 0; }
            img.banner-img { width: 100%; object-fit: cover; height: 100vh; max-height: 100vh; }
        }

        .btn-video-play { font-weight: 400; font-size: 20px; color: #2E2E2E; letter-spacing: 0; line-height: 34px; display: flex; align-items: center; width: auto; padding: 30px 0px 30px 0; font-family: $Muli;
            span.material-icons { font-size: 48px; margin: 0 15px 0 0; display: flex; }
            &:hover{ color: #f68069; }
        }

    }

}

/* End of banner */

/* How supper social works & Share responsibly informed section */

.mx-width-640{ max-width: 640px !important; }

.general-image-section{
    padding: 0; margin: 0;  max-width: 100% !important;
    .general-image-div { padding: 100px 0 100px 0; }
    .img-fluid.img-responsive { width: 100%; }
    .mob_content.content-div { max-width: 430px; padding: 20px 0px; }
    
    .how-supper-social-works-row { padding-bottom: 45px; }
    .share-responsibly-informed-row { padding-top: 45px; }

}


/* End of How supper social works & share responsibly informed section */

/* Our story section */

.our-story-main-section{ padding: 50px 0 50px 0;
    #info__single_info_with_background_and_cta__1 {
        max-width: 100%; min-height: 500px; margin: 0; position: relative !important; border-radius: 0; display: flex;     padding: 80px 0px 70px 0;
        align-items: center; justify-content: center; text-align: center; color: #fff; z-index: 9; background-repeat: no-repeat; background-size: cover;
        &::before{ content: ""; height: 100%; width: 100%; background-color: rgba(46, 46, 46, .9); display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; z-index: 0; }

        .info__content--single-column { max-width: 1015px; z-index: 9; position: relative; margin: 0 auto; padding: 0 15px; }

        h1.info__title--single-column { font-size: 36px; color: #FFFFFF; line-height: 46px; margin: 0 0 40px 0; font-weight: 700; font-family: Georgia;  }
        p { font-weight: 400; font-size: 16px; color: rgba(255,255,255,0.80); letter-spacing: 0; line-height: 28px;  }
        .info__paragraph--markdown { padding: 0; margin: 0 0 30px 0; position: relative; }
        .info__paragraph--markdown>p { font-size: 16px;  letter-spacing: 0px; line-height: 28px; margin: 0px 0 10px 0px; text-align: justify; }

        .info__button{
            font-size: 18px;
            padding: 12px 40px;
            &:hover, &:focus{
                box-shadow: 0px 12px 29px 0px rgba(255, 255, 255, 0.2);
            }
        }

    }
}

/* End of our story section */

/* Latest Available Trades */

.listings__section.latest-available-trades-section{
    padding: 60px 0px 100px 0;
    h1.listings__title { padding: 15px; margin: 0 0 40px 0; font-family: $Georgia; font-size: 36px; color: #2E2E2E; letter-spacing: 0; line-height: 46px; font-weight: 700; text-align: center; }
    .listings__listings {
        display: flex; flex-wrap: wrap; padding: 0; flex-direction: row; margin: 0;
        .listings__listing {
            position: relative; display: flex; flex-direction: column; justify-content: space-between; overflow: hidden; background-color: #FFF; border-radius: 0px; box-shadow: 0px 17px 16px 0px rgba(235,241,245,0.55); width: 33.33333%; flex: 0 0 33.333333%; max-width: 31% !important; flex-grow: 1; margin: 0% 1% 4%; padding-bottom: 20px; transition: all 0.8s;
            .listings__listing-image-container, .listings__listing-image, .listings__listing-image--empty { width: 100%; padding-bottom: 0px; height: 275px; background-repeat: no-repeat; background-position: center; background-size: cover; transition: all 0.8s !important; }
            .listings__listing-title { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 0; font-family: $Georgia; font-weight: 700; line-height: 32px; margin: 0; padding: 20px 15px 5px 15px; font-size: 22px; color: #2E2E2E; letter-spacing: 0; text-align: center; }
            span.listings__author-name{ display: none; }
            .listings__listing-info {
                position: relative; bottom: auto; right: auto; margin: 0; display: flex; align-items: center; flex-direction: row; width: 100%; text-align: center; justify-content: center;
                span.listings__price-amount {
                    font-family: $Georgia; font-weight: 700; font-size: 30px; line-height: 36px; color: #F98169; letter-spacing: -0.38px; text-align: center;
                }
                .listings__price-container{
                    font-family: $Georgia;     width: 100%;  letter-spacing: -0.24px; text-align: center; line-height: 36px; color: #F98169; font-weight: 400;
                    .listings__price-unit{
                        font-size: 20px; font-style: italic;
                    }
                }
            }

            &:hover{
                background-color: #fff; box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.08);
                .listings__listing-image-container, .listings__listing-image, .listings__listing-image--empty { opacity: 0.6; transition: all 0.8s; }
            }
        }
    }
    .listings__content {
        max-width: 100%; padding: 0; margin: 0 auto; text-align: center; width: 100%;
    }
}

/* End of Latest Available Trades */


/*  Supper Stars   */

.supper-stars-section{
    padding: 60px 0; margin: 0; position: relative; background-color: #FAFAFA; border-top: 1px solid #DDDDDD;  border-bottom: 1px solid #DDDDDD;
    h1.listings__title { padding: 0 15px; margin: 0 0 30px 0; font-family: $Georgia; font-size: 36px; color: #2E2E2E; letter-spacing: 0; line-height: 46px; font-weight: 700; text-align: center; }
}

.owl-supper-stars{
    .card {
        display: flex; justify-content: center; align-items: center; min-width: 100%; min-height: 300px; overflow-x: auto; background-color: transparent; border: none; border-radius: 0px; padding: 5px; transition: all 0.8s;
        .card--content {
            background-color: transparent; margin: 0px; height: 100%; width: 100%; min-width: 100%; border-radius: 0px; position: relative; cursor: pointer; background-repeat: no-repeat; background-size: cover; background-position: center; transition: all 0.8s;
        }
        .card_innercontent {
            opacity: 0;
            background-repeat: no-repeat; background-size: cover; background-position: center; background-color: rgba(46, 46, 46, 0.62); box-shadow: 0 9px 26px 0 rgba(0,0,0,0.03); height: 100%; width: 100%; min-width: 100%; margin: 0px; min-height: 340px; border-radius: 0px; position: relative; cursor: pointer; display: flex; align-items: flex-start; justify-content: flex-end; flex-direction: column; padding: 10px 20px; transition: all 0.8s;
            h4 { font-weight: 800; font-size: 22px; color: #FFFFFF; line-height: 32px; letter-spacing: 0; border-bottom: 1px solid #F6F2EB; }
            p.star-rating { padding: 10px 65px 0 0; color: rgba(255, 255, 255, 0.4); display: flex; align-items: center; font-weight: 600; font-size: 22px;
                .material-icons { font-size: 26px; }
                .active{ color: #F98169; }
                .average-rating{ color: #F98169; padding: 0 0 0 10px; display: inline-block; }
            }
            .more { background: #F98169; box-shadow: 0 9px 26px 0 rgba(0,0,0,0.03); transition: all 0.8s; border-radius: 0px 0px 0px 0px; position: absolute; right: 0; bottom: 0; height: 55px; width: 70px; display: flex; align-items: center; justify-content: center; }
        }

        
    }
    .owl-stage {
        padding: 30px 0;
    }
    .owl-item:hover{
        z-index: 999;
        .card{
            border-radius: 24px !important; padding: 0; transform: scale(1.065);  z-index: 999; transition: all 0.8s;
           .card--content {
               border-radius: 24px !important;
               .card_innercontent{ opacity: 1;
                   border-radius: 24px !important;
                   .more{
                       border-radius: 0 0 24px 0 !important;
                   }
               }
           }
       }
    }
}

.right-arrow-icon{ height: 32px; width: 32px; display: inline-block; background-repeat: no-repeat; background-position: center; background-size:contain ; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='16px' viewBox='0 0 32 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Final-001' transform='translate(-1134.000000, -4730.000000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Cg id='Group-14' transform='translate(865.000000, 4445.000000)'%3E%3Cg id='arrow-right-(4)' transform='translate(270.000000, 286.000000)'%3E%3Cline x1='0' y1='7' x2='30' y2='7' id='Path'%3E%3C/line%3E%3Cpolyline id='Path' points='23 0 30 7 23 14'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

/* End of Supper Stars   */

.info__section--zebra.become-a-member-section{
    background: none;    color: #525961; padding: 100px 0px 100px 0;
    .info__content--single-column {
        background: transparent;
        max-width: 960px;
        padding: 40px 20px;
        text-align: center;
        margin: 0 auto;
        h1.info__title--single-column {
            font-weight: 700;
            font-family: Georgia, Times New Roman;
            font-size: 30px;
            color: #2E2E2E;
            letter-spacing: 0;
            text-align: center;
            line-height: 46px;
            margin: 0 0 20px 0;
        }

    }
    
    a.info__button--ghost {
        margin-top: 20px;
        font-size: 18px;
        padding: 12px 40px;
        border: 1px solid #F98169;
        background-color: #F98169;
        color: white;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 30px;
        border-radius: 0px;
        transition: all 0.9s;
        font-family: "Muli" !important;
        display: inline-block;
        &:hover, &:focus{
            border: 1px solid #F98169; background-color: #F98169; box-shadow: 0px 15px 29px 0px rgba(249,129,105,0.68); transform: translateY(-2px);
        }
    }

}

/* footer */

body {
    background: none;
}

.home-wrapper{
    background: #fff bottom right no-repeat;
}

.footer-div{
    padding: 0; margin: 0; position: relative;
    .footer__container--dark { background: none;     padding: 0 0 30px 0; }
    .footer__content { padding: 0; max-width: 100%; margin: 0 auto; display: flex; justify-content: center; flex-direction: column; }
    .footer__links-container, .footer__links-container--center {     display: flex;    justify-content: space-between; align-items: center; margin-bottom: 32px; flex-direction: row; max-width: 1188px;  }
    .footer__links-container { border-top: 1px solid rgba(112,112,112,0.18); border-bottom: 1px solid rgba(112,112,112,0.18); padding: 25px 0; max-width: 620px; }
    .footer__link-list { margin: 0 0px; padding: 0; list-style-type: none; text-align: center;  }
    .footer_logo { display: block; float: left; margin-left: 20px; margin-right: 20px; }
    .footer__link { display: inline-block; font-weight: 500; color: inherit; margin: 0; font-size: 13px; letter-spacing: 0px; padding: 12px 12px; }
    .footer__links-container .footer__link-list-item { display: inline-block; }
    .footer__container--dark .footer__link, .footer__container--marketplace_color .footer__link {     color: #707070; font-size: 16px; font-family: 'Muli', sans-serif; letter-spacing: 0px; padding: 5px 16px 5px 16px; line-height: 23px; }
    .footer__container--dark .footer__link:hover, .footer__container--marketplace_color .footer__link:hover { color: #F98169 !important; }

    .footer__logo-container {     margin-bottom: 0; display: flex; width: 100%; height: 100%; }
    .footer__logo-container .footer__link-list { float: left; text-align: left; margin: 0 0 30px 0; }
    .footer__logo-container .footer__link-list .footer__link-list-item { display: list-item; }
    .footer__logo-container .footer__link-list .footer__link-list-item .footer__link {     padding: 0 30px 0 0; line-height: 26px; margin: 0 0 6px 0; }

    .footer__social-media { padding: 0 0 40px 0; text-align: left; margin-bottom: 0; margin: 0 0px; }
    .footer__social-media-link { padding: 0px 0px; color: #A9A9A9; display: inline-block; font-size: 24px; margin: 0 30px 0 0;  
        &:hover{
            color: #F98169 !important;
        }
    }

    hr.footer__separator{
        border: none;
    }

    .footer__copyrights--markdown{ 
        margin: 10px 0 30px 0;
        p { font-family: $Muli; font-size: 16px; color: #626262; letter-spacing: -0.1px; line-height: 25px; }
    }

}

/* End of footer */



@media (min-width: 1201px) {
    
    .header-div {
        .Topbar__topbar__7GUWt .Topbar__topbarMobileMenu__3z-JE { display: none; }
        .Topbar__topbarMobileMenu__3z-JE { font-size: 17px; margin-right: 0; }
        .Topbar__topbar__7GUWt * { box-sizing: border-box; }
        .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG { min-width: 168px; max-height: 40px; max-width: 18em; }
        .Logo__logo__3sGgU{ height: 100%; display: flex; align-items: center; }
        .Topbar__topbar__7GUWt>* { margin-right: 24px; }
        .Topbar__topbarMediumSpacer__cbOwg { display: none; flex-grow: 1; }
        .Topbar__topbarMobileSearchPlaceholder__117MG{ width: 50px; display: none; }
        .Topbar__topbarMenuSpacer__3hqBi{     flex-grow: 1;    margin: 0; }
        .Topbar__topbarLinks__CCME8 { display: block;     float: left;flex-grow: 1;}
        .LoginLinks__link__1GboG { line-height: 80px;display: inline-block; height: 100%; }

    }
    
}

@media (min-width: 1025px) and (max-width: 1290px) {
    .container { max-width: 1100px; }
}

@media (min-width: 1025px) and (max-width: 1450px) {

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { font-size: 36px; line-height: 48px; }
    p{ font-size: 14px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (min-width: 767px) {
    
    
    .header-div {
        .AddNewListingButton__responsiveLayout__1JnL9 .AddNewListingButton__mobile__2JhHF {
            display: none; transition: filter 100ms ease-in,-webkit-filter 100ms ease-in; position: relative; padding: 0 1.5em; max-width: 15em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
        }
    }

    
}

@media (max-width: 767px) {

    body{ overflow-x: hidden; }
    body.overflow-fixed{ overflow-y:hidden; }

    .position-fixed { overflow: hidden; }
    .return-to-top { bottom: 15px; right: 15px; width: 30px; height: 30px; border-radius: 35px; }
    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { margin: 0 0 15px 0; font-size: 28px; line-height: 42px; max-width: 100%; }
    p{ font-size: 16px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }

    /********/

    /* custom.css change */

    .btn.btn-primary-round {
        font-size: 14px;
        padding: 0 0px 0px 15px;
        min-height: 40px;
        line-height: 24px;
        .text{ padding: 0 15px 0 0; }  
        span.span-round {
            height: 40px;
            width: 40px;
            span{ font-size: 18px; }
        }
    }

    .header-div .AddNewListingButton{
        padding: 0 0px 0px 5px;
        min-height: 40px;
        line-height: 27px; margin-left: 0;     margin-right: 30px !important;
        .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile {
            font-weight: 400;
            font-size: 14px !important;
            color: #2E2E2E !important;
            padding: 0 50px 0 10px !important;
            line-height: 40px !important;
            margin: 0 !important;
            height: auto !important;
            min-height: auto !important;
            min-width: auto !important;
            position: relative;
            padding: 0 1.5em;
            max-width: 15em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        
        }
        .AddNewListingButton__desktop__17Luf { display: none;}
        &::after {
            height: 40px;
            width: 40px;
            font-size: 18px;
        }
    }
    
    .header-div {
        .topbar-placeholder { width: 100%; }
        .Topbar__topbar__7GUWt { height: auto; min-height: 60px;flex-direction: row; background-color: #fff !important;   padding: 0 10px 0 0 !important; }
        .Logo__logoImage__3oOkB { height: auto; width: 85px;}
        .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG { border-right: 0px solid rgba(169, 169, 169, 0.3);    max-height: 32px; max-width: 70%; }
        
        .ProfileDropdown__profileAction__1H9nm { width: 100px; height: 80px; border-bottom: 1px solid rgba(169, 172, 176, 0.5); border-right: 0px solid rgba(169, 172, 176, 0.5);}
        .ProfileDropdown__box__T_uM4 { right: -0px !important; margin-top: -18px; }
        .ProfileDropdown__profileActions__34o4h { display: flex;  flex-direction: column; }
        .Topbar__topbar__7GUWt > .Topbar__topbarAvatarDropdown__3FkXQ { top: -7px; }
        .Avatar__textAvatar__4oTir { height: 40px !important; width: 40px !important; font-size: 14px; line-height: 22px; }
        .Avatar.Avatar__avatar__Jub8R{ height: 40px !important; width: 40px !important; font-size: 14px; line-height: 22px; }
        .ProfileDropdown__logoutArea__38Dcu { border-top: 0px solid rgba(169, 172, 176, 0.5); text-align: center; display: flex; justify-content: center; }

        /* Solved header issues */

        .MenuMobile__menuLabelMobile__3uXwZ { padding: 18px 15px 18px 15px; }
        .AddNewListingButton { margin-left: 0 !important; margin-right: 0px !important; }

        
        /* End of Solved header issues */

    }   


    .MenuMobile__canvasOpen__3CorC .MenuMobile__offScreenMenu__2fKaS {
        transform: translateX(0);
        box-shadow: 10px 0 30px 0 rgba(0,0,0,0.15);
    }
    /* End of custom.css change */

    /* header */

    .banner-section {
        .banner-div {
            .side-img-banner { width: 100%; flex: 0 0 100%; max-width: 100%; min-height: 100%; opacity: 0.15; 
                img.banner-img {
                    width: 100%;
                    object-fit: cover;
                    height: 100vh;
                    min-height: 760px;
                    max-height: 100%;
                }
            }
            
            .bannerleft-8 {
                padding: 0 15px;
                .height-100{ position: relative; z-index: 99; }
            }

            h1 { margin: 0 0 15px 0; font-size: 30px; line-height: 42px; max-width: 100%; }
            .hero__subtitle {
                margin: 0 0 20px 0; font-size: 16px; color: #2E2E2E; line-height: 24px; max-width: 650px; padding-right: 20px;
            }

            .hero__content { margin: 0 auto; padding: 0; margin-top: 0; }

        }
        .search-hero-main {
            .hero__search-bar--combined {
                max-width: 100%;
                flex-direction: column;
                button.hero__search-icon--combined { display: none !important; }
            }
            .hero__search-input-container--combined { padding: 0px 0px 0px 0px; display: flex; flex-direction: column; }
            .hero__location-search-input--combined {     border-left: solid 0px #DBDBDB; border-top: 1px solid #DBDBDB; margin-top: 0; margin-bottom: 20px; padding-top: 14px;  }
        }
    }
    
    /* end of header */

    .main-middle-area .info__button { margin-top: 20px; padding: 14px 40px; font-size: 18px; }
    .main-middle-area { .listings__button--ghost { padding: 14px 30px; font-size: 18px; } }

    
    /* How supper social works section */

    .general-image-section {
        .general-image-div {
            padding: 80px 0 45px 0;
        }
        .thumb-image-cover {
            margin: 0 0 20px 0;
        }
        .mob_content > div {
            padding: 20px 0 0 0;
        }

        .mobile-order-1{ -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
        .mobile-order-2{ -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}

    }

    /* End of How supper social works section */

    /* our story section */

    .p0-mobile {
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }

    .our-story-main-section {
        #info__single_info_with_background_and_cta__1 {
            h1.info__title--single-column {
                margin: 0 0 30px 0;
                font-size: 28px;
                line-height: 42px;
            }
            .info__paragraph--markdown {
                >p {
                    font-size: 14px;
                    letter-spacing: 0px;
                    line-height: 24px;
                    margin: 0px 0 10px 0px;
                }
            }
        }
    }
    
    /*  End of our story section */

    /* Latest Available Trades */

    .listings__section.latest-available-trades-section {
        padding: 20px 0px 100px 0;
        h1.listings__title {
            padding: 15px 0px;
            margin: 0 0 30px 0;
            font-size: 28px;
            line-height: 42px;
        }
        .listings__listings {
            .listings__listing {
                width: 100%;
                flex: 0 0 100%;
                max-width: 100% !important;
                margin: 0% 0% 20px 0;
                padding-bottom: 20px;
                .listings__listing-title {
                    line-height: 30px;
                    padding: 15px 15px 5px 15px;
                    font-size: 18px;
                }
                .listings__listing-info {
                    span.listings__price-amount {
                        font-size: 28px;
                        line-height: 36px;
                    }
                    .listings__price-container {
                        .listings__price-unit {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    

    /* End of Latest Available Trades */

    .supper-stars-section{
        .container-fluid.p0 { padding-right: 15px !important; padding-left: 15px !important; }
        h1.listings__title {
            padding: 15px 0px;
            margin: 0 0 0px 0;
            font-size: 28px;
            line-height: 42px;
        }
    }

    .owl-supper-stars{ 
        .card{
            padding: 10px 5px;
            .card_innercontent {
                opacity: 1;
                p.star-rating {
                    .material-icons {
                        font-size: 22px;
                    }
                }
                .more{ height: 55px; width: 55px;
                    .right-arrow-icon { height: 24px; width: 24px;}
                }
            }
        }
        .owl-item:hover{
            .card{
                border-radius: 0px !important; padding: 10px 5px; transform: scale(1);
               .card--content {
                   border-radius: 0px !important;
                   .card_innercontent{ opacity: 1;
                       border-radius: 0px !important;
                       
                       .more{
                           border-radius: 0 0 0px 0 !important;
                       }
                   }
               }
           }
        }
    }

    .info__section--zebra.become-a-member-section {
        .info__content--single-column {     padding: 0;
            h1.info__title--single-column {
                font-size: 21px;
                line-height: 32px;
                margin: 0 0 20px 0;
            }
        }
    }
    
    /* footer */

    .home-wrapper { background-size: 100px; }

    .footer-div {
        .footer__link-list { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; }
        .footer_logo { margin: 10px 0 20px 0; }

        .footer__logo-container {
            display: flex; flex-flow: wrap;
            .footer__link-list {
                margin: 0 0 30px 0;
                width: 50%;
                &:last-child{
                    margin: 0 0 10px 0;
                }
            }
            .footer__link-list {
                .footer__link-list-item {
                    .footer__link {
                        padding: 0 0px 0 0;
                        line-height: 22px;
                        margin: 0 0 5px 0;
                    }
                }
            }
        }
        .footer__container--dark .footer__link, .footer__container--marketplace_color .footer__link {
            font-size: 14px;
            padding: 5px 0px 5px 0px;
            line-height: 22px;
            text-align: left; width: 100%;
        }
        .footer__social-media { padding: 0 0 20px 0;}
        .footer__social-media-link {
            font-size: 18px;
            margin: 0 10px 0 0;
        }

        .footer__copyrights--markdown { max-width: 205px; margin: 0px 0 10px 0; }
        .footer__copyrights--markdown p { font-size: 14px;}
        
    }

    /* End of footer */


    

    @media (min-width: 260px) and (max-width: 360px) {
        .header-div .AddNewListingButton .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile { font-size: 13px !important; padding: 0 40px 0 10px !important; line-height: 40px !important; }
        .header-div .AddNewListingButton::after { height: 40px; width: 40px; font-size: 16px; }
        .header-div .MenuMobile__menuLabelMobile__3uXwZ {  padding: 18px 12px 18px 10px; }
        .header-div .Logo__logoImage__3oOkB { height: auto; width: 75px; }
        .banner-section .banner-div h1 {     margin: 0 0 15px 0; font-size: 24px; line-height: 36px;}
        .banner-section .search-hero-main input.hero__keyword-search-input--combined, .banner-section .search-hero-main .hero__location-search-input--combined { font-size: 16px; }
        .banner-section .search-hero-main .hero__search-button--combined { font-size: 18px;}
    }


}

@media (min-width: 768px) and (max-width: 1024px) {

    body{ overflow-x: hidden; }
    body.overflow-fixed{ overflow-y:hidden; }

    .heading-div{ 
        h2{ font-size: 28px; } 
        p{ font-size: 16px; } 
    }

    .position-fixed {
        overflow: hidden;
    }

    .heading-div{  h2 { font-size: 36px; line-height: 48px; } }
    h2 { margin: 0 0 15px 0; font-size: 28px; line-height: 42px; }
    p{ font-size: 16px; line-height: 26px; }
    .btn-link{ font-size: 14px; line-height: 26px; }
    
    body{ overflow-x: hidden; }
    body.overflow-fixed{ overflow-y:hidden; }

    .position-fixed {
        overflow: hidden;
    }


   
    
    /********/

    /* custom.css change */
    .header-div .AddNewListingButton{
        padding: 0 0px 0px 5px;
        min-height: 40px;
        line-height: 27px; margin-left: 0; margin-right: 40px !important;
        .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile { font-weight: 400; font-size: 16px !important; color: #2E2E2E !important; padding: 0 50px 0 10px !important; line-height: 40px !important; margin: 0 !important; height: auto !important; min-height: auto !important; min-width: auto !important; position: relative; padding: 0 1.5em; max-width: 15em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: flex;         }
        .AddNewListingButton__desktop__17Luf { display: none;}
        &::after { height: 40px; width: 40px; font-size: 18px; }
    }
    .header-div {
        .topbar-placeholder { width: 100%; }
        .Topbar__topbar__7GUWt { height: auto; min-height: 60px; background-color: #fff !important;   padding: 0 15px 0 0 !important; }
        .Logo__logoImage__3oOkB { height: auto; width: 85px;}
        .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG { border-right: 0px solid rgba(169, 169, 169, 0.3); }
        .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG { min-width: 168px; max-height: 36px; max-width: 38%; }
        .Topbar__topbarMediumSpacer__cbOwg { display: block; -webkit-box-flex: 1; -webkit-flex-grow: 1; flex-grow: 1; }
        .Topbar__topbarMobileSearchPlaceholder__117MG { display: none; }
        .Topbar__topbar__7GUWt>* { margin-right: 18px; }
        .Topbar__topbarMobileMenu__3z-JE.MenuMobile.MenuMobile__menuMobile___Ivzx.Topbar__topbarMobileMenu__3z-JE { margin: 0; }
        .MenuMobile__canvasOpen__3CorC .MenuMobile__overlay__2sZqq {
            height: 100vh;
            opacity: 0.95;
        }
        .MenuMobile__canvasOpen__3CorC .MenuMobile__offScreenMenu__2fKaS {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            -webkit-box-shadow: 10px 0 30px 0 rgba(0,0,0,0.15);
            box-shadow: 10px 0 30px 0 rgba(0,0,0,0.15);
        }

        
        .ProfileDropdown__profileAction__1H9nm { width: 100px; height: 80px; border-bottom: 1px solid rgba(169, 172, 176, 0.5); border-right: 0px solid rgba(169, 172, 176, 0.5);}
        .ProfileDropdown__box__T_uM4 { right: -20px !important; margin-top: -18px; }
        .ProfileDropdown__profileActions__34o4h { display: flex;  flex-direction: column; }
        .Topbar__topbar__7GUWt > .Topbar__topbarAvatarDropdown__3FkXQ { top: -7px; right: 15px; z-index: 8; }
        .Avatar__textAvatar__4oTir { height: 40px !important; width: 40px !important; font-size: 14px; line-height: 22px; }
        .Avatar.Avatar__avatar__Jub8R { height: 40px !important; width: 40px !important; font-size: 14px; line-height: 22px; }
        .ProfileDropdown__logoutArea__38Dcu { border-top: 0px solid rgba(169, 172, 176, 0.5); text-align: center; display: flex; justify-content: center; }
        
        /* solved header issues */

        .AddNewListingButton{ margin-right: 50px !important; }
        &.header-bgcolor .Topbar__topbar__7GUWt > .Topbar__topbarAvatarDropdown__3FkXQ {
            top: -7px;
        }

        /* End of solved header issues */

    }   

    /* End of custom.css change */

    /* header */

    .banner-section {
        .banner-div {
            .side-img-banner { width: 100%; flex: 0 0 50%; max-width: 50%; min-height: 100%;  }
            .bannerleft-8 {
                padding: 0 15px;
                .height-100{ position: relative; z-index: 99; }
            }

            h1 { margin: 0 0 20px 0; font-size: 32px; line-height: 48px; max-width: 100%; }
        }
        .search-hero-main {
            .hero__search-bar--combined {
                max-width: 100%;
                flex-direction: column;
                button.hero__search-icon--combined { display: none !important; }
            }
            .hero__search-input-container--combined { padding: 0px 0px 0px 0px; display: flex; flex-direction: column; }
            .hero__location-search-input--combined {     border-left: solid 0px #DBDBDB; border-top: 1px solid #DBDBDB; margin-top: 0; margin-bottom: 20px; padding-top: 14px;  }
        }
    }
    

    /* end of header */
   
    .main-middle-area .info__button { margin-top: 20px; padding: 14px 40px; font-size: 18px; }
    .main-middle-area .listings__button--ghost { padding: 14px 40px; font-size: 18px; }

    /* How supper social works section */

    .general-image-section {
        .general-image-div {
            padding: 80px 0 45px 0;
        }
        .mob_content > div {
            padding: 0px 0 0 0;
        }
    }

    /* End of How supper social works section */

    /* our story section */

    .p0-mobile {
        padding-right: 0px !important; 
        padding-left: 0px !important;
    }

    .our-story-main-section {
        #info__single_info_with_background_and_cta__1 {
            min-height: 450px;padding: 60px 0px 60px 0;
            h1.info__title--single-column {
                margin: 0 0 30px 0;
                font-size: 28px;
                line-height: 42px;
            }
            .info__paragraph--markdown {
                >p {
                    font-size: 14px;
                    letter-spacing: 0px;
                    line-height: 24px;
                    margin: 0px 0 10px 0px;
                }
            }
        }
    }
    

    /*  End of our story section */

    /* Latest Available Trades */

    .listings__section.latest-available-trades-section {
        padding: 20px 0px 100px 0;
        h1.listings__title {
            padding: 15px 0px;
            font-size: 28px;
            line-height: 42px;
        }
        .listings__listings {
            .listings__listing {
                width: 50%;
                flex: 0 0 50%;
                max-width: 48% !important;
                padding-bottom: 20px;
                
            }
        }
    }
    

    /* End of Latest Available Trades */

    .supper-stars-section {     padding: 60px 15px 60px 10px;
        h1.listings__title {
            margin: 0 0 10px 0;
            font-size: 28px;
            line-height: 42px;
        }
        
    }

    .owl-supper-stars{ 
        
        .card{
            padding: 10px 5px;
            .card_innercontent {
                opacity: 1;
                p.star-rating {
                    .material-icons {
                        font-size: 22px;
                    }
                }
                .more{ height: 55px; width: 55px;
                    .right-arrow-icon { height: 24px; width: 24px;}
                }
            }
        }
        .owl-item:hover{
            .card{
                border-radius: 0px !important; padding: 10px 5px; transform: scale(1);
               .card--content {
                   border-radius: 0px !important;
                   .card_innercontent{ opacity: 1;
                       border-radius: 0px !important;
                       
                       .more{
                           border-radius: 0 0 0px 0 !important;
                       }
                   }
               }
           }
        }
    }

    /*  */

    .info__section--zebra.become-a-member-section {
        .info__content--single-column {
            padding: 0;
            h1.info__title--single-column {
                font-size: 26px;
                line-height: 38px;
                margin: 0 0 20px 0;
            }
        }
    }
    
     /* footer */

     .home-wrapper { background-size: 260px; }

     .footer-div {
         

         .footer__container--dark .footer__link, .footer__container--marketplace_color .footer__link {
             font-size: 14px;
             padding: 5px 10px 5px 10px;
             line-height: 22px;
             text-align: left; width: 100%;
         }
         .footer__social-media { padding: 0 0 20px 0;}
         .footer__social-media-link {
             font-size: 18px;
             margin: 0 10px 0 0;
         }
 
         .footer__copyrights--markdown { margin: 0px 0 10px 0; }
         .footer__copyrights--markdown p { font-size: 14px;}
         
     }
     
 
     /* End of footer */

}



@media (min-width: 1024px) and (max-width: 1366px) {

    

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .banner-section .hero__content {
        min-width: auto;
        max-width: 480px;
        padding: 0;
        margin-top: 0;
    }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    .banner-section .hero__content {
        min-width: auto;
        max-width: 480px;
        padding: 0;
        margin-top: 0;
    }

}