/* Import styleSheet */
@import url(bootstrap.min.css);
@import url(animate.min.css);
@import url(owl.carousel.min.css);
@import url(select-custom.css);
@import url(select2.min.css);
@import url(datepicker-b4.min.css);
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(../fonts/Georgia/Georgia_font.css);
/* End of import styleSheet */
/* colors */
/* End of colors */
/* font family */
/* font family */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*  general css */
.container {
  max-width: 1200px;
}

.container-1300 {
  max-width: 1300px;
}

.white-color {
  fill: white;
}

.top-minues10 {
  margin-top: -10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}

.p0 {
  padding: 0px !important;
}

/*  */
a {
  color: #092A47;
}

a:hover {
  color: #092A47;
}

h2 {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Georgia";
  font-size: 36px;
  color: #2E2E2E;
  letter-spacing: 0;
  line-height: 46px;
  font-weight: 700;
}

p {
  font-family: "Muli";
  padding: 0;
  margin: 0 0 10px 0;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  color: rgba(46, 46, 46, 0.5);
  letter-spacing: 0;
  line-height: 28px;
}

.position-initial {
  position: initial;
}

.btn.btn-primary-round {
  background: #F6F2EB;
  border-radius: 100px;
  font-weight: 400;
  font-size: 20px;
  color: #2E2E2E;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0px 0px 30px;
  min-height: 46px;
  line-height: 24px;
  border: 0px solid #F6F2EB;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-primary-round .text {
  padding: 0 25px 0 0;
}

.btn.btn-primary-round span.span-round {
  background: #EDE5D8;
  border-radius: 100px;
  color: #F98169;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 48px;
}

.btn.btn-primary-round:hover, .btn.btn-primary-round:focus {
  background: #f68069;
  color: #fff;
}

.header-div .AddNewListingButton {
  background: #F6F2EB !important;
  border-radius: 100px !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  color: #2E2E2E;
  letter-spacing: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  padding: 0 0px 0px 30px;
  min-height: 46px;
  line-height: 24px;
  border: 0px solid #F6F2EB;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin-right: 70px !important;
  height: auto !important;
  cursor: pointer;
  margin-left: 80px !important;
  position: relative;
  overflow: visible;
  font-family: "Muli";
}

.header-div .AddNewListingButton .AddNewListingButton__backgroundContainer__4Nn3Z {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 22px;
  transition: background-color 100ms ease-in, -webkit-filter 100ms ease-in;
  transition: filter 100ms ease-in, background-color 100ms ease-in, -webkit-filter 100ms ease-in;
  will-change: filter;
}

.header-div .AddNewListingButton .AddNewListingButton__desktop__17Luf {
  font-weight: 500;
  font-size: 20px !important;
  color: #2E2E2E;
  padding: 0 70px 0 0px !important;
  line-height: 24px !important;
  margin: 0 !important;
  height: auto !important;
  min-height: auto !important;
  min-width: auto !important;
  font-family: "Muli" !important;
}

.header-div .AddNewListingButton .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile {
  font-weight: 400;
  font-size: 20px !important;
  color: #2E2E2E;
  padding: 0 70px 0 0px !important;
  line-height: 24px !important;
  margin: 0 !important;
  height: auto !important;
  min-height: auto !important;
  min-width: auto !important;
  font-family: "Muli" !important;
}

.header-div .AddNewListingButton span.span-round {
  background: #EDE5D8;
  border-radius: 100px;
  color: #F98169;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 48px;
}

.header-div .AddNewListingButton:hover, .header-div .AddNewListingButton:focus {
  background: #f68069;
  color: #fff;
}

.header-div .AddNewListingButton .AddNewListingButton_background {
  display: none !important;
}

.header-div .AddNewListingButton:after {
  content: "\e56c";
  position: absolute;
  border-bottom: 0px solid transparent;
  border-top: 0px solid transparent;
  border: none;
  margin-left: 0;
  left: auto;
  top: 0;
  right: 0;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #ffff;
  background: #EDE5D8;
  border-radius: 100px;
  color: #F98169;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 48px;
}

.header-div .AddNewListingButton:hover, .header-div .AddNewListingButton:focus {
  background: #f68069 !important;
  color: #fff;
}

.header-div .AddNewListingButton:hover .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile, .header-div .AddNewListingButton:focus .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile {
  color: #fff !important;
}

.header-div .AddNewListingButton:hover .AddNewListingButton__desktop__17Luf, .header-div .AddNewListingButton:focus .AddNewListingButton__desktop__17Luf {
  color: #fff !important;
}

.header-div .AddNewListingButton:hover:after, .header-div .AddNewListingButton:hover:active:after, .header-div .AddNewListingButton:focus:after, .header-div .AddNewListingButton:focus:active:after {
  border-right: 0px solid #F98169 !important;
}

.main-middle-area .info__button {
  margin-top: 20px;
  padding: 22px 40px;
  border: 1px solid #F98169;
  background-color: #F98169;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 30px;
  border-radius: 0px;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  font-family: "Muli" !important;
  display: inline-block;
}

.main-middle-area .info__button:hover, .main-middle-area .info__button:focus {
  border: 1px solid #F98169;
  background-color: #F98169;
  -webkit-box-shadow: 0px 15px 29px 0px rgba(249, 129, 105, 0.68);
          box-shadow: 0px 15px 29px 0px rgba(249, 129, 105, 0.68);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.main-middle-area .listings__button--ghost {
  margin: 20px auto 20px auto;
  padding: 22px 40px;
  background-color: #FDFDFD;
  border: 1px solid #2E2E2E;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 22px;
  color: #2E2E2E;
  line-height: 30px;
  border-radius: 0px;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  font-family: "Muli" !important;
  display: inline-block;
  text-transform: capitalize;
}

.main-middle-area .listings__button--ghost:hover, .main-middle-area .listings__button--ghost:focus {
  border: 1px solid #2E2E2E;
  background-color: #2E2E2E;
  -webkit-box-shadow: 0px 15px 29px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 29px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #fff;
}

.btn-link {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #092A47;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: #092A47;
  bottom: -2px;
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-link:hover, .btn-link:focus {
  color: #092A47;
}

.btn-link:hover::after, .btn-link:focus::after {
  background-color: #092A47;
  width: 100%;
}

.max3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #2E2E2E;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: #092A47;
}

.return-to-top:hover i {
  color: white;
}

.display_show {
  display: block;
}

.position-fixed {
  position: unset !important;
  overflow: hidden;
}

/* select2 */
.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  border: 1px solid #092A47;
  border-radius: 0px;
  min-height: 50px;
  color: #092A47;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #092A47;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-custom2 span.select2-selection.select2-selection--single {
  border: 1px solid #DFEAF1 !important;
  border-radius: 0px;
  min-height: 50px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #FAFCFD;
  position: relative;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 15px;
  left: 10px;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: "";
  -webkit-mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  mask: url(../images/icons/keyboard_arrow_up.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  display: inline-block;
  vertical-align: middle;
  mask-size: cover;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #092A47;
}

.select2-results__option {
  padding: 10px;
}

/* end of select2 */
/*  End of general css */
.heading-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.heading-div h2 {
  padding: 0;
  margin: 0 0 35px 0;
  color: #092A47;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}

.heading-div h2 span {
  display: block;
}

.heading-div p {
  padding: 0;
  margin: 0 0 0px 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #092A47;
}

.heading-left-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.heading-left-div h2 {
  margin: 0 0 5px 0;
}

.heading-left-div h2 span {
  display: block;
}

.heading-left-div p {
  margin: 0 0 10px 0;
}

/* header */
/* End of header */
/* add custom.css changes */
.header-div {
  /* open menu */
  /* End of open menu */
  /* user */
  /* user */
  /* Solved header issues */
  /* End of Solved header issues */
}

.header-div .topbar-placeholder {
  z-index: 9999;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  top: 0;
  width: 100%;
  background: none;
  height: auto;
  position: fixed;
}

.header-div .Logo__logoImage__3oOkB {
  height: auto;
  width: 122px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.header-div .link-nav {
  font-weight: 400;
  font-size: 14px;
  color: #2E2E2E !important;
  padding: 0 20px;
}

.header-div .link-nav:hover {
  color: #F98169 !important;
}

.header-div .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG {
  border-right: 1px solid rgba(169, 169, 169, 0.3);
}

.header-div .Topbar__topbar__7GUWt {
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 14px;
  background: none !important;
  position: relative;
  border: 0 !important;
  padding: 0 !important;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
  min-height: 120px;
}

.header-div .Topbar__topbarMenuSpacer__3hqBi {
  display: none !important;
}

.header-div .MenuPriority__menuPriority__3y3Pu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-div .MenuPriority__priorityLinks__XgHdH {
  overflow: hidden;
  overflow: hidden;
  position: absolute;
  top: -2000px;
  left: -2000px;
  width: 100%;
}

.header-div .MenuPriority__priorityLink__moBbL {
  display: inline-block;
  margin-right: 18px;
  color: #525961;
  letter-spacing: 0.22px;
  font-size: 14px;
  line-height: 60px;
  white-space: nowrap;
}

.header-div .MenuPriority__hiddenLinks__1LcCU {
  z-index: 2;
}

.header-div .Menu__menu__1nYnK {
  font-family: "Muli";
  cursor: default;
}

.header-div .MenuMobile__overlay__2sZqq {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 0;
  width: 100vw;
  background-color: #000;
  opacity: 0;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.header-div .Topbar__topbarMobileMenu__3z-JE {
  font-size: 17px;
  margin-right: 0;
}

.header-div .MenuMobile__menuLabelMobile__3uXwZ {
  display: inline-block;
  padding: 18px 18px;
  cursor: pointer;
  position: relative;
}

.header-div .MenuMobile__menuLabelMobile__3uXwZ:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.header-div .MenuMobile__offScreenMenu__2fKaS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 288px;
  height: 100%;
  max-height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  will-change: transform;
  -webkit-transform: translateX(-288px);
  transform: translateX(-288px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.header-div .MenuMobile__scrollPane__2VvXd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header-div .MenuMobile__offScreenHeader__KnANh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5882352941176471em 0.9285714285714286em 0.5882352941176471em 1.411764705882353em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-div .MenuMobile__offScreenMain__1ruzb {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-div .MenuMobile__offScreenFooter__3sjuV {
  background-color: #F7F7F7;
  margin-top: 0;
}

.header-div .Topbar__topbarMediumSpacer__cbOwg {
  display: none;
}

.header-div .Topbar__topbarMobileSearchPlaceholder__117MG {
  width: 50px;
}

.header-div .LoginLinks__links__z-Tnd {
  height: 100%;
  font-family: "Muli";
}

.header-div .Topbar__topbarLinks__CCME8 {
  display: none;
}

.header-div .LoginLinks .Link__link__3pNRT {
  font-weight: 400;
  font-size: 14px;
  color: #2E2E2E !important;
  padding: 0 20px;
  font-family: 'Muli', sans-serif;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.header-div .LoginLinks .Link__link__3pNRT:hover {
  color: #F98169 !important;
}

.header-div .MenuMobile__menuMobileOpen__3OIsv {
  overflow-y: hidden;
}

.header-div .MenuMobile__offScreenHeader__KnANh {
  margin: 0;
}

.header-div .MenuMobile__menuSectionTitle__2HlQg {
  font-size: 12px;
  position: relative;
  min-width: 144px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 15px;
  color: rgba(153, 153, 153, 0.5);
  width: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

.header-div .MenuItem.MenuItem__menuitem__3_-l_.MenuMobile__menuSectionMenuItem__2yMLC {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #2E2E2E !important;
  padding: 8px 15px;
  display: block;
  font-family: "Muli";
  position: relative;
}

.header-div span.MenuItem__activeIndicator__2AB6n {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
}

.header-div .MenuMobile__canvasOpen__3CorC .MenuMobile__overlay__2sZqq {
  height: 100vh;
  opacity: 0.95;
}

.header-div .Topbar__topbar__7GUWt > .Topbar__topbarAvatarDropdown__3FkXQ {
  width: 44px;
  padding: 17.5px 0;
}

.header-div .Topbar__topbar__7GUWt > .Topbar__topbarAvatarDropdown__3FkXQ {
  margin: 0 0 0 0;
  position: absolute !important;
  right: 15px;
  z-index: 9;
  top: 20px;
  width: auto;
}

.header-div .AvatarDropdown__avatarDropdown__1Vjt6 .AvatarDropdown__avatarProfileDropdown__2gYjH {
  visibility: hidden;
  margin-bottom: 0;
}

.header-div .Avatar__textAvatar__4oTir {
  width: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px !important;
  width: 55px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #F6F2EB;
  border: 5px solid #F6F2EB;
  font-weight: 700;
  font-family: "Georgia";
  font-size: 18px;
  line-height: 24px;
}

.header-div .Avatar.Avatar__avatar__Jub8R {
  width: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px !important;
  width: 55px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #F6F2EB;
  border: 5px solid #F6F2EB;
  font-weight: 700;
  font-family: "Georgia";
  font-size: 18px;
  line-height: 24px;
}

.header-div .ProfileDropdown__box__T_uM4 {
  position: absolute;
  border: 0px solid rgba(169, 172, 176, 0.5);
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  z-index: 6;
}

.header-div .ProfileDropdown__profileAction__1H9nm {
  border-right: 1px solid rgba(169, 172, 176, 0.2);
}

.header-div .ProfileDropdown__logoutArea__38Dcu {
  border-top: 1px solid rgba(169, 172, 176, 0.2);
  padding: 0.69em 1.15em;
  font-size: 0.9285714285714286em;
}

.header-div .ProfileDropdown__rootArrowTop__3Vvtx {
  border-color: transparent;
  border-bottom-color: white;
  border-width: 7px;
  margin-left: -7px;
  z-index: 7;
  top: 0px;
}

.header-div .ProfileDropdown__rootArrowTop__3Vvtx, .header-div .ProfileDropdown__rootArrowBelow__3YUUJ {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  position: relative;
}

.header-div .ProfileDropdown__rootArrowBelow__3YUUJ {
  border-color: transparent;
  border-bottom-color: rgba(169, 172, 176, 0.5);
  border-width: 9px;
  margin-left: -9px;
  top: -18px;
}

.header-div .ProfileDropdown__rootArrowTop__3Vvtx, .header-div .ProfileDropdown__rootArrowBelow__3YUUJ {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
  position: relative;
}

.header-div .ProfileDropdown__rootArrowBelow__3YUUJ {
  border-color: transparent;
  border-bottom-color: rgba(169, 172, 176, 0.5);
  border-width: 9px;
  margin-left: -9px;
  top: -18px;
}

.header-div .ProfileDropdown__box__T_uM4 {
  right: -20px !important;
  margin-top: -20px;
}

.header-div .ProfileDropdown__box__T_uM4 {
  position: absolute;
  border: 1px solid rgba(169, 172, 176, 0.5);
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  z-index: 6;
}

.header-div .ProfileDropdown__profileActions__34o4h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-div .ProfileDropdown__profileAction__1H9nm {
  width: 8.6em;
  height: 8.6em;
  border-right: 1px solid rgba(169, 172, 176, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  color: #525961;
  padding: 0 0.69em;
  text-align: center;
}

.header-div .ProfileDropdown__profileActionIconWrapper__1v7N_ {
  position: relative;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-div .ProfileDropdown__profileActionLabel__2lW8j {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
  line-height: 1.25em;
  max-width: 100%;
  word-wrap: break-word;
}

.header-div .ProfileDropdown__logoutArea__38Dcu {
  border-top: 1px solid rgba(169, 172, 176, 0.5);
  padding: 0.69em 1.15em;
  font-size: 0.9285714285714286em;
}

.header-div .ProfileDropdown__logoutLink__15uxw {
  float: right;
  cursor: pointer;
  color: #7a7d80;
}

.header-div.header-bgcolor .Topbar__topbar__7GUWt > .Topbar__topbarAvatarDropdown__3FkXQ {
  top: 0;
}

.header-div .MenuMobile__menuLabelMobile__3uXwZ {
  padding: 18px 15px 18px 15px;
}

.header-div .MenuMobile__scrollPane__2VvXd .MenuMobile__offScreenHeader__KnANh {
  padding: 20px 15px;
  background-color: #fafafa;
}

.header-div .MenuMobile__scrollPane__2VvXd .AddNewListingButton {
  margin-left: 10px !important;
}

.header-div .MenuMobile__scrollPane__2VvXd .MenuItem.MenuItem__menuitem__3_-l_.MenuMobile__menuSectionMenuItem__2yMLC {
  padding: 0 !important;
}

.header-div .MenuMobile__scrollPane__2VvXd .MenuItem__menuitemLink__2Eedg {
  padding: 10px 15px !important;
}

.header-bgcolor .Topbar__topbar__7GUWt {
  height: auto;
  min-height: 80px;
}

.header-bgcolor .topbar-placeholder {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

/* End of add custom.css changes */
/* banner */
.banner-section {
  padding: 0;
  margin: 0;
  position: relative;
  /* custom.css changes */
  /* End of custom.css changes */
}

.banner-section .hero__content {
  min-width: 100%;
  text-align: left;
}

.banner-section .hero__content-container {
  text-align: left;
}

.banner-section .hero__search-bar--combined {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.banner-section .hero__search-bar, .banner-section .hero__search-bar--combined {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-shrink: 1;
  -o-flex-shrink: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: 0;
  max-width: 532px;
}

.banner-section .hero__search-input-container, .banner-section .hero__search-input-container--combined {
  border-left: 1px solid #F98169;
  border-top: 1px solid #F98169;
  border-bottom: 1px solid #F98169;
}

.banner-section .hero__search-input-container--combined {
  background-color: #FFF;
  border-radius: 29.5px 0px 0px 29.5px;
  padding: 0px 0px 0px 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #FFF;
  border-radius: 29.5px 0px 0px 29.5px;
  overflow: hidden;
}

.banner-section .info__single_info_with_background_and_cta__1__info__button, .banner-section .hero__search-button, .banner-section .hero__search-button:active, .banner-section .hero__signup-button, .banner-section .hero__signup-button:active, .banner-section .AddNewListingButton_background {
  background: #f98169 !important;
  padding-left: 40px;
  padding-right: 40px;
}

.banner-section .hero__search-button--combined {
  display: block;
  border-radius: 0px 29.5px 29.5px 0px;
}

.banner-section .hero__search-button, .banner-section .hero__search-button--combined {
  border: 0;
  padding: 0;
  border-radius: 0px 29.5px 29.5px 0px;
  padding: 14px 32px 14px 28px;
  line-height: 32px;
  font-family: "Proxima Nova Soft", Helvetica, sans;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0px;
  outline: none;
  -ms-flex-shrink: 0;
  -o-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: none;
}

.banner-section .hero__search-icon--combined {
  display: block;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding: 19px 0px;
  -ms-flex-shrink: 0;
  -o-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #FFF;
  cursor: pointer;
}

.banner-section .hero__search-icon--combined:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.banner-section .hero__search-icon--combined:hover svg.hero__search-icon-svg, .banner-section .hero__search-icon--combined:focus svg.hero__search-icon-svg {
  fill: #f67f69;
}

.banner-section .hero__search-icon--combined:hover svg.hero__search-icon-svg path#magnifier---simple-line-icons, .banner-section .hero__search-icon--combined:focus svg.hero__search-icon-svg path#magnifier---simple-line-icons {
  fill: #f67f69;
}

.banner-section .hero__search-icon-svg {
  width: 22px;
  height: 22px;
  display: block;
}

.banner-section .hero__search-icon--base, .banner-section .hero__search-icon, .banner-section .hero__search-icon--combined {
  -ms-flex-shrink: 0;
  -o-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #FFF;
  border: 0;
  cursor: pointer;
  padding: 15px 24px 15px 0px;
}

.banner-section .hero__search-input, .banner-section .hero__search-input--combined, .banner-section .hero__keyword-search-input--combined, .banner-section .hero__location-search-input--combined {
  font-weight: 500;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  border: 0;
  width: 100%;
  color: #525961;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 32px;
  padding: 8px 12px 8px 0px;
}

.banner-section .hero__search-button, .banner-section .hero__search-button:active, .banner-section .hero__signup-button, .banner-section .hero__signup-button:active {
  background-color: #c09678;
}

.banner-section .info__single_info_with_background_and_cta__1__info__button, .banner-section .hero__search-button, .banner-section .hero__search-button:active, .banner-section .hero__signup-button, .banner-section .hero__signup-button:active, .banner-section .AddNewListingButton_background {
  background: #f98169 !important;
  padding-left: 40px;
  padding-right: 40px;
}

.banner-section .hero__search-button--combined {
  display: block;
  border-radius: 0px 29.5px 29.5px 0px;
}

.banner-section .hero__search-button, .banner-section .hero__search-button--combined {
  border: 0;
  padding: 0;
  border-radius: 0px 29.5px 29.5px 0px;
  padding: 14px 32px 14px 28px;
  line-height: 32px;
  font-family: "Proxima Nova Soft", Helvetica, sans;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0px;
  outline: none;
  -ms-flex-shrink: 0;
  -o-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: none;
}

.banner-section .hero__search-icon--base, .banner-section .hero__search-icon, .banner-section .hero__search-icon--combined {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding: 19px 0px;
}

.banner-section .hero__search-input--combined, .banner-section .hero__keyword-search-input--combined, .banner-section .hero__location-search-input--combined {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 32px;
  padding: 0px 24px 0px 18px;
  margin: 14px 0px;
}

.banner-section .hero__search-button--combined {
  display: block;
  border-radius: 0px 29.5px 29.5px 0px;
}

.banner-section .hero__location-search-input--combined {
  border-radius: 0;
  border-left: solid 1px #cccccc;
}

.banner-section .search-hero-main .hero__search-bar--combined {
  background-color: #fff;
  padding: 8px;
  -webkit-box-shadow: 0 12px 36px 0 rgba(236, 236, 236, 0.54);
          box-shadow: 0 12px 36px 0 rgba(236, 236, 236, 0.54);
}

.banner-section .search-hero-main input.hero__keyword-search-input--combined, .banner-section .search-hero-main .hero__location-search-input--combined {
  font-size: 18px;
  color: #2E2E2E;
  line-height: 30px;
  font-weight: 400;
  font-family: "Poppins";
  min-height: 40px;
}

.banner-section .search-hero-main input.hero__keyword-search-input--combined:focus, .banner-section .search-hero-main .hero__location-search-input--combined:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner-section .search-hero-main input::-webkit-input-placeholder {
  color: #767676 !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.banner-section .search-hero-main input::-moz-placeholder {
  color: #767676 !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.banner-section .search-hero-main input:-ms-input-placeholder {
  color: #767676 !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.banner-section .search-hero-main input:-moz-placeholder {
  color: #767676 !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.banner-section .search-hero-main .hero__search-input-container--combined {
  border-radius: 0;
  background: #FFFFFF;
  border: none;
  padding: 0px 0px 0px 14px;
}

.banner-section .search-hero-main .hero__search-button--combined {
  display: block;
  border-radius: 0;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 25px;
  font-family: "Muli";
  cursor: pointer;
  background-color: #f68069 !important;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.banner-section .search-hero-main .hero__search-button--combined:hover {
  background-color: #ea745d !important;
}

.banner-section .search-hero-main .hero__location-search-input--combined {
  border-radius: 0;
  border-left: solid 1px #DBDBDB;
}

.banner-section .search-hero-main .hero__search-bar--combined {
  max-width: 80%;
}

.banner-section .banner-div {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  min-height: 100vh;
  padding-top: 120px;
}

.banner-section .banner-div .bannerleft-8 {
  padding: 0;
}

.banner-section .banner-div .bannerright-4 {
  padding: 0;
  position: initial;
}

.banner-section .banner-div h1 {
  text-align: left;
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-family: "Georgia";
  font-size: 36px;
  color: #2E2E2E;
  letter-spacing: 0;
  line-height: 55px;
  max-width: 620px;
  padding-right: 20px;
}

.banner-section .banner-div .hero__subtitle {
  text-align: left;
  padding: 0;
  margin: 0 0 30px 0;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  color: rgba(46, 46, 46, 0.5);
  letter-spacing: 0;
  line-height: 30px;
  max-width: 650px;
  padding-right: 20px;
  font-family: "Muli";
}

.banner-section .banner-div .span-block {
  display: block;
}

.banner-section .banner-div .side-img-banner {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  min-height: 100%;
}

.banner-section .banner-div .side-img-banner::before {
  content: "";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #FFFFFF), color-stop(34%, rgba(255, 255, 255, 0.25)), color-stop(65%, rgba(255, 255, 255, 0.14)));
  background-image: linear-gradient(180deg, #FFFFFF 6%, rgba(255, 255, 255, 0.25) 34%, rgba(255, 255, 255, 0.14) 65%);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.banner-section .banner-div .side-img-banner img.banner-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  max-height: 100vh;
}

.banner-section .banner-div .btn-video-play {
  font-weight: 400;
  font-size: 20px;
  color: #2E2E2E;
  letter-spacing: 0;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 30px 0px 30px 0;
  font-family: "Muli";
}

.banner-section .banner-div .btn-video-play span.material-icons {
  font-size: 48px;
  margin: 0 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-section .banner-div .btn-video-play:hover {
  color: #f68069;
}

/* End of banner */
/* How supper social works & Share responsibly informed section */
.mx-width-640 {
  max-width: 640px !important;
}

.general-image-section {
  padding: 0;
  margin: 0;
  max-width: 100% !important;
}

.general-image-section .general-image-div {
  padding: 100px 0 100px 0;
}

.general-image-section .img-fluid.img-responsive {
  width: 100%;
}

.general-image-section .mob_content.content-div {
  max-width: 430px;
  padding: 20px 0px;
}

.general-image-section .how-supper-social-works-row {
  padding-bottom: 45px;
}

.general-image-section .share-responsibly-informed-row {
  padding-top: 45px;
}

/* End of How supper social works & share responsibly informed section */
/* Our story section */
.our-story-main-section {
  padding: 50px 0 50px 0;
}

.our-story-main-section #info__single_info_with_background_and_cta__1 {
  max-width: 100%;
  min-height: 500px;
  margin: 0;
  position: relative !important;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0px 70px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-story-main-section #info__single_info_with_background_and_cta__1::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(46, 46, 46, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.our-story-main-section #info__single_info_with_background_and_cta__1 .info__content--single-column {
  max-width: 1015px;
  z-index: 9;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
}

.our-story-main-section #info__single_info_with_background_and_cta__1 h1.info__title--single-column {
  font-size: 36px;
  color: #FFFFFF;
  line-height: 46px;
  margin: 0 0 40px 0;
  font-weight: 700;
  font-family: Georgia;
}

.our-story-main-section #info__single_info_with_background_and_cta__1 p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0;
  line-height: 28px;
}

.our-story-main-section #info__single_info_with_background_and_cta__1 .info__paragraph--markdown {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.our-story-main-section #info__single_info_with_background_and_cta__1 .info__paragraph--markdown > p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 28px;
  margin: 0px 0 10px 0px;
  text-align: justify;
}

.our-story-main-section #info__single_info_with_background_and_cta__1 .info__button {
  font-size: 18px;
  padding: 12px 40px;
}

.our-story-main-section #info__single_info_with_background_and_cta__1 .info__button:hover, .our-story-main-section #info__single_info_with_background_and_cta__1 .info__button:focus {
  -webkit-box-shadow: 0px 12px 29px 0px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 12px 29px 0px rgba(255, 255, 255, 0.2);
}

/* End of our story section */
/* Latest Available Trades */
.listings__section.latest-available-trades-section {
  padding: 60px 0px 100px 0;
}

.listings__section.latest-available-trades-section h1.listings__title {
  padding: 15px;
  margin: 0 0 40px 0;
  font-family: "Georgia";
  font-size: 36px;
  color: #2E2E2E;
  letter-spacing: 0;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}

.listings__section.latest-available-trades-section .listings__listings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  background-color: #FFF;
  border-radius: 0px;
  -webkit-box-shadow: 0px 17px 16px 0px rgba(235, 241, 245, 0.55);
          box-shadow: 0px 17px 16px 0px rgba(235, 241, 245, 0.55);
  width: 33.33333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 31% !important;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0% 1% 4%;
  padding-bottom: 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-image-container, .listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-image, .listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-image--empty {
  width: 100%;
  padding-bottom: 0px;
  height: 275px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.8s !important;
  transition: all 0.8s !important;
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  font-family: "Georgia";
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  padding: 20px 15px 5px 15px;
  font-size: 22px;
  color: #2E2E2E;
  letter-spacing: 0;
  text-align: center;
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing span.listings__author-name {
  display: none;
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-info {
  position: relative;
  bottom: auto;
  right: auto;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-info span.listings__price-amount {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #F98169;
  letter-spacing: -0.38px;
  text-align: center;
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-info .listings__price-container {
  font-family: "Georgia";
  width: 100%;
  letter-spacing: -0.24px;
  text-align: center;
  line-height: 36px;
  color: #F98169;
  font-weight: 400;
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-info .listings__price-container .listings__price-unit {
  font-size: 20px;
  font-style: italic;
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.08);
}

.listings__section.latest-available-trades-section .listings__listings .listings__listing:hover .listings__listing-image-container, .listings__section.latest-available-trades-section .listings__listings .listings__listing:hover .listings__listing-image, .listings__section.latest-available-trades-section .listings__listings .listings__listing:hover .listings__listing-image--empty {
  opacity: 0.6;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.listings__section.latest-available-trades-section .listings__content {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

/* End of Latest Available Trades */
/*  Supper Stars   */
.supper-stars-section {
  padding: 60px 0;
  margin: 0;
  position: relative;
  background-color: #FAFAFA;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.supper-stars-section h1.listings__title {
  padding: 0 15px;
  margin: 0 0 30px 0;
  font-family: "Georgia";
  font-size: 36px;
  color: #2E2E2E;
  letter-spacing: 0;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}

.owl-supper-stars .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  min-height: 300px;
  overflow-x: auto;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 5px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.owl-supper-stars .card .card--content {
  background-color: transparent;
  margin: 0px;
  height: 100%;
  width: 100%;
  min-width: 100%;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.owl-supper-stars .card .card_innercontent {
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(46, 46, 46, 0.62);
  -webkit-box-shadow: 0 9px 26px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 9px 26px 0 rgba(0, 0, 0, 0.03);
  height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0px;
  min-height: 340px;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.owl-supper-stars .card .card_innercontent h4 {
  font-weight: 800;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 32px;
  letter-spacing: 0;
  border-bottom: 1px solid #F6F2EB;
}

.owl-supper-stars .card .card_innercontent p.star-rating {
  padding: 10px 65px 0 0;
  color: rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 22px;
}

.owl-supper-stars .card .card_innercontent p.star-rating .material-icons {
  font-size: 26px;
}

.owl-supper-stars .card .card_innercontent p.star-rating .active {
  color: #F98169;
}

.owl-supper-stars .card .card_innercontent p.star-rating .average-rating {
  color: #F98169;
  padding: 0 0 0 10px;
  display: inline-block;
}

.owl-supper-stars .card .card_innercontent .more {
  background: #F98169;
  -webkit-box-shadow: 0 9px 26px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 9px 26px 0 rgba(0, 0, 0, 0.03);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border-radius: 0px 0px 0px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 55px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-supper-stars .owl-stage {
  padding: 30px 0;
}

.owl-supper-stars .owl-item:hover {
  z-index: 999;
}

.owl-supper-stars .owl-item:hover .card {
  border-radius: 24px !important;
  padding: 0;
  -webkit-transform: scale(1.065);
          transform: scale(1.065);
  z-index: 999;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.owl-supper-stars .owl-item:hover .card .card--content {
  border-radius: 24px !important;
}

.owl-supper-stars .owl-item:hover .card .card--content .card_innercontent {
  opacity: 1;
  border-radius: 24px !important;
}

.owl-supper-stars .owl-item:hover .card .card--content .card_innercontent .more {
  border-radius: 0 0 24px 0 !important;
}

.right-arrow-icon {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='32px' height='16px' viewBox='0 0 32 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Final-001' transform='translate(-1134.000000, -4730.000000)' stroke='%23FFFFFF' stroke-width='2'%3E%3Cg id='Group-14' transform='translate(865.000000, 4445.000000)'%3E%3Cg id='arrow-right-(4)' transform='translate(270.000000, 286.000000)'%3E%3Cline x1='0' y1='7' x2='30' y2='7' id='Path'%3E%3C/line%3E%3Cpolyline id='Path' points='23 0 30 7 23 14'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* End of Supper Stars   */
.info__section--zebra.become-a-member-section {
  background: none;
  color: #525961;
  padding: 100px 0px 100px 0;
}

.info__section--zebra.become-a-member-section .info__content--single-column {
  background: transparent;
  max-width: 960px;
  padding: 40px 20px;
  text-align: center;
  margin: 0 auto;
}

.info__section--zebra.become-a-member-section .info__content--single-column h1.info__title--single-column {
  font-weight: 700;
  font-family: Georgia, Times New Roman;
  font-size: 30px;
  color: #2E2E2E;
  letter-spacing: 0;
  text-align: center;
  line-height: 46px;
  margin: 0 0 20px 0;
}

.info__section--zebra.become-a-member-section a.info__button--ghost {
  margin-top: 20px;
  font-size: 18px;
  padding: 12px 40px;
  border: 1px solid #F98169;
  background-color: #F98169;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 30px;
  border-radius: 0px;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  font-family: "Muli" !important;
  display: inline-block;
}

.info__section--zebra.become-a-member-section a.info__button--ghost:hover, .info__section--zebra.become-a-member-section a.info__button--ghost:focus {
  border: 1px solid #F98169;
  background-color: #F98169;
  -webkit-box-shadow: 0px 15px 29px 0px rgba(249, 129, 105, 0.68);
          box-shadow: 0px 15px 29px 0px rgba(249, 129, 105, 0.68);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

/* footer */
body {
  background: none;
}

.home-wrapper {
  background: #fff bottom right no-repeat;
}

.footer-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.footer-div .footer__container--dark {
  background: none;
  padding: 0 0 30px 0;
}

.footer-div .footer__content {
  padding: 0;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-div .footer__links-container, .footer-div .footer__links-container--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1188px;
}

.footer-div .footer__links-container {
  border-top: 1px solid rgba(112, 112, 112, 0.18);
  border-bottom: 1px solid rgba(112, 112, 112, 0.18);
  padding: 25px 0;
  max-width: 620px;
}

.footer-div .footer__link-list {
  margin: 0 0px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.footer-div .footer_logo {
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-div .footer__link {
  display: inline-block;
  font-weight: 500;
  color: inherit;
  margin: 0;
  font-size: 13px;
  letter-spacing: 0px;
  padding: 12px 12px;
}

.footer-div .footer__links-container .footer__link-list-item {
  display: inline-block;
}

.footer-div .footer__container--dark .footer__link, .footer-div .footer__container--marketplace_color .footer__link {
  color: #707070;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  letter-spacing: 0px;
  padding: 5px 16px 5px 16px;
  line-height: 23px;
}

.footer-div .footer__container--dark .footer__link:hover, .footer-div .footer__container--marketplace_color .footer__link:hover {
  color: #F98169 !important;
}

.footer-div .footer__logo-container {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.footer-div .footer__logo-container .footer__link-list {
  float: left;
  text-align: left;
  margin: 0 0 30px 0;
}

.footer-div .footer__logo-container .footer__link-list .footer__link-list-item {
  display: list-item;
}

.footer-div .footer__logo-container .footer__link-list .footer__link-list-item .footer__link {
  padding: 0 30px 0 0;
  line-height: 26px;
  margin: 0 0 6px 0;
}

.footer-div .footer__social-media {
  padding: 0 0 40px 0;
  text-align: left;
  margin-bottom: 0;
  margin: 0 0px;
}

.footer-div .footer__social-media-link {
  padding: 0px 0px;
  color: #A9A9A9;
  display: inline-block;
  font-size: 24px;
  margin: 0 30px 0 0;
}

.footer-div .footer__social-media-link:hover {
  color: #F98169 !important;
}

.footer-div hr.footer__separator {
  border: none;
}

.footer-div .footer__copyrights--markdown {
  margin: 10px 0 30px 0;
}

.footer-div .footer__copyrights--markdown p {
  font-family: "Muli";
  font-size: 16px;
  color: #626262;
  letter-spacing: -0.1px;
  line-height: 25px;
}

/* End of footer */
@media (min-width: 1201px) {
  .header-div .Topbar__topbar__7GUWt .Topbar__topbarMobileMenu__3z-JE {
    display: none;
  }
  .header-div .Topbar__topbarMobileMenu__3z-JE {
    font-size: 17px;
    margin-right: 0;
  }
  .header-div .Topbar__topbar__7GUWt * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header-div .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG {
    min-width: 168px;
    max-height: 40px;
    max-width: 18em;
  }
  .header-div .Logo__logo__3sGgU {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-div .Topbar__topbar__7GUWt > * {
    margin-right: 24px;
  }
  .header-div .Topbar__topbarMediumSpacer__cbOwg {
    display: none;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header-div .Topbar__topbarMobileSearchPlaceholder__117MG {
    width: 50px;
    display: none;
  }
  .header-div .Topbar__topbarMenuSpacer__3hqBi {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
  }
  .header-div .Topbar__topbarLinks__CCME8 {
    display: block;
    float: left;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header-div .LoginLinks__link__1GboG {
    line-height: 80px;
    display: inline-block;
    height: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1290px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1025px) and (max-width: 1450px) {
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  p {
    font-size: 14px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: 767px) {
  .header-div .AddNewListingButton__responsiveLayout__1JnL9 .AddNewListingButton__mobile__2JhHF {
    display: none;
    transition: filter 100ms ease-in,-webkit-filter 100ms ease-in;
    position: relative;
    padding: 0 1.5em;
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .position-fixed {
    overflow: hidden;
  }
  .return-to-top {
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 35px;
  }
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    margin: 0 0 15px 0;
    font-size: 28px;
    line-height: 42px;
    max-width: 100%;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
  /********/
  /* custom.css change */
  .btn.btn-primary-round {
    font-size: 14px;
    padding: 0 0px 0px 15px;
    min-height: 40px;
    line-height: 24px;
  }
  .btn.btn-primary-round .text {
    padding: 0 15px 0 0;
  }
  .btn.btn-primary-round span.span-round {
    height: 40px;
    width: 40px;
  }
  .btn.btn-primary-round span.span-round span {
    font-size: 18px;
  }
  .header-div .AddNewListingButton {
    padding: 0 0px 0px 5px;
    min-height: 40px;
    line-height: 27px;
    margin-left: 0;
    margin-right: 30px !important;
  }
  .header-div .AddNewListingButton .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile {
    font-weight: 400;
    font-size: 14px !important;
    color: #2E2E2E !important;
    padding: 0 50px 0 10px !important;
    line-height: 40px !important;
    margin: 0 !important;
    height: auto !important;
    min-height: auto !important;
    min-width: auto !important;
    position: relative;
    padding: 0 1.5em;
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header-div .AddNewListingButton .AddNewListingButton__desktop__17Luf {
    display: none;
  }
  .header-div .AddNewListingButton::after {
    height: 40px;
    width: 40px;
    font-size: 18px;
  }
  .header-div {
    /* Solved header issues */
    /* End of Solved header issues */
  }
  .header-div .topbar-placeholder {
    width: 100%;
  }
  .header-div .Topbar__topbar__7GUWt {
    height: auto;
    min-height: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #fff !important;
    padding: 0 10px 0 0 !important;
  }
  .header-div .Logo__logoImage__3oOkB {
    height: auto;
    width: 85px;
  }
  .header-div .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG {
    border-right: 0px solid rgba(169, 169, 169, 0.3);
    max-height: 32px;
    max-width: 70%;
  }
  .header-div .ProfileDropdown__profileAction__1H9nm {
    width: 100px;
    height: 80px;
    border-bottom: 1px solid rgba(169, 172, 176, 0.5);
    border-right: 0px solid rgba(169, 172, 176, 0.5);
  }
  .header-div .ProfileDropdown__box__T_uM4 {
    right: -0px !important;
    margin-top: -18px;
  }
  .header-div .ProfileDropdown__profileActions__34o4h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-div .Topbar__topbar__7GUWt > .Topbar__topbarAvatarDropdown__3FkXQ {
    top: -7px;
  }
  .header-div .Avatar__textAvatar__4oTir {
    height: 40px !important;
    width: 40px !important;
    font-size: 14px;
    line-height: 22px;
  }
  .header-div .Avatar.Avatar__avatar__Jub8R {
    height: 40px !important;
    width: 40px !important;
    font-size: 14px;
    line-height: 22px;
  }
  .header-div .ProfileDropdown__logoutArea__38Dcu {
    border-top: 0px solid rgba(169, 172, 176, 0.5);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-div .MenuMobile__menuLabelMobile__3uXwZ {
    padding: 18px 15px 18px 15px;
  }
  .header-div .AddNewListingButton {
    margin-left: 0 !important;
    margin-right: 0px !important;
  }
  .MenuMobile__canvasOpen__3CorC .MenuMobile__offScreenMenu__2fKaS {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.15);
  }
  /* End of custom.css change */
  /* header */
  .banner-section .banner-div .side-img-banner {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: 100%;
    opacity: 0.15;
  }
  .banner-section .banner-div .side-img-banner img.banner-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100vh;
    min-height: 760px;
    max-height: 100%;
  }
  .banner-section .banner-div .bannerleft-8 {
    padding: 0 15px;
  }
  .banner-section .banner-div .bannerleft-8 .height-100 {
    position: relative;
    z-index: 99;
  }
  .banner-section .banner-div h1 {
    margin: 0 0 15px 0;
    font-size: 30px;
    line-height: 42px;
    max-width: 100%;
  }
  .banner-section .banner-div .hero__subtitle {
    margin: 0 0 20px 0;
    font-size: 16px;
    color: #2E2E2E;
    line-height: 24px;
    max-width: 650px;
    padding-right: 20px;
  }
  .banner-section .banner-div .hero__content {
    margin: 0 auto;
    padding: 0;
    margin-top: 0;
  }
  .banner-section .search-hero-main .hero__search-bar--combined {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-section .search-hero-main .hero__search-bar--combined button.hero__search-icon--combined {
    display: none !important;
  }
  .banner-section .search-hero-main .hero__search-input-container--combined {
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-section .search-hero-main .hero__location-search-input--combined {
    border-left: solid 0px #DBDBDB;
    border-top: 1px solid #DBDBDB;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 14px;
  }
  /* end of header */
  .main-middle-area .info__button {
    margin-top: 20px;
    padding: 14px 40px;
    font-size: 18px;
  }
  .main-middle-area .listings__button--ghost {
    padding: 14px 30px;
    font-size: 18px;
  }
  /* How supper social works section */
  .general-image-section .general-image-div {
    padding: 80px 0 45px 0;
  }
  .general-image-section .thumb-image-cover {
    margin: 0 0 20px 0;
  }
  .general-image-section .mob_content > div {
    padding: 20px 0 0 0;
  }
  .general-image-section .mobile-order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .general-image-section .mobile-order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  /* End of How supper social works section */
  /* our story section */
  .p0-mobile {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .our-story-main-section #info__single_info_with_background_and_cta__1 h1.info__title--single-column {
    margin: 0 0 30px 0;
    font-size: 28px;
    line-height: 42px;
  }
  .our-story-main-section #info__single_info_with_background_and_cta__1 .info__paragraph--markdown > p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    margin: 0px 0 10px 0px;
  }
  /*  End of our story section */
  /* Latest Available Trades */
  .listings__section.latest-available-trades-section {
    padding: 20px 0px 100px 0;
  }
  .listings__section.latest-available-trades-section h1.listings__title {
    padding: 15px 0px;
    margin: 0 0 30px 0;
    font-size: 28px;
    line-height: 42px;
  }
  .listings__section.latest-available-trades-section .listings__listings .listings__listing {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100% !important;
    margin: 0% 0% 20px 0;
    padding-bottom: 20px;
  }
  .listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-title {
    line-height: 30px;
    padding: 15px 15px 5px 15px;
    font-size: 18px;
  }
  .listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-info span.listings__price-amount {
    font-size: 28px;
    line-height: 36px;
  }
  .listings__section.latest-available-trades-section .listings__listings .listings__listing .listings__listing-info .listings__price-container .listings__price-unit {
    font-size: 16px;
  }
  /* End of Latest Available Trades */
  .supper-stars-section .container-fluid.p0 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .supper-stars-section h1.listings__title {
    padding: 15px 0px;
    margin: 0 0 0px 0;
    font-size: 28px;
    line-height: 42px;
  }
  .owl-supper-stars .card {
    padding: 10px 5px;
  }
  .owl-supper-stars .card .card_innercontent {
    opacity: 1;
  }
  .owl-supper-stars .card .card_innercontent p.star-rating .material-icons {
    font-size: 22px;
  }
  .owl-supper-stars .card .card_innercontent .more {
    height: 55px;
    width: 55px;
  }
  .owl-supper-stars .card .card_innercontent .more .right-arrow-icon {
    height: 24px;
    width: 24px;
  }
  .owl-supper-stars .owl-item:hover .card {
    border-radius: 0px !important;
    padding: 10px 5px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .owl-supper-stars .owl-item:hover .card .card--content {
    border-radius: 0px !important;
  }
  .owl-supper-stars .owl-item:hover .card .card--content .card_innercontent {
    opacity: 1;
    border-radius: 0px !important;
  }
  .owl-supper-stars .owl-item:hover .card .card--content .card_innercontent .more {
    border-radius: 0 0 0px 0 !important;
  }
  .info__section--zebra.become-a-member-section .info__content--single-column {
    padding: 0;
  }
  .info__section--zebra.become-a-member-section .info__content--single-column h1.info__title--single-column {
    font-size: 21px;
    line-height: 32px;
    margin: 0 0 20px 0;
  }
  /* footer */
  .home-wrapper {
    background-size: 100px;
  }
  .footer-div .footer__link-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .footer-div .footer_logo {
    margin: 10px 0 20px 0;
  }
  .footer-div .footer__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .footer-div .footer__logo-container .footer__link-list {
    margin: 0 0 30px 0;
    width: 50%;
  }
  .footer-div .footer__logo-container .footer__link-list:last-child {
    margin: 0 0 10px 0;
  }
  .footer-div .footer__logo-container .footer__link-list .footer__link-list-item .footer__link {
    padding: 0 0px 0 0;
    line-height: 22px;
    margin: 0 0 5px 0;
  }
  .footer-div .footer__container--dark .footer__link, .footer-div .footer__container--marketplace_color .footer__link {
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    line-height: 22px;
    text-align: left;
    width: 100%;
  }
  .footer-div .footer__social-media {
    padding: 0 0 20px 0;
  }
  .footer-div .footer__social-media-link {
    font-size: 18px;
    margin: 0 10px 0 0;
  }
  .footer-div .footer__copyrights--markdown {
    max-width: 205px;
    margin: 0px 0 10px 0;
  }
  .footer-div .footer__copyrights--markdown p {
    font-size: 14px;
  }
  /* End of footer */
}

@media (max-width: 767px) and (min-width: 260px) and (max-width: 360px) {
  .header-div .AddNewListingButton .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile {
    font-size: 13px !important;
    padding: 0 40px 0 10px !important;
    line-height: 40px !important;
  }
  .header-div .AddNewListingButton::after {
    height: 40px;
    width: 40px;
    font-size: 16px;
  }
  .header-div .MenuMobile__menuLabelMobile__3uXwZ {
    padding: 18px 12px 18px 10px;
  }
  .header-div .Logo__logoImage__3oOkB {
    height: auto;
    width: 75px;
  }
  .banner-section .banner-div h1 {
    margin: 0 0 15px 0;
    font-size: 24px;
    line-height: 36px;
  }
  .banner-section .search-hero-main input.hero__keyword-search-input--combined, .banner-section .search-hero-main .hero__location-search-input--combined {
    font-size: 16px;
  }
  .banner-section .search-hero-main .hero__search-button--combined {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .heading-div h2 {
    font-size: 28px;
  }
  .heading-div p {
    font-size: 16px;
  }
  .position-fixed {
    overflow: hidden;
  }
  .heading-div h2 {
    font-size: 36px;
    line-height: 48px;
  }
  h2 {
    margin: 0 0 15px 0;
    font-size: 28px;
    line-height: 42px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .btn-link {
    font-size: 14px;
    line-height: 26px;
  }
  body {
    overflow-x: hidden;
  }
  body.overflow-fixed {
    overflow-y: hidden;
  }
  .position-fixed {
    overflow: hidden;
  }
  /********/
  /* custom.css change */
  .header-div .AddNewListingButton {
    padding: 0 0px 0px 5px;
    min-height: 40px;
    line-height: 27px;
    margin-left: 0;
    margin-right: 40px !important;
  }
  .header-div .AddNewListingButton .AddNewListingButton__mobile__2JhHF.AddNewListingButton_mobile {
    font-weight: 400;
    font-size: 16px !important;
    color: #2E2E2E !important;
    padding: 0 50px 0 10px !important;
    line-height: 40px !important;
    margin: 0 !important;
    height: auto !important;
    min-height: auto !important;
    min-width: auto !important;
    position: relative;
    padding: 0 1.5em;
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-div .AddNewListingButton .AddNewListingButton__desktop__17Luf {
    display: none;
  }
  .header-div .AddNewListingButton::after {
    height: 40px;
    width: 40px;
    font-size: 18px;
  }
  .header-div {
    /* solved header issues */
    /* End of solved header issues */
  }
  .header-div .topbar-placeholder {
    width: 100%;
  }
  .header-div .Topbar__topbar__7GUWt {
    height: auto;
    min-height: 60px;
    background-color: #fff !important;
    padding: 0 15px 0 0 !important;
  }
  .header-div .Logo__logoImage__3oOkB {
    height: auto;
    width: 85px;
  }
  .header-div .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG {
    border-right: 0px solid rgba(169, 169, 169, 0.3);
  }
  .header-div .Topbar__topbar__7GUWt .Topbar__topbarLogo__2_AjG {
    min-width: 168px;
    max-height: 36px;
    max-width: 38%;
  }
  .header-div .Topbar__topbarMediumSpacer__cbOwg {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  .header-div .Topbar__topbarMobileSearchPlaceholder__117MG {
    display: none;
  }
  .header-div .Topbar__topbar__7GUWt > * {
    margin-right: 18px;
  }
  .header-div .Topbar__topbarMobileMenu__3z-JE.MenuMobile.MenuMobile__menuMobile___Ivzx.Topbar__topbarMobileMenu__3z-JE {
    margin: 0;
  }
  .header-div .MenuMobile__canvasOpen__3CorC .MenuMobile__overlay__2sZqq {
    height: 100vh;
    opacity: 0.95;
  }
  .header-div .MenuMobile__canvasOpen__3CorC .MenuMobile__offScreenMenu__2fKaS {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.15);
  }
  .header-div .ProfileDropdown__profileAction__1H9nm {
    width: 100px;
    height: 80px;
    border-bottom: 1px solid rgba(169, 172, 176, 0.5);
    border-right: 0px solid rgba(169, 172, 176, 0.5);
  }
  .header-div .ProfileDropdown__box__T_uM4 {
    right: -20px !important;
    margin-top: -18px;
  }
  .header-div .ProfileDropdown__profileActions__34o4h {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-div .Topbar__topbar__7GUWt > .Topbar__topbarAvatarDropdown__3FkXQ {
    top: -7px;
    right: 15px;
    z-index: 8;
  }
  .header-div .Avatar__textAvatar__4oTir {
    height: 40px !important;
    width: 40px !important;
    font-size: 14px;
    line-height: 22px;
  }
  .header-div .Avatar.Avatar__avatar__Jub8R {
    height: 40px !important;
    width: 40px !important;
    font-size: 14px;
    line-height: 22px;
  }
  .header-div .ProfileDropdown__logoutArea__38Dcu {
    border-top: 0px solid rgba(169, 172, 176, 0.5);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-div .AddNewListingButton {
    margin-right: 50px !important;
  }
  .header-div.header-bgcolor .Topbar__topbar__7GUWt > .Topbar__topbarAvatarDropdown__3FkXQ {
    top: -7px;
  }
  /* End of custom.css change */
  /* header */
  .banner-section .banner-div .side-img-banner {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    min-height: 100%;
  }
  .banner-section .banner-div .bannerleft-8 {
    padding: 0 15px;
  }
  .banner-section .banner-div .bannerleft-8 .height-100 {
    position: relative;
    z-index: 99;
  }
  .banner-section .banner-div h1 {
    margin: 0 0 20px 0;
    font-size: 32px;
    line-height: 48px;
    max-width: 100%;
  }
  .banner-section .search-hero-main .hero__search-bar--combined {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-section .search-hero-main .hero__search-bar--combined button.hero__search-icon--combined {
    display: none !important;
  }
  .banner-section .search-hero-main .hero__search-input-container--combined {
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-section .search-hero-main .hero__location-search-input--combined {
    border-left: solid 0px #DBDBDB;
    border-top: 1px solid #DBDBDB;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 14px;
  }
  /* end of header */
  .main-middle-area .info__button {
    margin-top: 20px;
    padding: 14px 40px;
    font-size: 18px;
  }
  .main-middle-area .listings__button--ghost {
    padding: 14px 40px;
    font-size: 18px;
  }
  /* How supper social works section */
  .general-image-section .general-image-div {
    padding: 80px 0 45px 0;
  }
  .general-image-section .mob_content > div {
    padding: 0px 0 0 0;
  }
  /* End of How supper social works section */
  /* our story section */
  .p0-mobile {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .our-story-main-section #info__single_info_with_background_and_cta__1 {
    min-height: 450px;
    padding: 60px 0px 60px 0;
  }
  .our-story-main-section #info__single_info_with_background_and_cta__1 h1.info__title--single-column {
    margin: 0 0 30px 0;
    font-size: 28px;
    line-height: 42px;
  }
  .our-story-main-section #info__single_info_with_background_and_cta__1 .info__paragraph--markdown > p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    margin: 0px 0 10px 0px;
  }
  /*  End of our story section */
  /* Latest Available Trades */
  .listings__section.latest-available-trades-section {
    padding: 20px 0px 100px 0;
  }
  .listings__section.latest-available-trades-section h1.listings__title {
    padding: 15px 0px;
    font-size: 28px;
    line-height: 42px;
  }
  .listings__section.latest-available-trades-section .listings__listings .listings__listing {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 48% !important;
    padding-bottom: 20px;
  }
  /* End of Latest Available Trades */
  .supper-stars-section {
    padding: 60px 15px 60px 10px;
  }
  .supper-stars-section h1.listings__title {
    margin: 0 0 10px 0;
    font-size: 28px;
    line-height: 42px;
  }
  .owl-supper-stars .card {
    padding: 10px 5px;
  }
  .owl-supper-stars .card .card_innercontent {
    opacity: 1;
  }
  .owl-supper-stars .card .card_innercontent p.star-rating .material-icons {
    font-size: 22px;
  }
  .owl-supper-stars .card .card_innercontent .more {
    height: 55px;
    width: 55px;
  }
  .owl-supper-stars .card .card_innercontent .more .right-arrow-icon {
    height: 24px;
    width: 24px;
  }
  .owl-supper-stars .owl-item:hover .card {
    border-radius: 0px !important;
    padding: 10px 5px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .owl-supper-stars .owl-item:hover .card .card--content {
    border-radius: 0px !important;
  }
  .owl-supper-stars .owl-item:hover .card .card--content .card_innercontent {
    opacity: 1;
    border-radius: 0px !important;
  }
  .owl-supper-stars .owl-item:hover .card .card--content .card_innercontent .more {
    border-radius: 0 0 0px 0 !important;
  }
  /*  */
  .info__section--zebra.become-a-member-section .info__content--single-column {
    padding: 0;
  }
  .info__section--zebra.become-a-member-section .info__content--single-column h1.info__title--single-column {
    font-size: 26px;
    line-height: 38px;
    margin: 0 0 20px 0;
  }
  /* footer */
  .home-wrapper {
    background-size: 260px;
  }
  .footer-div .footer__container--dark .footer__link, .footer-div .footer__container--marketplace_color .footer__link {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    line-height: 22px;
    text-align: left;
    width: 100%;
  }
  .footer-div .footer__social-media {
    padding: 0 0 20px 0;
  }
  .footer-div .footer__social-media-link {
    font-size: 18px;
    margin: 0 10px 0 0;
  }
  .footer-div .footer__copyrights--markdown {
    margin: 0px 0 10px 0;
  }
  .footer-div .footer__copyrights--markdown p {
    font-size: 14px;
  }
  /* End of footer */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .banner-section .hero__content {
    min-width: auto;
    max-width: 480px;
    padding: 0;
    margin-top: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .banner-section .hero__content {
    min-width: auto;
    max-width: 480px;
    padding: 0;
    margin-top: 0;
  }
}
/*# sourceMappingURL=landing-page-style.css.map */