/* font family */
/* font family */
/* icons */
.delete-icon {
  width: 16px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='20px' viewBox='0 0 16 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Edelete copy%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='delete-copy' fill='%23222222' fill-rule='nonzero'%3E%3Cg id='Group'%3E%3Cpath d='M10.7159582,6.97476785 C10.4612752,6.97476785 10.2548631,7.17659304 10.2548631,7.42561639 L10.2548631,15.9466539 C10.2548631,16.1955011 10.4612752,16.3975024 10.7159582,16.3975024 C10.9704611,16.3975024 11.1770533,16.1955011 11.1770533,15.9466539 L11.1770533,7.42561639 C11.1770533,7.17659304 10.9704611,6.97476785 10.7159582,6.97476785 Z' id='Path'%3E%3C/path%3E%3Cpath d='M5.27503603,6.97476785 C5.02035301,6.97476785 4.81394093,7.17659304 4.81394093,7.42561639 L4.81394093,15.9466539 C4.81394093,16.1955011 5.02035301,16.3975024 5.27503603,16.3975024 C5.5295389,16.3975024 5.73613114,16.1955011 5.73613114,15.9466539 L5.73613114,7.42561639 C5.73613114,7.17659304 5.5295389,6.97476785 5.27503603,6.97476785 Z' id='Path'%3E%3C/path%3E%3Cpath d='M1.30961817,5.731236 L1.30961817,16.8391931 C1.30961817,17.4957413 1.55565561,18.1121358 1.98595099,18.554707 C2.41390488,18.9983349 3.00972625,19.2501761 3.63346541,19.2512328 L12.3573487,19.2512328 C12.9810879,19.2501761 13.5769092,18.9983349 14.0048631,18.554707 C14.4351585,18.1121358 14.6813761,17.4957413 14.6813761,16.8391931 L14.6813761,5.73176431 C14.981268,5.64987191 15.2552233,5.49524497 15.478026,5.28232467 C15.976585,4.78797632 16.1235591,4.04935958 15.8510447,3.40813321 C15.5785303,2.76690683 14.9396614,2.34775858 14.2294668,2.34441242 L11.868696,2.34441242 L11.868696,1.78085175 C11.8713977,1.30693243 11.6797551,0.851857177 11.3364553,0.517066923 C10.9933357,0.18245277 10.5273775,-0.00387447967 10.0426873,-5.92378009e-05 L5.9481268,-5.92378009e-05 C5.46343659,-0.00387447967 4.99747836,0.18245277 4.65435878,0.517066923 C4.31105909,0.851857177 4.11941644,1.30693243 4.12229828,1.78085175 L4.12229828,2.34441242 L1.76134727,2.34441242 C0.792327101,2.35427474 0.00936599424,3.12036506 -1.3105111e-15,4.0678514 C0.00468297406,4.84715019 0.540345821,5.52764971 1.30961817,5.731236 Z M12.3573487,18.3495357 L3.63346541,18.3495357 C2.84492076,18.3495357 2.23180837,17.6873519 2.23180837,16.8391931 L2.23180837,5.77086135 L13.7591859,5.77086135 L13.7591859,16.8391931 C13.7591859,17.6873519 13.1458933,18.3495357 12.3573487,18.3495357 Z M5.04448848,1.78085175 C5.04142654,1.54609351 5.13580689,1.32014089 5.30601586,1.15441884 C5.47640489,0.988696788 5.70803315,0.897646482 5.9481268,0.901697086 L10.0426873,0.901697086 C10.282781,0.897646482 10.5144092,0.988696788 10.6847982,1.15441884 C10.8550072,1.31996479 10.9493876,1.54609351 10.9465058,1.78085175 L10.9465058,2.34441242 L5.04448848,2.34441242 L5.04448848,1.78085175 Z M1.17417148,3.4909062 C1.32889047,3.33627922 1.54016572,3.24822286 1.76134727,3.24610951 L14.2294668,3.24610951 C14.6889409,3.24980787 15.059438,3.61524175 15.059438,4.06450529 C15.0592579,4.27901056 14.9715418,4.4845341 14.8157421,4.63563879 C14.6597623,4.78674352 14.4488473,4.87074927 14.2294668,4.86916427 L1.76134727,4.86916427 C1.30385448,4.87022096 0.932276657,4.50830933 0.931374982,4.06115914 C0.931015839,3.84682998 1.01837178,3.64148254 1.17417148,3.4909062 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M7.99549713,6.97476785 C7.74081411,6.97476785 7.53440203,7.17659304 7.53440203,7.42561639 L7.53440203,15.9466539 C7.53440203,16.1955011 7.74081411,16.3975024 7.99549713,16.3975024 C8.25,16.3975024 8.45659223,16.1955011 8.45659223,15.9466539 L8.45659223,7.42561639 C8.45659223,7.17659304 8.25,6.97476785 7.99549713,6.97476785 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* End of icons */
/* Create animation */
@-webkit-keyframes animation-left1 {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animation-left1 {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-effect-main {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

/* End of create animation */
.heading-section {
  padding: 60px 0 10px 0;
  margin: 0;
  position: relative;
}

.heading-section .heading-title-row {
  padding: 0;
  margin: 0;
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.heading-section .heading-title-row h1 {
  margin: 0 0 8px 0;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #484848;
  letter-spacing: 0;
}

.heading-section .heading-title-row p {
  font-weight: 600;
  font-size: 18px;
  color: rgba(72, 72, 72, 0.6);
  letter-spacing: 0;
  line-height: 28px;
}

.heading-section .heading-title-row .row-pre {
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 1025px) {
  .grid-view-body, .grid-view-filter-top {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .heading-section {
    padding: 60px 15px 10px 15px;
  }
  .heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .heading-section .heading-title-row p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading-section {
    padding: 60px 15px 10px 15px;
  }
  .heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .heading-section .heading-title-row p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1025px) and (max-width: 1100px) {
  .grid-view-filter-top {
    zoom: 95%;
  }
}
/*# sourceMappingURL=my-favorites.css.map */