/* font family */
/* font family */
/* svg icons */
.privileges-icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}

.private-icon {
  height: 16px;
  width: 16px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Elock-black-18dp%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='lock-black-18dp'%3E%3Cpolygon id='Path' points='0 0 16 0 16 16 0 16'%3E%3C/polygon%3E%3Cpath d='M12,5.33333333 L11.3333333,5.33333333 L11.3333333,4 C11.3333333,2.16 9.84,0.666666667 8,0.666666667 C6.16,0.666666667 4.66666667,2.16 4.66666667,4 L4.66666667,5.33333333 L4,5.33333333 C3.26666667,5.33333333 2.66666667,5.93333333 2.66666667,6.66666667 L2.66666667,13.3333333 C2.66666667,14.0666667 3.26666667,14.6666667 4,14.6666667 L12,14.6666667 C12.7333333,14.6666667 13.3333333,14.0666667 13.3333333,13.3333333 L13.3333333,6.66666667 C13.3333333,5.93333333 12.7333333,5.33333333 12,5.33333333 Z M8,11.3333333 C7.26666667,11.3333333 6.66666667,10.7333333 6.66666667,10 C6.66666667,9.26666667 7.26666667,8.66666667 8,8.66666667 C8.73333333,8.66666667 9.33333333,9.26666667 9.33333333,10 C9.33333333,10.7333333 8.73333333,11.3333333 8,11.3333333 Z M10.0666667,5.33333333 L5.93333333,5.33333333 L5.93333333,4 C5.93333333,2.86 6.86,1.93333333 8,1.93333333 C9.14,1.93333333 10.0666667,2.86 10.0666667,4 L10.0666667,5.33333333 Z' id='Shape' fill='%23484848' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.public-icon {
  height: 16px;
  width: 16px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Epublic-black-18dp%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='public-black-18dp'%3E%3Cpolygon id='Path' points='0 0 16 0 16 16 0 16'%3E%3C/polygon%3E%3Cpath d='M8,1.33333333 C4.32,1.33333333 1.33333333,4.32 1.33333333,8 C1.33333333,11.68 4.32,14.6666667 8,14.6666667 C11.68,14.6666667 14.6666667,11.68 14.6666667,8 C14.6666667,4.32 11.68,1.33333333 8,1.33333333 Z M7.33333333,13.2866667 C4.7,12.96 2.66666667,10.72 2.66666667,8 C2.66666667,7.58666667 2.72,7.19333333 2.80666667,6.80666667 L6,10 L6,10.6666667 C6,11.4 6.6,12 7.33333333,12 L7.33333333,13.2866667 Z M11.9333333,11.5933333 C11.76,11.0533333 11.2666667,10.6666667 10.6666667,10.6666667 L10,10.6666667 L10,8.66666667 C10,8.3 9.7,8 9.33333333,8 L5.33333333,8 L5.33333333,6.66666667 L6.66666667,6.66666667 C7.03333333,6.66666667 7.33333333,6.36666667 7.33333333,6 L7.33333333,4.66666667 L8.66666667,4.66666667 C9.4,4.66666667 10,4.06666667 10,3.33333333 L10,3.06 C11.9533333,3.85333333 13.3333333,5.76666667 13.3333333,8 C13.3333333,9.38666667 12.8,10.6466667 11.9333333,11.5933333 Z' id='Shape' fill='%23484848' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.general-icon-style {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}

.visible-icon {
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Evisibility-black-18dp%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='visibility-black-18dp'%3E%3Cpolygon id='Path' points='0 0 24 0 24 24 0 24'%3E%3C/polygon%3E%3Cpath d='M12,4.5 C7,4.5 2.73,7.61 1,12 C2.73,16.39 7,19.5 12,19.5 C17,19.5 21.27,16.39 23,12 C21.27,7.61 17,4.5 12,4.5 Z M12,17 C9.24,17 7,14.76 7,12 C7,9.24 9.24,7 12,7 C14.76,7 17,9.24 17,12 C17,14.76 14.76,17 12,17 Z M12,9 C10.34,9 9,10.34 9,12 C9,13.66 10.34,15 12,15 C13.66,15 15,13.66 15,12 C15,10.34 13.66,9 12,9 Z' id='Shape' fill='%23484848' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.invisible-icon {
  height: 24px;
  width: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='18px' height='18px'%3E%3Cpath d='M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z'/%3E%3C/svg%3E");
}

.delete-icon {
  width: 16px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='20px' viewBox='0 0 16 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Edelete copy%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='delete-copy' fill='%23222222' fill-rule='nonzero'%3E%3Cg id='Group'%3E%3Cpath d='M10.7159582,6.97476785 C10.4612752,6.97476785 10.2548631,7.17659304 10.2548631,7.42561639 L10.2548631,15.9466539 C10.2548631,16.1955011 10.4612752,16.3975024 10.7159582,16.3975024 C10.9704611,16.3975024 11.1770533,16.1955011 11.1770533,15.9466539 L11.1770533,7.42561639 C11.1770533,7.17659304 10.9704611,6.97476785 10.7159582,6.97476785 Z' id='Path'%3E%3C/path%3E%3Cpath d='M5.27503603,6.97476785 C5.02035301,6.97476785 4.81394093,7.17659304 4.81394093,7.42561639 L4.81394093,15.9466539 C4.81394093,16.1955011 5.02035301,16.3975024 5.27503603,16.3975024 C5.5295389,16.3975024 5.73613114,16.1955011 5.73613114,15.9466539 L5.73613114,7.42561639 C5.73613114,7.17659304 5.5295389,6.97476785 5.27503603,6.97476785 Z' id='Path'%3E%3C/path%3E%3Cpath d='M1.30961817,5.731236 L1.30961817,16.8391931 C1.30961817,17.4957413 1.55565561,18.1121358 1.98595099,18.554707 C2.41390488,18.9983349 3.00972625,19.2501761 3.63346541,19.2512328 L12.3573487,19.2512328 C12.9810879,19.2501761 13.5769092,18.9983349 14.0048631,18.554707 C14.4351585,18.1121358 14.6813761,17.4957413 14.6813761,16.8391931 L14.6813761,5.73176431 C14.981268,5.64987191 15.2552233,5.49524497 15.478026,5.28232467 C15.976585,4.78797632 16.1235591,4.04935958 15.8510447,3.40813321 C15.5785303,2.76690683 14.9396614,2.34775858 14.2294668,2.34441242 L11.868696,2.34441242 L11.868696,1.78085175 C11.8713977,1.30693243 11.6797551,0.851857177 11.3364553,0.517066923 C10.9933357,0.18245277 10.5273775,-0.00387447967 10.0426873,-5.92378009e-05 L5.9481268,-5.92378009e-05 C5.46343659,-0.00387447967 4.99747836,0.18245277 4.65435878,0.517066923 C4.31105909,0.851857177 4.11941644,1.30693243 4.12229828,1.78085175 L4.12229828,2.34441242 L1.76134727,2.34441242 C0.792327101,2.35427474 0.00936599424,3.12036506 -1.3105111e-15,4.0678514 C0.00468297406,4.84715019 0.540345821,5.52764971 1.30961817,5.731236 Z M12.3573487,18.3495357 L3.63346541,18.3495357 C2.84492076,18.3495357 2.23180837,17.6873519 2.23180837,16.8391931 L2.23180837,5.77086135 L13.7591859,5.77086135 L13.7591859,16.8391931 C13.7591859,17.6873519 13.1458933,18.3495357 12.3573487,18.3495357 Z M5.04448848,1.78085175 C5.04142654,1.54609351 5.13580689,1.32014089 5.30601586,1.15441884 C5.47640489,0.988696788 5.70803315,0.897646482 5.9481268,0.901697086 L10.0426873,0.901697086 C10.282781,0.897646482 10.5144092,0.988696788 10.6847982,1.15441884 C10.8550072,1.31996479 10.9493876,1.54609351 10.9465058,1.78085175 L10.9465058,2.34441242 L5.04448848,2.34441242 L5.04448848,1.78085175 Z M1.17417148,3.4909062 C1.32889047,3.33627922 1.54016572,3.24822286 1.76134727,3.24610951 L14.2294668,3.24610951 C14.6889409,3.24980787 15.059438,3.61524175 15.059438,4.06450529 C15.0592579,4.27901056 14.9715418,4.4845341 14.8157421,4.63563879 C14.6597623,4.78674352 14.4488473,4.87074927 14.2294668,4.86916427 L1.76134727,4.86916427 C1.30385448,4.87022096 0.932276657,4.50830933 0.931374982,4.06115914 C0.931015839,3.84682998 1.01837178,3.64148254 1.17417148,3.4909062 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M7.99549713,6.97476785 C7.74081411,6.97476785 7.53440203,7.17659304 7.53440203,7.42561639 L7.53440203,15.9466539 C7.53440203,16.1955011 7.74081411,16.3975024 7.99549713,16.3975024 C8.25,16.3975024 8.45659223,16.1955011 8.45659223,15.9466539 L8.45659223,7.42561639 C8.45659223,7.17659304 8.25,6.97476785 7.99549713,6.97476785 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.back-arrow {
  height: 14px;
  width: 8px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='15px' viewBox='0 0 8 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eback%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='manage-groups-screen-05' transform='translate(-120.000000, -148.000000)' fill='%23F98169' fill-rule='nonzero'%3E%3Cg id='Group-2' transform='translate(120.000000, 140.000000)'%3E%3Cpath d='M0.23243594,9.36428032 C0.0309658959,9.16138141 -0.046954825,8.86641211 0.0280257597,8.59048448 C0.103006344,8.31455686 0.3194969,8.09959088 0.595947527,8.02656216 C0.872398154,7.95353345 1.16680943,8.03353678 1.36827946,8.23643569 L7.76739789,14.6355541 C8.07753404,14.9475411 8.07753404,15.4514118 7.76739789,15.7633987 L1.36827946,22.1625172 C1.16680943,22.3654161 0.872398153,22.4454194 0.595947523,22.3723907 C0.319496893,22.299362 0.103006336,22.084396 0.0280257519,21.8084684 C-0.0469548322,21.5325408 0.0309658918,21.2375714 0.23243594,21.0346725 L6.06363261,15.2034759 L0.23243594,9.36428032 Z' id='back' transform='translate(4.000000, 15.199476) scale(-1, 1) translate(-4.000000, -15.199476) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cancel-arrow-icon {
  height: 11px;
  width: 11px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='11px' height='11px' viewBox='0 0 11 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M10.693133,9.74892704 C10.9763948,10.0321888 10.9763948,10.5042918 10.693133,10.7875536 C10.4098712,11.0708155 9.93776824,11.0708155 9.65450644,10.7875536 L5.5,6.53862661 L1.25107296,10.7875536 C0.967811159,11.0708155 0.495708155,11.0708155 0.212446352,10.7875536 C-0.0708154506,10.5042918 -0.0708154506,10.0321888 0.212446352,9.74892704 L4.46137339,5.5 L0.306866953,1.25107296 C0.0236051502,0.967811159 0.0236051502,0.495708155 0.306866953,0.212446352 C0.590128755,-0.0708154506 1.06223176,-0.0708154506 1.34549356,0.212446352 L5.5,4.46137339 L9.74892704,0.212446352 C10.0321888,-0.0708154506 10.5042918,-0.0708154506 10.7875536,0.212446352 C11.0708155,0.495708155 11.0708155,0.967811159 10.7875536,1.25107296 L6.53862661,5.5 L10.693133,9.74892704 Z' id='Path' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.search-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='18px' viewBox='0 0 17 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='single-post-view-screen' transform='translate(-828.000000, -2674.000000)' fill='%23C7C8C7' fill-rule='nonzero'%3E%3Cg id='Group-25' transform='translate(120.000000, 2621.000000)'%3E%3Cg id='Group-23' transform='translate(440.000000, 38.000000)'%3E%3Cg id='Group' transform='translate(268.000000, 15.000000)'%3E%3Cpath d='M6.63869402,13.772553 C3.23387339,13.28615 0.80185866,10.1245309 1.28826161,6.63864309 C1.77466455,3.23382246 4.93628371,0.801807728 8.42217149,1.28821067 C11.8269921,1.77461362 14.2590069,4.93623277 13.7726039,8.42212056 C13.286201,11.8269412 10.0435146,14.2589559 6.63869402,13.772553 M16.8531559,16.853105 L12.799798,12.7997471 C13.9347382,11.6648069 14.6643426,10.2866652 14.9075441,8.58425487 C15.4750142,4.44982983 12.6376637,0.72074057 8.58430581,0.0722033082 C4.53094792,-0.495266796 0.720791502,2.34208373 0.0722542401,6.47650877 C-0.495215864,10.6109338 2.34213466,14.3400231 6.39549255,14.9885603 C8.42217149,15.312829 10.3677833,14.7453589 11.8269921,13.6104187 L11.8269921,13.6914858 L15.88035,17.7448437 C16.1235515,17.9880452 16.5288873,17.9880452 16.7720887,17.7448437 C17.0152902,17.5016422 17.0963574,17.0963064 16.8531559,16.853105' id='search-icon'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* End of svg icons */
/* Common css */
.ml-18 {
  margin-left: 18px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mrl-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.plr-30 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.mrl-30 {
  margin-right: -30px !important;
  margin-left: -30px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-5px {
  padding-bottom: 5px !important;
}

ul {
  list-style: none;
}

.link-color {
  font-family: "Muli";
  font-weight: 700;
  font-size: 20px;
  color: #F98169;
  letter-spacing: 0;
  line-height: 28px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.link-color:hover {
  outline: none;
  background-color: #fff;
  color: #484848;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.link-color:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.link-btn {
  border: none;
  cursor: pointer;
}

.link-btn:hover {
  color: #484848;
}

.btn-common-primary {
  background-color: #F98169;
  border: 1px solid #F98169;
  border-radius: 4px;
  font-family: "Muli";
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
  min-height: 48px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding: 5px 30px;
}

.btn-common-primary:hover {
  outline: none;
  background-color: #e6725b;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-common-primary:focus {
  background-color: #F98169;
  border: 1px solid #F98169;
  color: #FFFFFF;
  -webkit-box-shadow: white 0px 0px 0px 4px, #F98169 0px 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
          box-shadow: white 0px 0px 0px 4px, #F98169 0px 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.2s ease 0s;
  transition: -webkit-box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s, -webkit-box-shadow 0.2s ease 0s;
}

.btn-general-outline-primary {
  background-color: transparent;
  border: 1px solid #F98169;
  border-radius: 4px;
  font-family: "Muli";
  font-weight: 700;
  font-size: 18px;
  color: #F98169;
  line-height: 25px;
  min-height: 48px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding: 5px 30px;
}

.btn-general-outline-primary:hover {
  outline: none;
  background-color: #F98169;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-general-outline-primary:focus {
  background-color: #F98169;
  border: 1px solid #F98169;
  color: #FFFFFF;
  -webkit-box-shadow: white 0px 0px 0px 4px, #F98169 0px 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
          box-shadow: white 0px 0px 0px 4px, #F98169 0px 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.2s ease 0s;
  transition: -webkit-box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s, -webkit-box-shadow 0.2s ease 0s;
}

.btn-small-filled-general {
  padding: 5px 15px;
  font-family: "Muli";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
  background: #F98169;
  border: 1px solid #F98169;
  border-radius: 2px;
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-small-filled-general:hover {
  outline: none;
  background-color: #e6725b;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-small-filled-general:focus {
  outline: none;
  background-color: #e6725b;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-small-filled-general .material-icons {
  font-size: 18px;
  margin: 0 5px 0 0;
}

.btn-general-outline-middle {
  padding: 5px 15px;
  font-family: "Muli";
  font-weight: 600;
  font-size: 14px;
  color: #F98169;
  line-height: 20px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #F98169;
  border-radius: 2px;
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-general-outline-middle:hover {
  outline: none;
  background-color: #F98169;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-general-outline-middle:focus {
  outline: none;
  background-color: #F98169;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-back-link {
  font-family: "Muli";
  font-weight: 700;
  font-size: 20px;
  color: #F98169;
  letter-spacing: 0;
  line-height: 28px;
}

.btn-back-link:hover {
  outline: none;
  background-color: #fff;
  color: #484848;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-back-link:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-back-link .back-arrow {
  margin: 0 15px 0 0;
}

.btn-search-icon {
  padding: 0px 0;
  margin: 0;
  background-color: #fff;
  border: none;
}

.btn-search-icon:hover {
  outline: none;
  background-color: #fff;
  color: #484848;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-search-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-cancel-icon {
  background-color: #FF5A4E;
  border-radius: 2px;
  height: 32px;
  width: 32px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-cancel-icon:hover {
  outline: none;
  background-color: #f14c40;
  border-color: #f14c40;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-cancel-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-approve {
  background: #50C878;
  border: 1px solid #50C878;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
  padding: 5px 15px;
}

.btn.btn-approve:hover {
  outline: none;
  background-color: #4eb470;
  border-color: #4eb470;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-approve:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* button loader HTML
<div class="button-loader-group"><div class="button-loader1"></div> <div class="button-loader2"></div> <div class="button-loader3"></div> </div>
*/
.button-loader-group {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.button-loader-group .button-loader1, .button-loader-group .button-loader2, .button-loader-group .button-loader3 {
  width: 6px;
  height: 6px;
  margin-right: 4px;
  display: inline-block;
  -webkit-animation-name: loader-button;
          animation-name: loader-button;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  vertical-align: middle;
  background-color: white;
  border-radius: 100%;
}

.button-loader-group .button-loader1 {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.button-loader-group .button-loader2 {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loader-button {
  0%, 80%, 100% {
    opacity: 0;
  }
  30%, 50% {
    opacity: 1;
  }
}

@keyframes loader-button {
  0%, 80%, 100% {
    opacity: 0;
  }
  30%, 50% {
    opacity: 1;
  }
}

/* End of Common css */
/* Create animation */
@-webkit-keyframes animation-left1 {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animation-left1 {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animation-opacity2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-opacity2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-effect-main {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

/* End of create animation */
/* add animation */
/* account listing page */
.heading-section .heading-title-row {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.white-box-card {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

/* End of account listing page */
/* personal info page */
.top-heading-section .heading-title-row {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.tab-pane.active {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.nav.nav-tabs.custom-nav-tabs {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

/* End of personal info page */
/* add animation */
/*  End of account css  */
.main-profile-area-div {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Muli";
  overflow-x: hidden;
}

.main-profile-area-div .container {
  max-width: 1230px;
}

/*  start account css  */
.heading-section {
  padding: 60px 0 20px 0;
  margin: 0;
  position: relative;
}

.heading-section .heading-title-row {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading-section .heading-title-row h1 {
  margin: 0 0 8px 0;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #484848;
  letter-spacing: 0;
}

.heading-section .heading-title-row h4 {
  font-weight: 600;
  font-size: 20px;
  color: #484848;
  letter-spacing: 0;
  line-height: 28px;
}

.heading-section .heading-title-row .row-pre {
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.heading-section .heading-title-row span.dot-span {
  display: inline-block;
  padding: 0 8px;
}

.my-groups-main-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.nav-tab-root {
  width: 100%;
  position: relative;
}

.nav-tab-root .nav-tabs {
  padding-right: 250px;
}

.nav-tab-root .nav-tabs .nav-item {
  margin-bottom: 0px;
  margin-left: 45px;
}

.nav-tab-root .nav-tabs .nav-item:first-child {
  margin-left: 0px;
}

.nav-tab-root .nav-tabs .nav-link {
  border: 0px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-family: "Muli";
  font-weight: 700;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  padding: 0px 0 16px 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.nav-tab-root .nav-tabs .nav-link:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #F98169;
  display: block;
  position: absolute;
  bottom: 0;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

.nav-tab-root .nav-tabs .nav-item.show .nav-link, .nav-tab-root .nav-tabs .nav-link.active {
  color: #F98169;
}

.nav-tab-root .nav-tabs .nav-item.show .nav-link:after, .nav-tab-root .nav-tabs .nav-link.active:after {
  width: 100%;
}

.nav-tab-root .nav-tabs .nav-link:hover:after {
  width: 100%;
}

.nav-tab-root .btn-group-box-nav {
  position: absolute;
  right: 0;
  top: -15px;
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.tab-container-root .group-btn-row-top {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.tab-container-root .group-btn-row-top .group-filter-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tab-container-root .group-btn-row-top .group-filter-row li {
  margin: 0 10px 10px 0;
}

.tab-container-root .group-btn-row-top span.filter {
  background-color: #FFFFFF;
  border: 1px solid rgba(114, 114, 114, 0.3);
  -webkit-box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.01);
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: rgba(34, 34, 34, 0.8);
  letter-spacing: 0;
  padding: 12px 25px 10px 25px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-container-root .group-btn-row-top span.filter:hover {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.tab-container-root .group-btn-row-top span.filter.active {
  border: 1px solid #222222;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.tab-content {
  padding: 0px 0 0px 0;
  margin: 0;
  position: relative;
}

.main-group-content {
  padding: 0px 0 0 0;
}

.main-group-content .tab-pane {
  padding: 30px 0 80px 0;
}

.group-card-col {
  display: none;
  -webkit-animation: none !important;
          animation: none !important;
}

.my-group-box-card {
  padding: 0 20px 0 20px;
  margin: 0 0 20px 0;
  position: relative;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
}

.my-group-box-card .my-group-top-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.my-group-box-card .my-group-top-div .img-thumb {
  width: 80px;
  height: 80px;
  position: relative;
}

.my-group-box-card .my-group-top-div img.img-group {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.my-group-box-card .my-group-top-div .btn-icon.btn-privileges {
  margin: 0;
  color: #222222;
  border: none;
  background-color: white;
  padding: 0;
  height: 28px;
  width: 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: absolute;
  position: absolute;
  bottom: 0;
  right: 0;
}

.my-group-box-card .my-group-top-div .content-user {
  width: calc(100% - 80px);
  padding: 5px 0 0 15px;
}

.my-group-box-card .my-group-top-div .group-profile-link {
  font-weight: 700;
  font-size: 20px;
  color: #484848;
  letter-spacing: 0;
  line-height: 26px;
  margin: 0 0 2px 0;
  cursor: pointer;
  font-family: "Muli";
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.my-group-box-card .my-group-top-div p {
  font-weight: 400;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0;
  line-height: 22px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0 0 0 0;
}

.my-group-box-card .grid-content-bottom-div {
  padding: 15px 0px 15px 0;
  border-top: 1px solid #EEEEEE;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-group-box-card .grid-content-bottom-div .left-bottom-div {
  padding: 0px 0px;
  margin: 0;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-group-box-card .grid-content-bottom-div .right-bottom-div {
  padding: 0px 0px;
  margin: 0;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.my-group-box-card .grid-content-bottom-div .content-user {
  width: calc(100% - 40px);
  padding: 0 0 0 10px;
}

.my-group-box-card .grid-content-bottom-div .img-user {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.my-group-box-card .grid-content-bottom-div h4 {
  padding: 0px 0px;
  margin: 0;
  width: 100%;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F98169;
  letter-spacing: -0.17px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.my-group-box-card .grid-content-bottom-div p {
  margin: 0;
  width: 100%;
  line-height: 16px;
  font-weight: 400;
  font-size: 13px;
  color: #2E2E2E;
  letter-spacing: -0.16px;
}

.manage-group-min-height {
  min-height: calc(100vh - 613px);
  -webkit-animation-name: animation-opacity2 !important;
          animation-name: animation-opacity2 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  overflow: hidden;
}

/* Group Preferences */
.toggle-main-root-group {
  padding: 0px 0 70px 0;
  margin: 0;
  position: relative;
}

.toggle-main-root-group .toggle-row {
  padding: 0px 0 0px 0;
  margin: 0;
  position: relative;
}

.toggle-main-root-group .toggle-root-group-box {
  padding: 0px 0 0px 0;
  margin: 0 0 30px 0;
  position: relative;
}

.toggle-main-root-group .toggle-root-group-box h3.heading-text {
  font-weight: 700;
  font-size: 20px;
  color: #484848;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 10px 0;
}

.toggle-main-root-group .toggle-root-group-box2 .toggle-view-div {
  padding: 0 0 30px 0;
}

.toggle-main-root-group .toggle-root-group-box2 .toggle-view-div .text-info h4.label-div {
  font-weight: 400;
  line-height: 28px;
}

.toggle-view-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.toggle-view-div .text-info {
  width: calc(100% - 100px);
}

.toggle-view-div .text-info h4.label-div {
  font-weight: 600;
  font-size: 18px;
  color: #484848;
  letter-spacing: 0;
  line-height: 34px;
}

/* End of Group Preferences */
.group-form-root {
  padding: 30px 0px 30px 0;
}

/* Back div */
.back-root-div {
  padding: 50px 0 0 0;
  margin: 0;
  position: relative;
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.heading-section-inner {
  padding-top: 45px;
}

/* Group details */
.my-group-details-root {
  padding: 0 0px 0 0px;
  margin: 0 0 0px 0;
  position: relative;
}

.btn.btn-round-circle {
  margin: 0 0px 0 0;
  color: #222222;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  height: 32px;
  width: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.desc-text-div {
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.desc-text-div .desc-content-div .more {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0;
  line-height: 24px;
}

.desc-text-div .desc-content-div .more .morelink {
  display: inline;
  color: #F98169;
}

.desc-text-div .desc-content-div .more .morelink:hover {
  color: #f68069 !important;
}

.desc-text-div .morecontent span {
  display: none;
}

.desc-text-div .morelink {
  display: inline;
  color: #F98169;
}

.desc-text-div .morelink:hover {
  color: #f68069 !important;
}

.my-group-details-card {
  padding: 0 0px 0 0px;
  margin: 20px 0 20px 0;
  position: relative;
  width: 100%;
}

.my-group-details-card .my-group-top-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0;
  margin: 0 0 10px 0;
}

.my-group-details-card .my-group-top-div .img-thumb {
  width: 80px;
  height: 80px;
  position: relative;
}

.my-group-details-card .my-group-top-div img.img-group {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.my-group-details-card .my-group-top-div .heading-title-group {
  font-weight: 700;
  font-size: 20px;
  color: #484848;
  letter-spacing: 0;
  line-height: 26px;
  margin: 0 0 2px 0;
  cursor: pointer;
  font-family: "Muli";
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.my-group-details-card .my-group-top-div p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(72, 72, 72, 0.6);
  letter-spacing: 0;
  line-height: 22px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0 0 0 0;
}

.my-group-details-card .my-group-top-div .content-user {
  width: calc(100% - 80px);
  padding: 5px 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-group-details-card .my-group-top-div .left-group-title {
  width: calc(100% - 200px);
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-group-details-card .my-group-top-div .right-bottom-div {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.permission-div {
  padding: 0 0px 0 0px;
  margin: 0 0 0px 0;
  position: relative;
}

.permission-div .permission-box {
  padding: 10px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.permission-div .permission-box .icon-thumb {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.permission-div .permission-box .icon-thumb span.icon-round-big {
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.permission-div .permission-box .icon-thumb .privileges-icon {
  height: 24px;
  width: 24px;
}

.permission-div .permission-box .permission-text-div {
  width: calc(100% - 54px);
}

.permission-div .permission-box .permission-text-div h5 {
  font-weight: 700;
  font-size: 18px;
  color: #484848;
  letter-spacing: 0;
  line-height: 26px;
  margin: 0 0 0 0;
}

.permission-div .permission-box .permission-text-div p {
  font-size: 16px;
  color: rgba(72, 72, 72, 0.6);
  letter-spacing: 0;
  line-height: 22px;
  margin: 0;
}

.search-box {
  padding: 10px 0 30px 0;
}

.search-box .search-group-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.search-box .search-group-box .form-control {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  height: 60px;
  color: #484848;
  padding: 0 60px 0 20px;
  width: 100%;
  margin: 0;
  font-size: 20px;
}

.search-box .search-group-box .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.search-box .search-group-box .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.search-box .search-group-box .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.search-box .search-group-box .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.search-box .search-group-box .btn-search-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  width: 58px;
}

.search-box .search-group-box .btn-search-icon .search-icon {
  height: 18px;
  width: 18px;
}

.member-list-card-root {
  padding: 20px 0 20px 0;
}

.member-general-grid-card {
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  position: relative;
  border-bottom: 1px solid #EEEEEE;
}

.member-general-grid-card .grid-content-top-div {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.member-general-grid-card .grid-content-top-div .left-top-div {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 200px);
}

.member-general-grid-card .grid-content-top-div .right-top-div {
  padding: 5px 0 0 0;
  margin: 0;
  position: relative;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.member-general-grid-card .grid-content-top-div .img-thumb {
  position: relative;
}

.member-general-grid-card .grid-content-top-div img.img-user {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.member-general-grid-card .grid-content-top-div .content-user {
  padding: 0px 0 0 10px;
}

.member-general-grid-card .grid-content-top-div h4 {
  padding: 0px 0px;
  margin: 0;
  width: 100%;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F98169;
  letter-spacing: -0.17px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.member-general-grid-card .grid-content-top-div p {
  margin: 0;
  width: 100%;
  line-height: 16px;
  font-weight: 400;
  font-size: 13px;
  color: #2E2E2E;
  letter-spacing: -0.16px;
}

.member-general-grid-card .grid-content-top-div .followers-number {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member-action-grid-card.member-general-grid-card {
  padding: 0 0 0px 0;
  margin: 0 0 30px 0;
  border-bottom: 0px solid #EEEEEE;
}

.member-action-grid-card.member-general-grid-card .grid-content-top-div {
  margin: 0 0 15px 0;
}

.member-action-grid-card .grid-content-bottom-div {
  padding: 15px 0px 0px 0;
  border-top: 1px solid #EEEEEE;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.member-action-grid-card .grid-content-bottom-div .left-bottom-div {
  padding: 0px 0px;
  margin: 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.member-action-grid-card .grid-content-bottom-div .right-bottom-div {
  padding: 0px 0px;
  margin: 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.member-action-grid-card .grid-content-bottom-div .content-user {
  width: calc(100% - 40px);
  padding: 0 0 0 10px;
}

.member-action-grid-card .grid-content-bottom-div .img-user {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.member-action-grid-card .grid-content-bottom-div h4 {
  padding: 0px 0px;
  margin: 0;
  width: 100%;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F98169;
  letter-spacing: -0.17px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.member-action-grid-card .grid-content-bottom-div p {
  margin: 0;
  width: 100%;
  line-height: 16px;
  font-weight: 400;
  font-size: 13px;
  color: #2E2E2E;
  letter-spacing: -0.16px;
}

.email-member-btn-div {
  padding: 0;
  margin: 0 0 20px 0;
}

/* Invite group modal */
.form-div.form-general-div2 {
  padding: 30px 0 10px 0;
}

.checkbox-select-group-root {
  padding: 10px 0 10px 0;
}

.checkbox-select-group-root .user-checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #EEEEEE;
}

.checkbox-select-group-root .user-checkbox-group .custom-checkbox-style {
  margin: 0 0 0px 0;
}

.checkbox-select-group-root .left-top-div {
  padding: 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 39px);
}

.checkbox-select-group-root .first-top-div {
  padding: 0;
  margin: 0;
  position: relative;
  width: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.checkbox-select-group-root .img-thumb {
  position: relative;
}

.checkbox-select-group-root img.img-user {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.checkbox-select-group-root .content-user {
  width: calc(100% - 40px);
  padding: 2px 0 0 10px;
}

.checkbox-select-group-root h4 {
  padding: 0;
  margin: 0 0 2px 0;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F98169;
  letter-spacing: -0.23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkbox-select-group-root p {
  padding: 0;
  margin: 0 0 0px 0;
  font-family: "Muli";
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #2E2E2E;
  letter-spacing: -0.2px;
}

.checkbox-select-group-root .followers-number {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkbox-select-group-root .select-all-checkbox-group {
  margin: 0 0 30px 0;
}

/* End of Invite group modal */
@media (max-width: 767px) {
  .main-profile-area-div {
    overflow-x: hidden;
  }
  .link-color {
    font-size: 18px;
    line-height: 28px;
  }
  .heading-section .heading-title-row {
    display: block;
  }
  .heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .heading-section .heading-title-row h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .heading-section .heading-title-row p {
    font-size: 16px;
    line-height: 24px;
  }
  .nav-tab-root .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
  .nav-tab-root .nav-tabs .nav-item {
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .nav-tab-root .btn-group-box-nav {
    position: relative;
    right: auto;
    width: 100%;
    top: -15px;
    margin: 0 0 30px 0;
  }
  .nav-tab-root .btn-group-box-nav .btn-general-outline-primary {
    width: 100%;
    font-size: 16px;
  }
  .link-color {
    font-size: 18px;
    line-height: 24px;
  }
  .heading-title-row .btn-general-primary {
    width: 100%;
    margin: 0 0 5px 0;
    font-size: 16px;
  }
  .tab-container-root .group-btn-row-top span.filter {
    font-size: 14px;
    line-height: 19px;
    padding: 8px 15px 7px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 60px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-group-box-card {
    padding: 0 15px 0 15px;
  }
  /* Group Preferences */
  .toggle-view-div .text-info h4.label-div {
    font-size: 16px;
    line-height: 28px;
  }
  /* End of Group Preferences */
  .my-group-details-card .my-group-top-div .left-group-title {
    width: 100%;
    min-height: 80px;
  }
  .my-group-details-card .my-group-top-div .right-bottom-div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 0px;
  }
  .member-general-grid-card .grid-content-top-div .btn-small-filled-general {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 20px;
  }
  .member-general-grid-card .grid-content-top-div .btn-small-outlined-general {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 20px;
  }
  .member-general-grid-card .grid-content-top-div .left-top-div {
    width: calc(100% - 140px);
  }
  .member-general-grid-card .grid-content-top-div .right-top-div {
    width: 140px;
  }
  .permission-div .permission-box .icon-thumb {
    height: 44px;
  }
  .permission-div .permission-box .permission-text-div p {
    font-size: 14px;
    line-height: 20px;
  }
  .permission-div .permission-box .permission-text-div h5 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) and (min-width: 260px) and (max-width: 360px) {
  .my-group-box-card {
    padding: 0 10px 0 10px;
  }
  .my-group-box-card .my-group-top-div {
    padding: 20px 0;
  }
  .my-group-box-card .my-group-top-div .img-thumb {
    height: 70px;
    width: 70px;
  }
  .my-group-box-card .my-group-top-div img.img-group {
    height: 70px;
    width: 70px;
  }
  .my-group-box-card .my-group-top-div .group-profile-link {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 2px 0;
  }
  .my-group-box-card .my-group-top-div p {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 0 0;
  }
  .my-group-box-card .grid-content-bottom-div h4 {
    font-size: 14px;
    line-height: 18px;
  }
  .my-group-box-card .grid-content-bottom-div p {
    line-height: 14px;
    font-size: 11px;
  }
  .my-group-box-card .grid-content-bottom-div .content-user {
    padding-left: 6px;
  }
  .my-group-box-card .btn-general-outline-middle {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;
    min-width: 80px;
  }
  .pagination-root ul.pagination-ul li {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-profile-area-div {
    overflow-x: hidden;
  }
  .link-color {
    font-size: 18px;
    line-height: 28px;
  }
  .heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .heading-section .heading-title-row h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .nav-tab-root .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
  .nav-tab-root .nav-tabs .nav-item {
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .link-color {
    font-size: 18px;
    line-height: 24px;
  }
  .member-general-grid-card .grid-content-top-div .btn-small-filled-general {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 20px;
  }
  .member-general-grid-card .grid-content-top-div .btn-small-outlined-general {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 20px;
  }
  .member-general-grid-card .grid-content-top-div .left-top-div {
    width: calc(100% - 140px);
  }
  .member-general-grid-card .grid-content-top-div .right-top-div {
    width: 140px;
  }
}
/*# sourceMappingURL=my-groups.css.map */