/* font family */
/* font family */
/* icons */
.delete-icon {
  width: 16px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='20px' viewBox='0 0 16 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Edelete copy%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='delete-copy' fill='%23222222' fill-rule='nonzero'%3E%3Cg id='Group'%3E%3Cpath d='M10.7159582,6.97476785 C10.4612752,6.97476785 10.2548631,7.17659304 10.2548631,7.42561639 L10.2548631,15.9466539 C10.2548631,16.1955011 10.4612752,16.3975024 10.7159582,16.3975024 C10.9704611,16.3975024 11.1770533,16.1955011 11.1770533,15.9466539 L11.1770533,7.42561639 C11.1770533,7.17659304 10.9704611,6.97476785 10.7159582,6.97476785 Z' id='Path'%3E%3C/path%3E%3Cpath d='M5.27503603,6.97476785 C5.02035301,6.97476785 4.81394093,7.17659304 4.81394093,7.42561639 L4.81394093,15.9466539 C4.81394093,16.1955011 5.02035301,16.3975024 5.27503603,16.3975024 C5.5295389,16.3975024 5.73613114,16.1955011 5.73613114,15.9466539 L5.73613114,7.42561639 C5.73613114,7.17659304 5.5295389,6.97476785 5.27503603,6.97476785 Z' id='Path'%3E%3C/path%3E%3Cpath d='M1.30961817,5.731236 L1.30961817,16.8391931 C1.30961817,17.4957413 1.55565561,18.1121358 1.98595099,18.554707 C2.41390488,18.9983349 3.00972625,19.2501761 3.63346541,19.2512328 L12.3573487,19.2512328 C12.9810879,19.2501761 13.5769092,18.9983349 14.0048631,18.554707 C14.4351585,18.1121358 14.6813761,17.4957413 14.6813761,16.8391931 L14.6813761,5.73176431 C14.981268,5.64987191 15.2552233,5.49524497 15.478026,5.28232467 C15.976585,4.78797632 16.1235591,4.04935958 15.8510447,3.40813321 C15.5785303,2.76690683 14.9396614,2.34775858 14.2294668,2.34441242 L11.868696,2.34441242 L11.868696,1.78085175 C11.8713977,1.30693243 11.6797551,0.851857177 11.3364553,0.517066923 C10.9933357,0.18245277 10.5273775,-0.00387447967 10.0426873,-5.92378009e-05 L5.9481268,-5.92378009e-05 C5.46343659,-0.00387447967 4.99747836,0.18245277 4.65435878,0.517066923 C4.31105909,0.851857177 4.11941644,1.30693243 4.12229828,1.78085175 L4.12229828,2.34441242 L1.76134727,2.34441242 C0.792327101,2.35427474 0.00936599424,3.12036506 -1.3105111e-15,4.0678514 C0.00468297406,4.84715019 0.540345821,5.52764971 1.30961817,5.731236 Z M12.3573487,18.3495357 L3.63346541,18.3495357 C2.84492076,18.3495357 2.23180837,17.6873519 2.23180837,16.8391931 L2.23180837,5.77086135 L13.7591859,5.77086135 L13.7591859,16.8391931 C13.7591859,17.6873519 13.1458933,18.3495357 12.3573487,18.3495357 Z M5.04448848,1.78085175 C5.04142654,1.54609351 5.13580689,1.32014089 5.30601586,1.15441884 C5.47640489,0.988696788 5.70803315,0.897646482 5.9481268,0.901697086 L10.0426873,0.901697086 C10.282781,0.897646482 10.5144092,0.988696788 10.6847982,1.15441884 C10.8550072,1.31996479 10.9493876,1.54609351 10.9465058,1.78085175 L10.9465058,2.34441242 L5.04448848,2.34441242 L5.04448848,1.78085175 Z M1.17417148,3.4909062 C1.32889047,3.33627922 1.54016572,3.24822286 1.76134727,3.24610951 L14.2294668,3.24610951 C14.6889409,3.24980787 15.059438,3.61524175 15.059438,4.06450529 C15.0592579,4.27901056 14.9715418,4.4845341 14.8157421,4.63563879 C14.6597623,4.78674352 14.4488473,4.87074927 14.2294668,4.86916427 L1.76134727,4.86916427 C1.30385448,4.87022096 0.932276657,4.50830933 0.931374982,4.06115914 C0.931015839,3.84682998 1.01837178,3.64148254 1.17417148,3.4909062 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M7.99549713,6.97476785 C7.74081411,6.97476785 7.53440203,7.17659304 7.53440203,7.42561639 L7.53440203,15.9466539 C7.53440203,16.1955011 7.74081411,16.3975024 7.99549713,16.3975024 C8.25,16.3975024 8.45659223,16.1955011 8.45659223,15.9466539 L8.45659223,7.42561639 C8.45659223,7.17659304 8.25,6.97476785 7.99549713,6.97476785 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.search-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='18px' viewBox='0 0 17 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='single-post-view-screen' transform='translate(-828.000000, -2674.000000)' fill='%23C7C8C7' fill-rule='nonzero'%3E%3Cg id='Group-25' transform='translate(120.000000, 2621.000000)'%3E%3Cg id='Group-23' transform='translate(440.000000, 38.000000)'%3E%3Cg id='Group' transform='translate(268.000000, 15.000000)'%3E%3Cpath d='M6.63869402,13.772553 C3.23387339,13.28615 0.80185866,10.1245309 1.28826161,6.63864309 C1.77466455,3.23382246 4.93628371,0.801807728 8.42217149,1.28821067 C11.8269921,1.77461362 14.2590069,4.93623277 13.7726039,8.42212056 C13.286201,11.8269412 10.0435146,14.2589559 6.63869402,13.772553 M16.8531559,16.853105 L12.799798,12.7997471 C13.9347382,11.6648069 14.6643426,10.2866652 14.9075441,8.58425487 C15.4750142,4.44982983 12.6376637,0.72074057 8.58430581,0.0722033082 C4.53094792,-0.495266796 0.720791502,2.34208373 0.0722542401,6.47650877 C-0.495215864,10.6109338 2.34213466,14.3400231 6.39549255,14.9885603 C8.42217149,15.312829 10.3677833,14.7453589 11.8269921,13.6104187 L11.8269921,13.6914858 L15.88035,17.7448437 C16.1235515,17.9880452 16.5288873,17.9880452 16.7720887,17.7448437 C17.0152902,17.5016422 17.0963574,17.0963064 16.8531559,16.853105' id='search-icon'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* End of icons */
/* Create animation */
@-webkit-keyframes animation-left1 {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animation-left1 {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-right1 {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-right1 {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-effect-main {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

/* End of create animation */
.heading-section {
  padding: 60px 0 10px 0;
  margin: 0;
  position: relative;
}

.heading-section .heading-title-row {
  padding: 0;
  margin: 0;
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.heading-section .heading-title-row h1 {
  margin: 0 0 8px 0;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #484848;
  letter-spacing: 0;
}

.heading-section .heading-title-row p {
  font-weight: 600;
  font-size: 18px;
  color: rgba(72, 72, 72, 0.6);
  letter-spacing: 0;
  line-height: 28px;
}

.heading-section .heading-title-row .row-pre {
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.btn-search-icon {
  padding: 0px 0;
  margin: 0;
  background-color: #fff;
  border: none;
}

.btn-search-icon:hover {
  outline: none;
  background-color: #fff;
  color: #484848;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-search-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* my review */
.my-ratings-main-section {
  margin: 30px 0 0 0;
}

.white-box-rating {
  padding: 10px 25px;
  margin: 0;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.reviews-top-row {
  padding: 20px 0 30px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.reviews-top-row .heading-title-div h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 10px 0;
}

.reviews-top-row .rr--number-view-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-top-row .rr--number-view-div p {
  font-weight: 700;
  font-size: 24px;
  color: #2E2E2E;
  letter-spacing: -0.25px;
  line-height: 28px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.reviews-top-row .rr--number-view-div span.separate-span {
  display: inline-block;
  border-right: 1px solid #EBEBEB;
  margin: 0 20px;
  height: 12px;
}

.reviews-top-row .rr--number-view-div .color-icons {
  color: #F98169;
  margin: 0 10px 0 0;
  font-size: 28px;
}

.reviews-top-row .rr--number-view-div span.text-span2 {
  font-weight: 400;
  font-size: 24px;
  color: #484848;
  letter-spacing: -0.25px;
  line-height: 28px;
  padding: 0 0 0 8px;
}

.reviews-progress-row {
  padding: 20px 0 20px 0;
  margin: 0;
  position: relative;
  font-family: "Muli";
}

.reviews-progress-row .rr-progress-box {
  padding: 10px 0 10px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-progress-row .rr-progress-box .left-rr-progress {
  padding: 0;
  margin: 0;
  width: calc(100% - 160px);
}

.reviews-progress-row .rr-progress-box .right-rr-progress {
  padding: 0;
  margin: 0;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-progress-row .rr-progress-box .progress-label-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.reviews-progress-row .rr-progress-box p {
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  color: #222222;
  letter-spacing: -0.25px;
  line-height: 28px;
}

.reviews-progress-row .rr-progress-box .progress {
  height: 5px;
  background-color: #D8D8D8;
  border-radius: 100px;
  width: 100px;
}

.reviews-progress-row .rr-progress-box .progress .progress-bar {
  background-color: #F98169;
  border-radius: 100px;
}

.reviews-progress-row .rr-progress-box span.number-span {
  padding: 0 0 0 15px;
  font-weight: 700;
  font-size: 20px;
  color: #222222;
  letter-spacing: -0.25px;
  line-height: 28px;
  display: inline-block;
}

.reviews-content-div {
  padding: 0 0 60px 20px;
  margin: 0;
  -webkit-animation-name: animation-right1 !important;
          animation-name: animation-right1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.reviews-user-comment-row {
  padding: 0px 0 20px 0;
  margin: 0;
  position: relative;
  font-family: "Muli";
}

.reviews-user-comment-row .reviews-rating-user-comment:first-child .user-comment-box {
  padding-top: 0px;
}

.reviews-user-comment-row .user-comment-box {
  padding: 20px 0 10px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.reviews-user-comment-row .user-comment-box .top-user-div {
  padding: 0px 0px;
  margin: 0 0 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-user-comment-row .user-comment-box .top-user-div .img-user {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-user-comment-row .user-comment-box .top-user-div .content-user {
  width: calc(100% - 40px);
  padding: 0 0 0 10px;
}

.reviews-user-comment-row .user-comment-box .top-user-div a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.reviews-user-comment-row .user-comment-box .top-user-div h4 {
  padding: 0px 0px;
  margin: 0;
  width: 100%;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #F98169;
  letter-spacing: -0.17px;
}

.reviews-user-comment-row .user-comment-box .top-user-div p {
  margin: 0;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  color: #2E2E2E;
  letter-spacing: -0.15px;
  font-weight: 400;
}

.reviews-user-comment-row .user-comment-box .desc-content-div .more {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0;
  line-height: 24px;
}

.reviews-user-comment-row .user-comment-box .desc-content-div .more .morelink {
  display: inline;
  color: #F98169;
}

.reviews-user-comment-row .user-comment-box .desc-content-div .more .morelink:hover {
  color: #f68069 !important;
}

.morecontent span {
  display: none;
}

.morelink {
  display: inline;
  color: #F98169;
}

.morelink:hover {
  color: #f68069 !important;
}

/* End of my review */
.pagination-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.pagination-root ul.pagination-ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.pagination-root ul.pagination-ul li {
  margin-left: 8px;
  margin-right: 8px;
}

.pagination-root ul.pagination-ul li a {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  color: #222;
  -webkit-transition: all;
  transition: all;
}

.pagination-root ul.pagination-ul li a:hover {
  background: #eee;
  color: #222;
}

.pagination-root ul.pagination-ul li.active a {
  background: #222222;
  color: #FFFFFF;
}

.pagination-root ul.pagination-ul li.active a:hover {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
}

.pagination-root ul.pagination-ul li.next {
  margin-left: 20px;
}

.pagination-root ul.pagination-ul li.next a {
  color: #222222 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.pagination-root ul.pagination-ul li.next a:hover {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  background-color: #FFFFFF !important;
  color: #000000 !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
}

.pagination-root ul.pagination-ul li:first-child {
  margin-left: 0px;
}

@media (min-width: 1025px) {
  .grid-view-body, .grid-view-filter-top {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .heading-section {
    padding: 60px 15px 10px 15px;
  }
  .heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .heading-section .heading-title-row p {
    font-size: 16px;
    line-height: 24px;
  }
  .my-ratings-main-section {
    padding: 0 15px;
  }
  .white-box-rating {
    padding: 10px 20px;
    margin: 0 0 30px 0;
  }
  .reviews-content-div {
    padding: 0 0 60px 0px;
  }
  .reviews-top-row {
    padding: 15px 0 25px 0;
  }
  .reviews-top-row .rr--number-view-div .color-icons {
    font-size: 24px;
  }
  .reviews-top-row .rr--number-view-div p {
    font-size: 20px;
  }
  .reviews-top-row .rr--number-view-div span.text-span2 {
    font-size: 20px;
  }
  .reviews-progress-row {
    padding: 15px 0 10px 0;
  }
  .reviews-progress-row .rr-progress-box {
    padding: 8px 0 8px 0;
  }
  .reviews-progress-row .rr-progress-box p {
    font-size: 16px;
  }
  .reviews-progress-row .rr-progress-box span.number-span {
    padding: 0 0 0 15px;
    font-size: 18px;
  }
}

@media (max-width: 767px) and (min-width: 260px) and (max-width: 360px) {
  .white-box-rating {
    padding: 10px 15px;
    margin: 0 0 30px 0;
  }
  .reviews-user-comment-row .user-comment-box .desc-content-div .more {
    font-size: 14px;
    line-height: 22px;
  }
  .reviews-progress-row {
    padding: 15px 0 10px 0;
  }
  .reviews-progress-row .rr-progress-box {
    padding: 8px 0 8px 0;
  }
  .reviews-progress-row .rr-progress-box p {
    font-size: 16px;
  }
  .reviews-progress-row .rr-progress-box .left-rr-progress {
    width: calc(100% - 100px);
  }
  .reviews-progress-row .rr-progress-box .right-rr-progress {
    width: 100px;
  }
  .reviews-progress-row .rr-progress-box .progress {
    width: 62px;
  }
  .reviews-progress-row .rr-progress-box span.number-span {
    padding: 0 0 0 10px;
    font-size: 18px;
  }
  .pagination-root ul.pagination-ul li {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading-section {
    padding: 60px 15px 10px 15px;
  }
  .heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .heading-section .heading-title-row p {
    font-size: 16px;
    line-height: 24px;
  }
  .my-ratings-main-section {
    padding: 0 15px;
  }
  .white-box-rating {
    padding: 10px 20px;
  }
  .reviews-content-div {
    padding: 0 0 60px 0px;
  }
  .reviews-top-row {
    padding: 15px 0 25px 0;
  }
  .reviews-top-row .rr--number-view-div .color-icons {
    font-size: 24px;
  }
  .reviews-top-row .rr--number-view-div p {
    font-size: 20px;
  }
  .reviews-top-row .rr--number-view-div span.text-span2 {
    font-size: 20px;
  }
  .reviews-progress-row {
    padding: 15px 0 10px 0;
  }
  .reviews-progress-row .rr-progress-box {
    padding: 8px 0 8px 0;
  }
  .reviews-progress-row .rr-progress-box p {
    font-size: 16px;
  }
  .reviews-progress-row .rr-progress-box .left-rr-progress {
    width: calc(100% - 100px);
  }
  .reviews-progress-row .rr-progress-box .right-rr-progress {
    width: 100px;
  }
  .reviews-progress-row .rr-progress-box .progress {
    width: 62px;
  }
  .reviews-progress-row .rr-progress-box span.number-span {
    padding: 0 0 0 10px;
    font-size: 18px;
  }
}
/*# sourceMappingURL=my-rating.css.map */