/* font family */
/* font family */
/* svg icons */
.icon-account {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.arrow-right-icon {
  width: 8px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='15px' viewBox='0 0 8 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Profile-account-screen' transform='translate(-299.000000, -395.000000)' fill='%23484848' fill-rule='nonzero'%3E%3Cg id='1' transform='translate(120.000000, 285.000000)'%3E%3Cg id='Group' transform='translate(179.000000, 110.000000)'%3E%3Cpath d='M0.23243594,1.36428032 C0.0309658959,1.16138141 -0.046954825,0.866412108 0.0280257597,0.590484482 C0.103006344,0.314556856 0.3194969,0.0995908821 0.595947527,0.0265621641 C0.872398154,-0.046466554 1.16680943,0.0335367838 1.36827946,0.236435694 L7.76739789,6.63555412 C8.07753404,6.9475411 8.07753404,7.45141176 7.76739789,7.76339874 L1.36827946,14.1625172 C1.16680943,14.3654161 0.872398153,14.4454194 0.595947523,14.3723907 C0.319496893,14.299362 0.103006336,14.084396 0.0280257519,13.8084684 C-0.0469548322,13.5325408 0.0309658918,13.2375714 0.23243594,13.0346725 L6.06363261,7.20347588 L0.23243594,1.36428032 Z' id='arrow-right'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.personal-info-icon {
  width: 30px;
  height: 22px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='22px' viewBox='0 0 30 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Epersonal-info%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Profile-account-screen' transform='translate(-155.000000, -324.000000)' fill-rule='nonzero'%3E%3Cg id='1' transform='translate(120.000000, 285.000000)'%3E%3Cg id='Group-2' transform='translate(25.000000, 25.000000)'%3E%3Cg id='personal-info' transform='translate(10.000000, 14.000000)'%3E%3Cpath d='M24.0818182,3.42272727 L3.84545455,16.5818182 C3.33601095,16.9108492 3.10508384,17.5367883 3.27876943,18.1178456 C3.45245502,18.6989029 3.98901101,19.0954313 4.59545455,19.0909474 L25.8954545,19.0909474 C26.6485701,19.0909474 27.2590981,18.4803883 27.2590981,17.7272727 L27.2590981,5.12727273 C27.2610847,4.3754779 26.8505068,3.68318128 26.1898552,3.32437915 C25.5292037,2.96557701 24.7249707,2.99810565 24.0954545,3.40909091 L24.0818182,3.42272727 Z' id='Path' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M11.25,10.9090909 C11.25,11.8504854 10.486849,12.6136364 9.54545455,12.6136364 C8.60406009,12.6136364 7.84090909,11.8504854 7.84090909,10.9090909 C7.84090909,9.96769645 8.60406009,9.20454545 9.54545455,9.20454545 C10.486849,9.20454545 11.25,9.96769645 11.25,10.9090909 L11.25,10.9090909 Z M27.2727273,0 L8.18181818,0 C7.8052604,0 7.5,0.305260398 7.5,0.681818182 C7.5,1.05837597 7.8052604,1.36363636 8.18181818,1.36363636 L27.2727273,1.36363636 C28.0258428,1.36363636 28.6363636,1.97415716 28.6363636,2.72727273 L28.6363636,19.0909091 C28.6363636,19.8440247 28.0258428,20.4545455 27.2727273,20.4545455 L25.2272727,20.4545455 C24.8507149,20.4545455 24.5454545,20.7598059 24.5454545,21.1363636 C24.5454545,21.5129214 24.8507149,21.8181818 25.2272727,21.8181818 L27.2727273,21.8181818 C28.7789584,21.8181818 30,20.5971402 30,19.0909091 L30,2.72727273 C30,1.22104159 28.7789584,0 27.2727273,0 Z M20.4545455,20.4545455 L2.72727273,20.4545455 C1.97415716,20.4545455 1.36363636,19.8440247 1.36363636,19.0909091 L1.36363636,2.72727273 C1.36363636,1.97415716 1.97415716,1.36363636 2.72727273,1.36363636 L4.09090909,1.36363636 C4.46746687,1.36363636 4.77272727,1.05837597 4.77272727,0.681818182 C4.77272727,0.305260398 4.46746687,0 4.09090909,0 L2.72727273,0 C1.22104159,0 0,1.22104159 0,2.72727273 L0,19.0909091 C0,20.5971402 1.22104159,21.8181818 2.72727273,21.8181818 L20.4545455,21.8181818 C20.8311032,21.8181818 21.1363636,21.5129214 21.1363636,21.1363636 C21.1363636,20.7598059 20.8311032,20.4545455 20.4545455,20.4545455 Z M10.6772727,5.22272727 C8.27653753,4.74467297 5.83432388,5.82654317 4.57531379,7.92581899 C3.31630369,10.0250948 3.51202595,12.6890286 5.06433291,14.5817538 C6.61663987,16.4744789 9.19074784,17.1877943 11.4958346,16.3639979 C13.8009213,15.5402014 15.3398523,13.3569602 15.3409158,10.9090909 C15.3423055,9.99898012 15.1273028,9.10157773 14.7136364,8.29090909 C14.5295132,7.98491404 14.1404738,7.87283732 13.8217758,8.03397675 C13.5030778,8.19511618 13.3627157,8.57486784 13.5,8.90454545 C14.3649918,10.6175435 14.0292337,12.6926386 12.6681818,14.0454545 C10.8405941,12.6095115 8.26492161,12.6208083 6.45,14.0727273 C5.16596753,12.8130625 4.77067168,10.9022336 5.44952373,9.23650412 C6.12837578,7.57077464 7.74670947,6.48058115 9.54545455,6.47727273 C9.83377804,6.47696067 10.1214642,6.50435936 10.4045455,6.55909091 C10.6498584,6.62191176 10.9097803,6.5436017 11.0795608,6.35572023 C11.2493414,6.16783876 11.3010097,5.90133877 11.2137432,5.66362164 C11.1264767,5.42590452 10.9146521,5.2561334 10.6636364,5.22272727 L10.6772727,5.22272727 Z M18.4090909,9.54545455 L25.9090909,9.54545455 C26.2856487,9.54545455 26.5909091,9.24019415 26.5909091,8.86363636 C26.5909091,8.48707858 26.2856487,8.18181818 25.9090909,8.18181818 L18.4090909,8.18181818 C18.0325331,8.18181818 17.7272727,8.48707858 17.7272727,8.86363636 C17.7272727,9.24019415 18.0325331,9.54545455 18.4090909,9.54545455 Z M18.4090909,12.2727273 L25.9090909,12.2727273 C26.2856487,12.2727273 26.5909091,11.9674669 26.5909091,11.5909091 C26.5909091,11.2143513 26.2856487,10.9090909 25.9090909,10.9090909 L18.4090909,10.9090909 C18.0325331,10.9090909 17.7272727,11.2143513 17.7272727,11.5909091 C17.7272727,11.9674669 18.0325331,12.2727273 18.4090909,12.2727273 Z M18.4090909,15 L25.9090909,15 C26.2856487,15 26.5909091,14.6947396 26.5909091,14.3181818 C26.5909091,13.941624 26.2856487,13.6363636 25.9090909,13.6363636 L18.4090909,13.6363636 C18.0325331,13.6363636 17.7272727,13.941624 17.7272727,14.3181818 C17.7272727,14.6947396 18.0325331,15 18.4090909,15 Z' id='Shape' fill='%23484848'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.login-and-security-icon {
  width: 24px;
  height: 27px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='27px' viewBox='0 0 24 27' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Elogin-and-security%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Profile-account-screen' transform='translate(-565.000000, -321.000000)' fill-rule='nonzero'%3E%3Cg id='2' transform='translate(527.000000, 285.000000)'%3E%3Cg id='Group-2' transform='translate(25.000000, 25.000000)'%3E%3Cg id='login-and-security' transform='translate(13.000000, 11.000000)'%3E%3Cpath d='M3.42857143,23.4285714 C3.42857143,23.7441627 3.17273414,24 2.85714286,24 L2.28571429,24 L2.28571429,24.5714286 C2.28571429,24.8870199 2.029877,25.1428571 1.71428571,25.1428571 C1.39869443,25.1428571 1.14285714,24.8870199 1.14285714,24.5714286 L1.14285714,24 L0.571428571,24 C0.255837286,24 0,23.7441627 0,23.4285714 C0,23.1129801 0.255837286,22.8571429 0.571428571,22.8571429 L1.14285714,22.8571429 L1.14285714,22.2857143 C1.14285714,21.970123 1.39869443,21.7142857 1.71428571,21.7142857 C2.029877,21.7142857 2.28571429,21.970123 2.28571429,22.2857143 L2.28571429,22.8571429 L2.85714286,22.8571429 C3.17273414,22.8571429 3.42857143,23.1129801 3.42857143,23.4285714 Z M5.14285714,25.1428571 C4.82726586,25.1428571 4.57142857,25.3986944 4.57142857,25.7142857 C4.57142857,26.029877 4.82726586,26.2857143 5.14285714,26.2857143 C5.45844843,26.2857143 5.71428571,26.029877 5.71428571,25.7142857 C5.71428571,25.3986944 5.45844843,25.1428571 5.14285714,25.1428571 Z M23.4285714,2.28571429 L22.8571429,2.28571429 L22.8571429,1.71428571 C22.8571429,1.39869443 22.6013056,1.14285714 22.2857143,1.14285714 C21.970123,1.14285714 21.7142857,1.39869443 21.7142857,1.71428571 L21.7142857,2.28571429 L21.1428571,2.28571429 C20.8272659,2.28571429 20.5714286,2.54155157 20.5714286,2.85714286 C20.5714286,3.17273414 20.8272659,3.42857143 21.1428571,3.42857143 L21.7142857,3.42857143 L21.7142857,4 C21.7142857,4.31559129 21.970123,4.57142857 22.2857143,4.57142857 C22.6013056,4.57142857 22.8571429,4.31559129 22.8571429,4 L22.8571429,3.42857143 L23.4285714,3.42857143 C23.7441627,3.42857143 24,3.17273414 24,2.85714286 C24,2.54155157 23.7441627,2.28571429 23.4285714,2.28571429 Z M20.48,7.85142857 C17.6100465,7.38972454 14.9305826,6.12133928 12.7542857,4.19428571 C12.6334226,4.07490143 12.4528481,4.03943899 12.2958119,4.10424755 C12.1387758,4.16905612 12.035771,4.32155129 12.0342857,4.49142857 L12.1257143,23.0285714 C12.1332787,23.1750373 12.2142562,23.3077913 12.3410225,23.3815462 C12.4677887,23.4553011 12.6232172,23.4600925 12.7542857,23.3942857 C18.699154,20.8651808 22.0671318,14.5246172 20.8342857,8.18285714 C20.801924,8.00442699 20.659395,7.86649571 20.48,7.84 L20.48,7.85142857 Z' id='Shape' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M14.16,9.50857143 C13.8587643,8.60956328 13.0167057,8.00364387 12.0685714,8.00364387 C11.1204371,8.00364387 10.2783786,8.60956328 9.97714286,9.50857143 L7.21142857,15.0514286 C6.89417657,15.6116264 6.73609823,16.2478917 6.75428571,16.8914286 C6.82819459,18.2671895 7.92709618,19.3660911 9.30285714,19.44 C10.336482,19.3656088 11.3130418,18.9378594 12.0685714,18.2285714 C12.824101,18.9378594 13.8006608,19.3656088 14.8342857,19.44 C16.2100467,19.3660911 17.3089483,18.2671895 17.3828571,16.8914286 C17.4010446,16.2478917 17.2429663,15.6116264 16.9257143,15.0514286 L14.16,9.50857143 Z M11.0514286,14.5142857 C11.0514286,14.4571429 11.0628571,13.1085714 12.0685714,13.1085714 C13.0742857,13.1085714 13.0742857,14.4571429 13.0742857,14.5142857 C12.9710284,15.3009511 12.6185814,16.0338808 12.0685714,16.6057143 C11.5143848,16.0354275 11.157854,15.3023361 11.0514286,14.5142857 L11.0514286,14.5142857 Z M14.8342857,18.2971429 C14.1038184,18.2266687 13.4169497,17.917377 12.88,17.4171429 C13.6367,16.6255357 14.1073139,15.603861 14.2171429,14.5142857 C14.2810876,13.9049883 14.1002212,13.29526 13.714377,12.8193855 C13.3285328,12.3435109 12.7693567,12.0405202 12.16,11.9771429 L12.0685714,11.9657143 C11.4558305,12.0038741 10.8835257,12.2845276 10.4781895,12.7456244 C10.0728533,13.2067211 9.86787411,13.8102795 9.90857143,14.4228571 L9.92,14.5142857 C10.02897,15.6040949 10.4997069,16.6260365 11.2571429,17.4171429 C10.7201932,17.917377 10.0333245,18.2266687 9.30285714,18.2971429 C8.55670789,18.2286564 7.96562928,17.6375778 7.89714286,16.8914286 C7.87877461,16.4269434 7.99378291,15.9669102 8.22857143,15.5657143 L10.9942857,10.0228571 C11.3714286,9.28 11.6228571,9.15428571 12.0685714,9.15428571 C12.5142857,9.15428571 12.7657143,9.28 13.1428571,10.0228571 L15.9085714,15.5657143 C16.1433599,15.9669102 16.2583682,16.4269434 16.24,16.8914286 C16.1715136,17.6375778 15.580435,18.2286564 14.8342857,18.2971429 L14.8342857,18.2971429 Z M22.8457143,6.46857143 C22.7980804,6.2259065 22.5997563,6.04141903 22.3542857,6.01142857 C18.4935143,5.62916947 14.9343513,3.75527833 12.4342857,0.788571429 C12.3216454,0.664502346 12.1618595,0.59375475 11.9942857,0.59375475 C11.8267119,0.59375475 11.6669261,0.664502346 11.5542857,0.788571429 C9.05422014,3.75527833 5.49505711,5.62916947 1.63428571,6.01142857 C1.38881508,6.04141903 1.19049106,6.2259065 1.14285714,6.46857143 C-0.662857143,15.8285714 2.91428571,22.4914286 11.7714286,26.2514286 C11.9138752,26.3117601 12.0746963,26.3117601 12.2171429,26.2514286 C21.0742857,22.4914286 24.64,15.84 22.8457143,6.46857143 L22.8457143,6.46857143 Z M12,25.0971429 C3.88571429,21.5657143 0.674285714,15.6685714 2.20571429,7.08571429 C5.96779299,6.61370866 9.43939971,4.8191675 12,2.02285714 C14.5606003,4.8191675 18.032207,6.61370866 21.7942857,7.08571429 C23.3142857,15.6685714 20.1028571,21.5657143 12,25.0971429 L12,25.0971429 Z' id='Shape' fill='%23484848'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.notification-icon {
  width: 28px;
  height: 26px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='28px' height='26px' viewBox='0 0 28 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Enotification%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Profile-account-screen' transform='translate(-970.000000, -322.000000)' fill-rule='nonzero'%3E%3Cg id='3' transform='translate(934.000000, 285.000000)'%3E%3Cg id='Group-2' transform='translate(25.000000, 25.000000)'%3E%3Cg id='notification' transform='translate(11.000000, 12.000000)'%3E%3Cpath d='M23.1602,8.57261667 L27.2925333,7.08511667 C27.6215333,6.96611667 27.7930333,6.60328333 27.6740333,6.27195 C27.5550333,5.94295 27.1933667,5.77495 26.8620333,5.89045 L22.7297,7.37911667 C22.4007,7.49695 22.2292,7.86095 22.3482,8.19111667 C22.4415333,8.45011667 22.6853667,8.60995 22.9443667,8.60995 C23.0167,8.60995 23.0878667,8.59711667 23.1602,8.57261667 M27.4768667,13.2171167 L23.6373667,12.3187833 C23.2908667,12.23595 22.9548667,12.44945 22.8755333,12.7912833 C22.7962,13.13195 23.0073667,13.4737833 23.3480333,13.5542833 L27.1875333,14.4526167 C27.2365333,14.4642833 27.2843667,14.4701167 27.3322,14.4701167 C27.6203667,14.4701167 27.8817,14.27295 27.9493667,13.9801167 C28.0298667,13.63945 27.8175333,13.2976167 27.4768667,13.2171167 M20.2027,4.44145 C20.3940333,4.44145 20.5830333,4.35511667 20.7067,4.18945 L23.0913667,1.04761667 C23.3037,0.76995 23.2488667,0.37095 22.9700333,0.159783333 C22.6935333,-0.05255 22.2945333,-4.99999998e-05 22.0822,0.282283333 L19.6975333,3.42411667 C19.4863667,3.70178333 19.5400333,4.10078333 19.8200333,4.31195 C19.9332,4.39945 20.0685333,4.44145 20.2027,4.44145 M6.46286667,13.9766167 C6.60753333,14.9706167 6.03003333,15.9307833 5.08503333,16.27145 L3.96153333,16.6751167 C3.66053333,16.7836167 3.3292,16.62845 3.2207,16.32745 L2.03186667,13.0257833 C1.92336667,12.72595 2.0797,12.39345 2.37953333,12.2861167 L8.96886667,9.91078333 C9.2722,9.80228333 9.60703333,9.95861667 9.7167,10.26195 L9.74586667,10.3447833 C9.8427,10.6131167 9.72953333,10.91295 9.4787,11.0517833 L7.32153333,12.2476167 C6.70436667,12.58945 6.36253333,13.2777833 6.46286667,13.9766167' id='Shape' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M16.8973,0.939116667 C16.7456333,0.516783333 16.3583,0.214616667 15.9056333,0.17145 C15.4739667,0.128283333 15.0213,0.355783333 14.7926333,0.743116667 L13.1651333,3.52095 C12.7299667,4.26411667 12.2131333,4.96178333 11.6321333,5.59645 C11.4151333,5.83445 11.4314667,6.20428333 11.6694667,6.42128333 C11.9074667,6.63945 12.2761333,6.62311667 12.4943,6.38511667 C13.1301333,5.68978333 13.6948,4.92445 14.1719667,4.11128333 L15.7994667,1.33461667 L21.2828,16.55145 L18.2564667,15.4501167 C15.3153,14.3802833 12.0708,14.3756167 9.1203,15.4372833 L3.61363333,17.4206167 C3.4678,17.47545 3.3103,17.46845 3.16796667,17.3996167 C3.0268,17.3342833 2.9218,17.21645 2.8693,17.06945 L1.28496667,12.6781167 C1.23246667,12.5322833 1.24063333,12.3747833 1.30713333,12.2336167 C1.37246667,12.0936167 1.4903,11.9862833 1.6373,11.9337833 L7.14396667,9.94928333 C8.0633,9.61678333 8.92663333,9.16178333 9.7503,8.63911667 L11.0546333,12.26045 C11.1398,12.4972833 11.3649667,12.64545 11.6041333,12.64545 C11.6706333,12.64545 11.7359667,12.6337833 11.8024667,12.6116167 C12.1058,12.50195 12.2621333,12.1682833 12.1536333,11.8637833 L10.6054667,7.56928333 C10.5961333,7.54011667 10.5751333,7.52145 10.5611333,7.49461667 C10.5494667,7.47361667 10.5459667,7.44795 10.5308,7.42811667 C10.5238,7.41878333 10.5133,7.41411667 10.5051333,7.40478333 C10.4794667,7.37211667 10.4491333,7.34645 10.4153,7.32078333 C10.3873,7.29745 10.3593,7.27411667 10.3278,7.25661667 C10.3009667,7.24145 10.2706333,7.23445 10.2414667,7.22511667 C10.1983,7.20995 10.1574667,7.19595 10.1119667,7.19128333 C10.0839667,7.18895 10.0583,7.19245 10.0303,7.19361667 C9.98363333,7.19595 9.93813333,7.19945 9.89263333,7.21345 C9.88096667,7.21695 9.87046667,7.21461667 9.8588,7.21811667 C9.8308,7.22861667 9.81213333,7.24728333 9.78646667,7.26128333 C9.7643,7.27411667 9.73863333,7.27761667 9.71763333,7.29278333 C8.80413333,7.94611667 7.80546667,8.46995 6.74846667,8.85028333 L1.24063333,10.8347833 C0.8008,10.9946167 0.449633333,11.31545 0.250133333,11.7366167 C0.0529666667,12.1601167 0.0296333333,12.6337833 0.1883,13.0736167 L1.7703,17.46495 C1.92896667,17.9047833 2.24863333,18.2571167 2.67213333,18.4566167 C2.90896667,18.5662833 3.16213333,18.62345 3.4153,18.62345 C3.6148,18.62345 3.81546667,18.58845 4.0103,18.51845 L8.12746667,17.0356167 L9.5893,17.9981167 C9.80396667,18.1381167 9.89963333,18.4076167 9.82496667,18.65145 L9.5228,19.6256167 C9.40846667,20.0001167 9.4878,20.40495 9.73746667,20.7071167 L12.0183,23.47795 C12.1419667,23.6272833 12.1839667,23.8197833 12.1326333,24.00645 C12.0813,24.1942833 11.9471333,24.3401167 11.7639667,24.4042833 L10.8364667,24.7391167 C10.6019667,24.8242833 10.3453,24.75195 10.1866333,24.5676167 L5.94113333,19.5731167 C5.73463333,19.3281167 5.36713333,19.2977833 5.11863333,19.5066167 C4.87363333,19.71545 4.84446667,20.08295 5.0533,20.3291167 L9.29763333,25.3236167 C9.63713333,25.72145 10.1341333,25.9407833 10.6404667,25.9407833 C10.8388,25.9407833 11.0394667,25.9057833 11.2319667,25.8381167 L12.1594667,25.5032833 C12.6961333,25.3096167 13.1068,24.8651167 13.2573,24.3156167 C13.4078,23.76495 13.2806333,23.1757833 12.9189667,22.7371167 L10.6381333,19.9686167 L10.9391333,18.9967833 C11.1666333,18.2582833 10.8749667,17.4451167 10.2298,17.0227833 L9.4983,16.5421167 L9.51696667,16.5351167 C12.2073,15.5656167 15.1718,15.56795 17.8574667,16.5467833 L20.8838,17.64695 C21.3061333,17.80095 21.7856333,17.6947833 22.1076333,17.37745 C22.4249667,17.05895 22.5323,16.5806167 22.3806333,16.15595 L16.8973,0.939116667 Z' id='Path' fill='%23484848'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.privacy-and-sharing-icon {
  width: 27px;
  height: 23px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='27px' height='23px' viewBox='0 0 27 23' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Eprivacy-and-sharing%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Profile-account-screen' transform='translate(-156.000000, -577.000000)' fill-rule='nonzero'%3E%3Cg id='4' transform='translate(120.000000, 539.000000)'%3E%3Cg id='Group-2' transform='translate(25.000000, 25.000000)'%3E%3Cg id='privacy-and-sharing' transform='translate(11.000000, 13.000000)'%3E%3Cpath d='M19.81,11.5383333 C19.81,12.7174613 18.8541279,13.6733333 17.675,13.6733333 C16.4958721,13.6733333 15.54,12.7174613 15.54,11.5383333 C15.54,10.3592054 16.4958721,9.40333333 17.675,9.40333333 C18.8541279,9.40333333 19.81,10.3592054 19.81,11.5383333 M11.5266667,10.0333333 C9.86712418,11.5892573 9.23087678,13.9502463 9.88388716,16.1293649 C10.5368975,18.3084836 12.3667133,19.9304743 14.608439,20.3173162 C16.8501647,20.7041581 19.1177613,19.7892346 20.4633333,17.955 C20.6797529,17.6518523 20.7294294,17.2602686 20.5955621,16.9126833 C20.4616948,16.565098 20.1621872,16.3079974 19.7983333,16.2283333 C15.4233333,15.19 13.8716667,12.4833333 13.3233333,10.535 C13.2177431,10.1700119 12.9307526,9.8856849 12.5647959,9.78350219 C12.1988393,9.68131948 11.806066,9.77584238 11.5266667,10.0333333' id='Shape' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M15.1666667,17.5 C13.23367,17.5 11.6666667,15.9329966 11.6666667,14 C11.6666667,12.0670034 13.23367,10.5 15.1666667,10.5 C17.0996633,10.5 18.6666667,12.0670034 18.6666667,14 C18.6666667,15.9329966 17.0996633,17.5 15.1666667,17.5 Z M15.1666667,11.6666667 C13.8780023,11.6666667 12.8333333,12.7113356 12.8333333,14 C12.8333333,15.2886644 13.8780023,16.3333333 15.1666667,16.3333333 C16.4553311,16.3333333 17.5,15.2886644 17.5,14 C17.5,12.7113356 16.4553311,11.6666667 15.1666667,11.6666667 Z M14.0116667,2.695 L14.0116667,0.653333333 C14.0116667,0.331167229 13.7504994,0.07 13.4283333,0.07 C13.1061672,0.07 12.845,0.331167229 12.845,0.653333333 L12.845,2.695 C12.845,3.0171661 13.1061672,3.27833333 13.4283333,3.27833333 C13.7504994,3.27833333 14.0116667,3.0171661 14.0116667,2.695 Z M9.415,3.73333333 C9.56696919,3.69991948 9.69929067,3.60717574 9.78254436,3.47572254 C9.86579805,3.34426934 9.89308322,3.1850026 9.85833333,3.03333333 L9.415,1.03833333 C9.35056678,0.722610551 9.04238945,0.518900113 8.72666667,0.583333333 C8.41094388,0.647766554 8.20723345,0.955943885 8.27166667,1.27166667 L8.27166667,1.28333333 L8.715,3.27833333 C8.7752124,3.54533344 9.01296414,3.73456442 9.28666667,3.73333333 C9.32974066,3.73410189 9.37277073,3.73019006 9.415,3.72166667 L9.415,3.73333333 Z M5.47166667,5.58833333 C5.61010479,5.51637247 5.71394534,5.39195187 5.75998382,5.2428749 C5.80602229,5.09379794 5.79042115,4.93249094 5.71666667,4.795 L4.77166667,2.975 C4.62347025,2.68827218 4.2708945,2.57597027 3.98416667,2.72416668 C3.69743885,2.87236309 3.58513694,3.22493884 3.73333333,3.51166667 L4.67833333,5.33166667 C4.82807803,5.61331469 5.17628315,5.72245361 5.46,5.57666667 L5.47166667,5.58833333 Z M18.1416667,3.29 L18.585,1.295 C18.6558765,0.979277226 18.4573894,0.665876569 18.1416667,0.595000028 C17.8259439,0.524123488 17.5125432,0.722610566 17.4416667,1.03833333 L16.9983333,3.03333333 C16.9635834,3.1850026 16.9908686,3.34426934 17.0741223,3.47572254 C17.157376,3.60717574 17.2896975,3.69991948 17.4416667,3.73333333 C17.4838959,3.74185673 17.526926,3.74576855 17.57,3.745 C17.8437025,3.74623108 18.0814543,3.5570001 18.1416667,3.29 Z M22.1783333,5.34333333 L23.1233333,3.52333333 C23.2191996,3.33785295 23.2088311,3.11531795 23.0961335,2.93955513 C22.9834359,2.76379231 22.7855307,2.66150421 22.5769668,2.67122179 C22.368403,2.68093936 22.1808663,2.80118627 22.085,2.98666667 L21.14,4.80666667 C20.9918036,5.0933945 21.1041055,5.44597026 21.3908333,5.59416667 C21.6775612,5.74236307 22.0301369,5.63006117 22.1783333,5.34333333 Z M26.4833333,14.35 C26.1775023,14.2588766 25.8552133,14.4304175 25.76,14.735 C24.7916667,17.885 20.3933333,21.2566667 14.805,21.56 C11.0544392,21.2006441 8.18543061,18.059357 8.16666667,14.2916667 C8.16666667,10.3483333 10.6166667,7.42 14.105,7.04666667 C14.4083333,7.02333333 14.7116667,7.01166667 15.015,7.01166667 C18.9088542,6.95974733 22.1090825,10.0712255 22.1666667,13.965 L22.1666667,13.9883333 C22.1666667,14.21 22.155,14.4316667 22.1433333,14.6416667 C22.1162866,14.9600009 22.3503404,15.2408655 22.6683333,15.2716667 C22.9827265,15.2865893 23.2563175,15.0585969 23.2983333,14.7466667 C23.3216667,14.4977778 23.3333333,14.245 23.3333333,13.9883333 C23.3020501,9.5330238 19.7149689,5.92002435 15.26,5.85666667 C15.2296326,5.8461694 15.1984013,5.83836158 15.1666667,5.83333037 C15.1083333,5.83333037 15.0616667,5.845 15.015,5.845 C14.9683333,5.845 14.9216667,5.83333037 14.875,5.83333037 C14.5827048,5.83308343 14.2906105,5.84866179 14,5.88 C6.32333333,6.37 0.863333333,11.585 0.863333333,15.1666667 C0.863333333,18.6783333 6.59166667,22.75 13.9883333,22.75 C20.58,22.75 25.7016667,18.8416667 26.8566667,15.0616667 C26.9040247,14.9131522 26.8899708,14.7518613 26.8176403,14.6137757 C26.7453098,14.4756902 26.6207205,14.3722987 26.4716667,14.3266667 L26.4833333,14.35 Z M2.04166667,15.1783333 C2.04166667,13.1016667 4.85333333,9.625 9.57833333,7.95666667 C7.88511469,9.62926598 6.95297627,11.9237606 7,14.3033333 C7.01595474,17.1118915 8.41743748,19.7314854 10.745,21.3033333 C5.71666667,20.405 2.04166667,17.5816667 2.04166667,15.1783333 L2.04166667,15.1783333 Z' id='Shape' fill='%23484848'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.preferences-icon {
  width: 22px;
  height: 26px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='22px' height='26px' viewBox='0 0 22 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Epreferences%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Profile-account-screen' transform='translate(-566.000000, -576.000000)' fill-rule='nonzero'%3E%3Cg id='5' transform='translate(527.000000, 539.000000)'%3E%3Cg id='Group-2' transform='translate(25.000000, 25.000000)'%3E%3Cg id='preferences' transform='translate(14.000000, 12.000000)'%3E%3Cpath d='M20.886963,5.92696296 C20.886963,6.75228093 20.2179106,7.42133333 19.3925926,7.42133333 C18.5672746,7.42133333 17.8982222,6.75228093 17.8982222,5.92696296 C17.8982222,5.101645 18.5672746,4.43259259 19.3925926,4.43259259 C20.2179106,4.43259259 20.886963,5.101645 20.886963,5.92696296 Z M11.4074074,16.9807407 C10.5820894,16.9807407 9.91303704,17.6497931 9.91303704,18.4751111 C9.91303704,19.3004291 10.5820894,19.9694815 11.4074074,19.9694815 C12.2327254,19.9694815 12.9017778,19.3004291 12.9017778,18.4751111 C12.9017778,17.6497931 12.2327254,16.9807407 11.4074074,16.9807407 Z M3.42222222,4.43259259 C2.59690426,4.43259259 1.92785185,5.101645 1.92785185,5.92696296 C1.92785185,6.75228093 2.59690426,7.42133333 3.42222222,7.42133333 C4.24754019,7.42133333 4.91659259,6.75228093 4.91659259,5.92696296 C4.91659259,5.101645 4.24754019,4.43259259 3.42222222,4.43259259 L3.42222222,4.43259259 Z' id='Shape' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M21.6740741,6.6 C21.6743507,7.95539569 20.7206038,9.1237357 19.3925926,9.39481481 L19.3925926,24.8518519 C19.3925926,25.1668587 19.1372291,25.4222222 18.8222222,25.4222222 C18.5072154,25.4222222 18.2518519,25.1668587 18.2518519,24.8518519 L18.2518519,9.39481481 C16.9227041,9.12491985 15.9675114,7.95627321 15.9675114,6.6 C15.9675114,5.24372679 16.9227041,4.07508015 18.2518519,3.80518519 L18.2518519,0.896296296 C18.2518519,0.581289439 18.5072154,0.325925926 18.8222222,0.325925926 C19.1372291,0.325925926 19.3925926,0.581289439 19.3925926,0.896296296 L19.3925926,3.81659259 C19.5203213,3.84196651 19.6461117,3.876273 19.769037,3.91925926 C20.0386595,4.04106937 20.1703805,4.34881891 20.072378,4.62797746 C19.9743755,4.90713602 19.6791896,5.06501399 19.3925926,4.99155556 L19.3811852,4.99155556 C19.0150611,4.8627431 18.6152992,4.8667811 18.2518519,5.00296296 C17.5639224,5.23796345 17.1016016,5.88444652 17.1016016,6.61140741 C17.1016016,7.33836829 17.5639224,7.98485136 18.2518519,8.21985185 C18.6191325,8.36028512 19.0253119,8.36028512 19.3925926,8.21985185 C20.0746008,7.97872875 20.5313003,7.33478244 20.5333333,6.61140741 C20.5349247,6.4091251 20.5001497,6.2082032 20.4306667,6.01822222 C20.3204143,5.72211578 20.4710788,5.39269687 20.7671852,5.28244448 C21.0632916,5.17219208 21.3927105,5.32285654 21.502963,5.61896296 C21.6223112,5.93629865 21.684118,6.27237336 21.6854815,6.61140741 L21.6740741,6.6 Z M12.7762963,17.8134815 C12.4847986,17.9252865 12.3373582,18.2506723 12.4454815,18.5435556 C12.5149645,18.7335365 12.5497395,18.9344584 12.5481481,19.1367407 C12.5461151,19.8601158 12.0894156,20.5040621 11.4074074,20.7451852 C11.0401267,20.8856185 10.6339473,20.8856185 10.2666667,20.7451852 C9.57873724,20.5101847 9.11641646,19.8637016 9.11641646,19.1367407 C9.11641646,18.4097799 9.57873724,17.7632968 10.2666667,17.5282963 C10.4494514,17.4614544 10.6424172,17.4267205 10.837037,17.4256296 C11.0309257,17.4239446 11.2237238,17.4547923 11.4074074,17.5168889 L11.4188148,17.5168889 C11.7013993,17.576978 11.9842849,17.4162914 12.0773877,17.1428018 C12.1704905,16.8693122 12.0444042,16.5694011 11.7838519,16.4445926 C11.6643516,16.4060403 11.5423985,16.375552 11.4188148,16.3533333 L11.4188148,0.884888889 C11.4188148,0.569882032 11.1634513,0.314518519 10.8484444,0.314518519 C10.5334376,0.314518519 10.2780741,0.569882032 10.2780741,0.884888889 L10.2780741,16.3419259 C8.94892632,16.6118209 7.99373358,17.7804675 7.99373358,19.1367407 C7.99373358,20.493014 8.94892632,21.6616606 10.2780741,21.9315556 L10.2780741,24.8404444 C10.2780741,25.1554513 10.5334376,25.4108148 10.8484444,25.4108148 C11.1634513,25.4108148 11.4188148,25.1554513 11.4188148,24.8404444 L11.4188148,21.9315556 C12.2341474,21.7639832 12.935576,21.248562 13.3390679,20.5205222 C13.7425598,19.7924824 13.8078389,18.9244964 13.5177778,18.1442963 C13.4059728,17.8527986 13.080587,17.7053582 12.7877037,17.8134815 L12.7762963,17.8134815 Z M4.79111111,5.26533333 C4.49961345,5.37713836 4.35217302,5.70252414 4.4602963,5.99540741 C4.70834169,6.6866052 4.48113582,7.45886939 3.8982989,7.90561543 C3.31546198,8.35236146 2.51068694,8.37111335 1.90767479,7.95199852 C1.30466263,7.53288369 1.04173416,6.77204 1.25731695,6.07003932 C1.47289973,5.36803863 2.11754273,4.88590804 2.85185185,4.87748148 C3.04199941,4.87598897 3.23101574,4.90684878 3.41081481,4.96874074 L3.42222222,4.96874074 C3.70881922,5.04219917 4.00400516,4.8843212 4.10200763,4.60516265 C4.2000101,4.32600409 4.06828914,4.01825455 3.79866667,3.89644444 C3.67574137,3.85345819 3.54995088,3.81915169 3.42222222,3.79377778 L3.42222222,0.873481481 C3.42222222,0.558474624 3.16685871,0.303111111 2.85185185,0.303111111 C2.53684499,0.303111111 2.28148148,0.558474624 2.28148148,0.873481481 L2.28148148,3.78237037 C0.952333731,4.05226533 -0.00285901735,5.22091197 -0.00285901735,6.57718519 C-0.00285901735,7.9334584 0.952333731,9.10210504 2.28148148,9.372 L2.28148148,24.829037 C2.28148148,25.1440439 2.53684499,25.3994074 2.85185185,25.3994074 C3.16685871,25.3994074 3.42222222,25.1440439 3.42222222,24.829037 L3.42222222,9.372 C4.2375548,9.20442766 4.93898337,8.68900649 5.34247531,7.96096668 C5.74596725,7.23292688 5.81124626,6.36494089 5.52118519,5.58474074 C5.40938016,5.29324308 5.08399438,5.14580265 4.79111111,5.25392593 L4.79111111,5.26533333 Z' id='Shape' fill='%23484848'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.trust-center-icon {
  width: 30px;
  height: 25px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='25px' viewBox='0 0 30 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Etrust-center%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Profile-account-screen' transform='translate(-969.000000, -576.000000)' fill-rule='nonzero'%3E%3Cg id='6' transform='translate(934.000000, 539.000000)'%3E%3Cg id='Group-2'%3E%3Cg transform='translate(25.000000, 25.000000)'%3E%3Cg id='trust-center' transform='translate(10.000000, 12.000000)'%3E%3Cpath d='M18.5666707,8.09601051 L15.0155681,3.10913171 L14.9935954,3.08715905 C14.3270913,2.42065496 13.5768165,1.88896229 12.7766454,1.49208111 C10.7981902,1.61682173 8.85544062,2.43484567 7.34344683,3.94661059 C4.04754749,7.2427388 4.04754749,12.5864445 7.34344683,15.8823438 L7.56431785,16.1032149 L18.6678365,23.2402102 C18.8438467,22.6817384 18.7108663,22.04682 18.2682087,21.6041624 L15.8292432,19.1651969 L15.8498426,19.1443687 L18.289037,21.5833342 C18.922582,22.2168793 19.9495751,22.2168793 20.5831202,21.5833342 C21.2166653,20.9500179 21.2166653,19.922796 20.5831202,19.2892509 C21.2166653,19.922796 22.2438873,19.922796 22.8774324,19.2892509 C23.5109775,18.6557058 23.5109775,17.6284838 22.8774324,16.9951676 C23.5109775,17.6284838 24.5381994,17.6284838 25.1715157,16.9949387 C25.8050608,16.3613936 25.8050608,15.3344005 25.1715157,14.7008554 L18.5666707,8.09601051 Z' id='Path' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M27.5972061,3.82621868 C27.3962477,3.57261754 27.1792677,3.32771394 26.9448926,3.09333887 C23.6489933,-0.202560466 18.3050587,-0.202560466 15.0091594,3.09333887 L10.9746581,7.12784011 C10.2202634,7.88223485 10.2202634,9.10560858 10.9746581,9.86000332 C11.7292818,10.6143981 12.9524267,10.6143981 13.7068214,9.86000332 L15.4740185,8.0928062 L15.5852551,8.0928062 L18.1352283,5.54283292 C20.6938991,2.98416222 24.4864722,2.41218634 27.5972061,3.82621868 Z' id='Path' fill='%23FFFFFF'%3E%3C/path%3E%3Cpath d='M20.7062587,6.60141169 L19.3963676,7.69272058 C19.699865,7.53250331 19.9807031,7.32696734 20.2276667,7.08000375 L20.7062587,6.60141169 Z' id='Path' fill='%23FCC69D'%3E%3C/path%3E%3Cpath d='M19.3963676,7.69272058 L20.7062587,6.60141169 L20.2276667,7.08000375 C19.9807031,7.32696734 19.699865,7.53250331 19.3963676,7.69272058 L18.6232046,8.33679427 L25.5301736,15.2437633 L25.808494,16.1654707 L26.9448926,15.0290721 C30.0064169,11.9675478 30.2233969,7.13905531 27.5972061,3.82621868 C24.4862433,2.41241521 20.6938991,2.98416222 18.1352283,5.54283292 L15.5852551,8.0928062 L17.7822925,8.0928062 C18.3501484,8.0928062 18.903356,7.95295934 19.3963676,7.69272058 Z' id='Path' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M11.9359621,20.3073176 L10.9259063,21.3171445 C10.2925901,21.9506896 10.2925901,22.9779116 10.9259063,23.6112278 C11.5594514,24.2447729 12.5866734,24.2447729 13.2202185,23.6112278 L14.2300454,22.6014008 C14.8635905,21.9680846 14.8635905,20.9408627 14.2300454,20.3073176 C13.5965003,19.6737725 12.5695072,19.6737725 11.9359621,20.3073176 Z' id='Path' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M9.64164996,18.0132343 L8.63182302,19.0230612 C7.99827793,19.6566063 7.99827793,20.6835994 8.63182302,21.3171445 C9.26536812,21.9506896 10.2925901,21.9506896 10.9259063,21.3171445 L11.9359621,20.3073176 C12.5692783,19.6737725 12.5692783,18.6467794 11.9359621,18.0132343 C11.302417,17.3796892 10.2751951,17.3796892 9.64164996,18.0132343 Z' id='Path' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M7.34756674,15.7189221 L6.33773974,16.7287491 C5.70419465,17.3622942 5.70419465,18.3895161 6.33773974,19.0230612 C6.97105597,19.6563774 7.99827793,19.6563774 8.63182302,19.0230612 L9.64164996,18.0130054 C10.2751951,17.3796892 10.2751951,16.3524672 9.64164996,15.7189221 C9.00810487,15.085377 7.9808829,15.085377 7.34756674,15.7189221 Z' id='Path' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M5.05325458,13.4248389 L4.04342759,14.4346658 C3.40988249,15.0682109 3.40988249,16.095204 4.04342759,16.7287491 C4.67697269,17.3622942 5.70419465,17.3622942 6.33773974,16.7287491 L7.34756674,15.7189221 C7.9808829,15.085377 7.9808829,14.058384 7.34756674,13.4248389 C6.71402164,12.7912938 5.68679968,12.7912938 5.05325458,13.4248389 Z' id='Path' fill='%23F98169'%3E%3C/path%3E%3Cpath d='M26.9934156,2.48474189 C26.8389203,2.48474189 26.688316,2.54699777 26.5786816,2.65663221 C26.4697338,2.76557999 26.4074779,2.91618425 26.4074779,3.07090842 C26.4074779,3.22494592 26.4697338,3.3762369 26.5786816,3.48518468 C26.688316,3.59413247 26.8389203,3.65684608 26.9934156,3.65684608 C27.147682,3.65684608 27.2982863,3.59413247 27.4079207,3.48518468 C27.5168685,3.3762369 27.5788955,3.22494592 27.5788955,3.07090842 C27.5788955,2.91618425 27.5168685,2.76557999 27.4079207,2.65663221 C27.2982863,2.54699777 27.147682,2.48474189 26.9934156,2.48474189 Z' id='Path' fill='%23000000'%3E%3C/path%3E%3Cpath d='M13.53516,16.285176 C13.3804358,16.285176 13.2298315,16.3474319 13.120426,16.4568374 C13.0114782,16.5657852 12.9492223,16.7166183 12.9492223,16.8711136 C12.9492223,17.02538 13.0114782,17.1764421 13.120426,17.2853898 C13.2298315,17.3945666 13.3804358,17.4572802 13.53516,17.4572802 C13.6894263,17.4572802 13.8398018,17.3945666 13.9494362,17.2853898 C14.058384,17.1764421 14.1206399,17.02538 14.1206399,16.8711136 C14.1206399,16.7163895 14.058384,16.5657852 13.9494362,16.4568374 C13.8400306,16.3474319 13.6894263,16.285176 13.53516,16.285176 Z' id='Path' fill='%23000000'%3E%3C/path%3E%3Cpath d='M28.8272174,4.60258608 C28.6672289,4.32129024 28.3092576,4.22309992 28.0281906,4.38285946 C27.7466659,4.54284792 27.6484756,4.90059034 27.808464,5.18188618 C29.548882,8.2427238 29.0235981,12.1218142 26.5303875,14.6147959 L26.0861277,15.0590556 C25.9787821,14.777302 25.8126139,14.5131723 25.5860208,14.2865792 L19.5650536,8.26584085 C19.9589593,8.0722068 20.3226527,7.81357022 20.6421718,7.49428002 L21.796881,6.33934193 C22.025534,6.1106889 22.025534,5.73944249 21.796881,5.51078946 C21.5679991,5.28190756 21.1969815,5.28190756 20.9680996,5.51078946 L19.8133905,6.66549862 C19.2707115,7.20794875 18.5495046,7.50686854 17.7822925,7.50686854 L15.4740185,7.50686854 C15.3186077,7.50686854 15.1696056,7.56866662 15.0595134,7.67852993 L13.2923163,9.44549819 C12.767719,9.97032437 11.9137606,9.97032437 11.3889344,9.44549819 C10.8641082,8.92090088 10.8641082,8.0669425 11.3889344,7.54211632 L15.4234356,3.50761508 C17.8889515,1.04209927 21.7382872,0.499878066 24.7837897,2.18925534 C25.0666878,2.34603943 25.4235146,2.24395813 25.5802987,1.96083124 C25.7373117,1.67793321 25.6352304,1.32110632 25.3521035,1.16409337 C23.6723392,0.232544009 21.6934263,-0.140304589 19.779287,0.114669817 C17.9878284,0.353393651 16.3481185,1.10321075 15.0041239,2.29339662 C13.3531988,0.829696867 11.2511475,0.029296883 9.02572876,0.029296883 C6.61491573,0.029296883 4.34829834,0.96817046 2.64358596,2.67288284 C0.938873577,4.37759522 0,6.64421262 0,9.05525457 C0,11.4660676 0.938873577,13.732685 2.64358596,15.4373974 L2.86445697,15.6582684 C2.90290913,15.6967206 2.94548114,15.7280774 2.99057086,15.7534833 C3.02970968,16.2604567 3.242341,16.7564438 3.62915138,17.1432542 C4.05967822,17.573781 4.62501654,17.78893 5.19058372,17.78893 C5.21988061,17.78893 5.24940636,17.7880145 5.27870324,17.7868701 C5.27755879,17.8166247 5.27641439,17.8461505 5.27641439,17.8759051 C5.27641439,18.4657338 5.50621182,19.0203146 5.92323467,19.4373375 C6.3537615,19.8678643 6.91909982,20.0832422 7.48466695,20.0832422 C7.51396383,20.0832422 7.54348964,20.0820978 7.57278652,20.0809534 C7.57164207,20.110708 7.57072654,20.1402337 7.57072654,20.1702173 C7.57072654,20.760046 7.8002951,21.3143979 8.21754682,21.7316496 C8.64807365,22.1619476 9.21341197,22.3773255 9.7789791,22.3773255 C9.80873378,22.3773255 9.83825953,22.3764099 9.86801414,22.3752655 C9.84421043,22.9699007 10.0586728,23.5725468 10.5116301,24.0257329 C10.9286529,24.4427557 11.4832337,24.6725531 12.0730624,24.6725531 C12.662891,24.6725531 13.2174719,24.4427557 13.6344947,24.0257329 L14.4534341,23.2067935 L15.5596203,24.3127508 C15.9766432,24.7300025 16.531224,24.959571 17.1210527,24.959571 C17.7108813,24.959571 18.2654622,24.7300025 18.682485,24.3129797 C19.1411643,23.8543003 19.3553977,23.242499 19.3254142,22.6407685 C19.3622642,22.6425996 19.3991142,22.643744 19.4359642,22.643744 C20.0015313,22.643744 20.5670985,22.4283661 20.9976254,21.9978393 C21.4503538,21.5451109 21.6645873,20.9429226 21.6410124,20.3482874 C21.670767,20.3494318 21.7005217,20.3505762 21.7302763,20.3505762 C22.320105,20.3505762 22.8746858,20.1207788 23.2917087,19.703756 C23.744437,19.2507987 23.9588994,18.6486104 23.9353246,18.0542042 C23.9648503,18.0553486 23.9946049,18.0562641 24.0243596,18.0562641 C24.6141882,18.0562641 25.1687691,17.8266956 25.5857919,17.4096727 C25.7977365,17.1977281 25.9570383,16.9530533 26.0646129,16.6918991 C26.1218333,16.6642044 26.1753916,16.6271255 26.2227702,16.579747 L27.3591689,15.4435772 C30.2240836,12.5786625 30.8276451,8.12072976 28.8272174,4.60258608 Z M5.19058372,16.6179702 C4.9136366,16.6179702 4.65362676,16.5101669 4.45770386,16.3144729 C4.26200982,16.11855 4.15420649,15.8585401 4.15420649,15.581593 C4.15420649,15.3048748 4.26200982,15.0446361 4.45793272,14.848942 L5.46753079,13.8391151 C5.66322483,13.6434211 5.92346353,13.5356177 6.2004106,13.5356177 C6.47712886,13.5356177 6.73736756,13.6434211 6.9330616,13.8391151 C7.33726701,14.2430916 7.33726701,14.9004405 6.9330616,15.3046459 L5.92323467,16.3144729 C5.72754063,16.5101669 5.46730192,16.6179702 5.19058372,16.6179702 Z M6.75201601,18.6085561 C6.55632197,18.4128621 6.44851864,18.1526234 6.44851864,17.8759051 C6.44851864,17.5991869 6.55632197,17.3389482 6.75201601,17.1432542 L7.76184294,16.1334273 C7.76184294,16.1334273 7.76184294,16.1334273 7.76184294,16.1331984 C7.95753698,15.9375044 8.21777568,15.8299298 8.49449389,15.8299298 C8.77144101,15.8299298 9.03167972,15.9375044 9.22737375,16.1334273 C9.63135029,16.5374038 9.63135029,17.1947526 9.22737375,17.5987291 L8.21754682,18.6085561 C7.81334136,19.0125327 7.15599254,19.0125327 6.75201601,18.6085561 Z M9.04609929,20.9028683 C8.85040525,20.7071743 8.74260186,20.4469356 8.74260186,20.1699884 C8.74260186,19.8932702 8.85040525,19.6330315 9.04609929,19.4373375 L10.0561551,18.4275105 C10.2518491,18.2318165 10.511859,18.1240131 10.788806,18.1240131 C11.0655242,18.1240131 11.325763,18.2318165 11.521457,18.4275105 C11.9254336,18.8314871 11.9254336,19.4888359 11.521457,19.8930413 L10.5116301,20.9028683 C10.1076535,21.3068448 9.45030469,21.3068448 9.04609929,20.9028683 Z M12.8057133,23.1971804 C12.6100193,23.3928744 12.3500095,23.5006778 12.0730624,23.5006778 C11.7963442,23.5006778 11.5361054,23.3928744 11.3404114,23.1971804 C10.9364349,22.792975 10.9364349,22.1356262 11.3404114,21.7316496 L12.3502384,20.7218227 C12.3502384,20.7218227 12.3502384,20.7218227 12.3502384,20.7215938 C12.5459324,20.5258998 12.8061711,20.4180964 13.0828893,20.4180964 C13.3596075,20.4180964 13.6198462,20.5258998 13.8155403,20.7218227 C14.0114632,20.9175167 14.1192666,21.1777554 14.1192666,21.4544736 C14.1192666,21.7311918 14.0114632,21.9914305 13.8155403,22.1871246 L12.8057133,23.1971804 Z M24.7572395,16.5806625 C24.5615454,16.7765854 24.3013067,16.8843888 24.0243596,16.8843888 C23.7476414,16.8843888 23.4874026,16.7765854 23.2917087,16.5806625 L20.8527431,14.141697 C20.8525142,14.1414681 20.8525142,14.1414681 20.8522854,14.1414681 L18.558431,11.8473848 C18.3295491,11.6187318 17.9585316,11.6187318 17.7296497,11.8473848 C17.5007678,12.0762667 17.5007678,12.4472843 17.7296497,12.6761662 L22.4629273,17.4094439 C22.8669039,17.8134204 22.8669039,18.4707692 22.4629273,18.8749746 C22.2672333,19.0706687 22.0069946,19.178472 21.7302763,19.178472 C21.4533292,19.178472 21.1933194,19.0706687 20.9976254,18.8749746 L16.2641188,14.141697 C16.0352369,13.9128151 15.6644483,13.9128151 15.4355664,14.141697 C15.2066845,14.3705789 15.2066845,14.7415965 15.4355664,14.9704784 L17.7291919,17.2641038 C17.7294207,17.2641038 17.7294207,17.2645616 17.7296497,17.2645616 L20.168844,19.703756 C20.5728206,20.1077325 20.5728206,20.7650814 20.168844,21.1692868 C19.7648674,21.5732634 19.1072898,21.5732634 18.7033132,21.1692868 L16.2641188,18.7300924 C16.2190291,18.6850027 16.1684462,18.6490682 16.1144301,18.6218313 L15.418858,17.9262592 C15.1899761,17.6973773 14.8189585,17.6973773 14.5900766,17.9262592 C14.3611947,18.1549122 14.3611947,18.5259297 14.5900766,18.7548116 L17.8537036,22.0186675 C18.257909,22.4226441 18.257909,23.0799929 17.8537036,23.4841983 C17.6580096,23.6798924 17.3977709,23.7876957 17.1210527,23.7876957 C16.8443344,23.7876957 16.5840957,23.6798924 16.3884017,23.4841983 L15.1464885,22.2422851 C15.2410167,21.9939483 15.2911419,21.7282164 15.2911419,21.4544736 C15.2911419,20.864645 15.0613445,20.3100641 14.6443217,19.8930413 C14.2272988,19.4760185 13.672718,19.2462211 13.0828893,19.2462211 C13.0531347,19.2462211 13.02338,19.2473655 12.9938543,19.2485099 C13.0172002,18.6538747 12.8029667,18.0516864 12.3502384,17.5989581 C11.9329867,17.1819352 11.3784058,16.9521378 10.788806,16.9521378 C10.7588226,16.9521378 10.7292967,16.9530533 10.6995421,16.9541977 C10.7231169,16.3597914 10.5088835,15.7576032 10.0559262,15.3046459 C9.63890338,14.8876231 9.08432252,14.6580545 8.49449389,14.6580545 C8.46473927,14.6580545 8.43498459,14.6589701 8.40545884,14.6601145 C8.42903369,14.0657082 8.21457131,13.4635199 7.76184294,13.0105626 C6.90078927,12.1495089 5.49980312,12.1495089 4.63874945,13.0105626 L3.62915138,14.0203896 C3.50166418,14.1476479 3.39363192,14.287037 3.30391022,14.4346658 C1.92741445,12.9725683 1.17187532,11.071933 1.17187532,9.05525457 C1.17187532,6.95732305 1.98898367,4.98504775 3.4723673,3.50166418 C4.95575087,2.01828055 6.92802617,1.20140107 9.02595768,1.20140107 C10.932315,1.20140107 12.7349888,1.87614491 14.1613808,3.11256495 L10.5603819,6.71356385 C10.0847653,7.1891804 9.82292442,7.82135224 9.82292442,8.49403615 C9.82292442,9.16649114 10.0847653,9.79889184 10.5603819,10.2745084 C11.0511047,10.7652312 11.6960939,11.0108215 12.3408542,11.0108215 C12.9856145,11.0108215 13.6303748,10.7652312 14.1213265,10.2745084 L15.7168622,8.67874386 L17.7825213,8.67874386 C17.9530384,8.67874386 18.1217243,8.66707087 18.2883504,8.64647147 L24.7572395,15.1153606 C25.161216,15.5193371 25.161216,16.1766859 24.7572395,16.5806625 Z' id='Shape' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* End of svg icons */
/* Common css */
.ml-18 {
  margin-left: 18px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mrl-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-5px {
  padding-bottom: 5px !important;
}

ul {
  list-style: none;
}

.link-color {
  font-family: "Muli";
  font-weight: 700;
  font-size: 20px;
  color: #F98169;
  letter-spacing: 0;
  line-height: 28px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.link-color:hover {
  outline: none;
  background-color: #fff;
  color: #484848;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.link-color:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.link-btn {
  border: none;
  cursor: pointer;
}

.link-btn:hover {
  color: #484848;
}

.btn-common-primary {
  background-color: #F98169;
  border: 1px solid #F98169;
  border-radius: 4px;
  font-family: "Muli";
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
  min-height: 48px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding: 5px 30px;
}

.btn-common-primary:hover {
  outline: none;
  background-color: #e6725b;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-common-primary:focus {
  background-color: #F98169;
  border: 1px solid #F98169;
  color: #FFFFFF;
  -webkit-box-shadow: white 0px 0px 0px 4px, #F98169 0px 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
          box-shadow: white 0px 0px 0px 4px, #F98169 0px 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.2s ease 0s;
  transition: -webkit-box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s, -webkit-box-shadow 0.2s ease 0s;
}

/* button loader HTML
<div class="button-loader-group"><div class="button-loader1"></div> <div class="button-loader2"></div> <div class="button-loader3"></div> </div>
*/
.button-loader-group {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.button-loader-group .button-loader1, .button-loader-group .button-loader2, .button-loader-group .button-loader3 {
  width: 6px;
  height: 6px;
  margin-right: 4px;
  display: inline-block;
  -webkit-animation-name: loader-button;
          animation-name: loader-button;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  vertical-align: middle;
  background-color: white;
  border-radius: 100%;
}

.button-loader-group .button-loader1 {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.button-loader-group .button-loader2 {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loader-button {
  0%, 80%, 100% {
    opacity: 0;
  }
  30%, 50% {
    opacity: 1;
  }
}

@keyframes loader-button {
  0%, 80%, 100% {
    opacity: 0;
  }
  30%, 50% {
    opacity: 1;
  }
}

/* End of Common css */
/* Create animation */
@-webkit-keyframes animation-left1 {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animation-left1 {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animation-opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation-opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-effect-main {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

/* End of create animation */
/* add animation */
/* account listing page */
.heading-section .heading-title-row {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.white-box-card {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

/* End of account listing page */
/* personal info page */
.top-heading-section .heading-title-row {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.tab-pane.active {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.nav.nav-tabs.custom-nav-tabs {
  -webkit-animation-name: animation-left1 !important;
          animation-name: animation-left1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

/* End of personal info page */
/* add animation */
/*  End of account css  */
.main-profile-area-div {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Muli";
  overflow-x: hidden;
}

.main-profile-area-div .container {
  max-width: 1230px;
}

/*  start account css  */
.heading-section {
  padding: 60px 0 50px 0;
  margin: 0;
  position: relative;
}

.heading-section .heading-title-row {
  padding: 0;
  margin: 0;
}

.heading-section .heading-title-row h1 {
  margin: 0 0 8px 0;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #484848;
  letter-spacing: 0;
}

.heading-section .heading-title-row h4 {
  font-weight: 600;
  font-size: 20px;
  color: #484848;
  letter-spacing: 0;
  line-height: 28px;
}

.heading-section .heading-title-row .row-pre {
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.heading-section .heading-title-row span.dot-span {
  display: inline-block;
  padding: 0 8px;
}

.profile-account-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.white-box-card {
  margin: 0;
  position: relative;
  font-family: "Muli";
}

.white-box-card .card-link-box {
  padding: 25px;
  margin: 0 0 20px 0;
  display: block;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  width: 100%;
  min-height: 230px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.white-box-card .icon-thumb-div {
  padding: 0;
  margin: 0 0 25px 0;
  position: relative;
  width: 100%;
}

.white-box-card .icon-thumb-div .icon-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FAFAFA;
  border: 1px solid #EDE5D8;
  width: 50px;
  height: 50px;
}

.white-box-card .link-account {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 22px;
  color: #484848;
  letter-spacing: 0;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white-box-card .link-account .arrow-right-icon {
  margin-left: 15px;
}

.white-box-card .white-box-details {
  padding: 0px;
  margin: 0;
  position: relative;
}

.white-box-card p {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 400;
  font-size: 18px;
  color: #484848;
  letter-spacing: 0;
  line-height: 28px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.white-box-card .card-link-box:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

/* start Personal info */
.top-heading-section {
  padding: 60px 0 40px 0;
  margin: 0;
  position: relative;
}

.top-heading-section .heading-title-row {
  padding: 0;
  margin: 0;
}

.top-heading-section .heading-title-row h1 {
  margin: 0 0 8px 0;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #484848;
  letter-spacing: 0;
}

.top-heading-section .heading-title-row .sub-title-heading {
  font-family: "Muli";
  font-weight: 600;
  font-size: 20px;
  color: rgba(30, 30, 30, 0.6);
  letter-spacing: 0;
  line-height: 36px;
}

.top-heading-section .breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-bottom: 15px;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
}

.top-heading-section .breadcrumb li.breadcrumb-item {
  font-weight: 600;
  font-size: 20px;
  color: #484848;
  letter-spacing: 0;
  line-height: 28px;
}

.top-heading-section .breadcrumb a {
  color: #484848;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.top-heading-section .breadcrumb a:hover {
  color: #F98169;
}

.top-heading-section .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 25px;
  padding-left: 25px;
  color: #6c757d;
  content: "";
  width: 8px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='15px' viewBox='0 0 8 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Profile-account-screen' transform='translate(-299.000000, -395.000000)' fill='%23484848' fill-rule='nonzero'%3E%3Cg id='1' transform='translate(120.000000, 285.000000)'%3E%3Cg id='Group' transform='translate(179.000000, 110.000000)'%3E%3Cpath d='M0.23243594,1.36428032 C0.0309658959,1.16138141 -0.046954825,0.866412108 0.0280257597,0.590484482 C0.103006344,0.314556856 0.3194969,0.0995908821 0.595947527,0.0265621641 C0.872398154,-0.046466554 1.16680943,0.0335367838 1.36827946,0.236435694 L7.76739789,6.63555412 C8.07753404,6.9475411 8.07753404,7.45141176 7.76739789,7.76339874 L1.36827946,14.1625172 C1.16680943,14.3654161 0.872398153,14.4454194 0.595947523,14.3723907 C0.319496893,14.299362 0.103006336,14.084396 0.0280257519,13.8084684 C-0.0469548322,13.5325408 0.0309658918,13.2375714 0.23243594,13.0346725 L6.06363261,7.20347588 L0.23243594,1.36428032 Z' id='arrow-right'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.inner-account-section {
  padding: 0px 0 0px 0;
  margin: 0;
  position: relative;
}

.inner-account-section .inner-account-left {
  width: 100%;
  padding-right: 59px;
}

.inner-account-section .inner-account-right .white-box-card .card-link-box {
  pointer-events: none;
}

.inner-account-section .inner-account-right .white-box-card .card-link-box:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-tab-root {
  width: 100%;
}

.nav-tab-root .nav-tabs .nav-item {
  margin-bottom: 0px;
  margin-left: 45px;
}

.nav-tab-root .nav-tabs .nav-item:first-child {
  margin-left: 0px;
}

.nav-tab-root .nav-tabs .nav-link {
  border: 0px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-family: "Muli";
  font-weight: 700;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
  padding: 0px 0 16px 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.nav-tab-root .nav-tabs .nav-link:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #F98169;
  display: block;
  position: absolute;
  bottom: 0;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

.nav-tab-root .nav-tabs .nav-item.show .nav-link, .nav-tab-root .nav-tabs .nav-link.active {
  color: #F98169;
}

.nav-tab-root .nav-tabs .nav-item.show .nav-link:after, .nav-tab-root .nav-tabs .nav-link.active:after {
  width: 100%;
}

.nav-tab-root .nav-tabs .nav-link:hover:after {
  width: 100%;
}

.tab-content {
  padding: 0px 0 0px 0;
  margin: 0;
  position: relative;
}

.tab-content .tab-pane {
  padding: 50px 0 80px 0;
}

.form-edit-root .profile-pic-upload {
  position: relative;
  padding: 0px 0 0px 0;
  margin: 0px 0 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-edit-root .profile-pic-upload .profile-pic {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  display: block;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
}

.form-edit-root .profile-pic-upload label.filelabel-icon {
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0px;
  color: #fff;
  cursor: pointer;
  background: #F98169;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
}

.form-edit-root .profile-pic-upload .file-upload {
  display: none;
}

.form-edit-root .profile-pic-upload .circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100%;
  display: block;
}

.form-edit-root .profile-pic-upload img {
  max-width: 100%;
  height: auto;
}

.form-edit-root .profile-pic-upload .upload-button {
  font-size: 1.2em;
}

.form-edit-root .profile-pic-upload .upload-button:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}

.form-edit-root .profile-pic-upload i.material-icons {
  font-size: 20px;
}

.form-edit-root .profile-pic-upload .p-image {
  opacity: 0;
}

.form-edit-root .edit-group-row {
  padding: 30px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.form-edit-root .edit-group-box {
  padding: 0px;
  margin: 0;
}

.form-edit-root .edit-group-box .hidden-button {
  display: none;
}

.form-edit-root .edit-group-box .text-p {
  font-weight: 400;
  font-size: 18px;
  color: #484848;
  letter-spacing: 0;
  line-height: 28px;
  margin: 0;
  word-break: break-word;
}

.form-edit-root .edit-group-box .button-group {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-edit-root .edit-group-box .form-div {
  margin: 15px 0 0 0;
}

.form-edit-root .edit-group-box .view-text-div {
  padding: 0px;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-edit-root .edit-group-box .view-text-div .heading-info {
  padding: 0px;
  margin: 0;
  width: 80%;
}

.form-edit-root .edit-group-box .view-text-div .label-div {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0 0 8px 0;
}

.form-edit-root .edit-group-box .view-text-div span.text-span {
  position: relative;
  padding: 0 15px;
}

.form-edit-root .edit-group-box .view-text-div span.text-span .span-number-view {
  font-weight: 700;
  position: relative;
}

.form-edit-root .edit-group-box .view-text-div span.text-span::after {
  content: "";
  display: inline-block;
  border-left: 1px solid #EBEBEB;
  height: 12px;
  position: absolute;
  left: -1px;
  top: 5px;
}

.form-edit-root .edit-group-box .view-text-div span.text-span:first-child {
  padding-left: 0px;
}

.form-edit-root .edit-group-box .view-text-div span.text-span:first-child::after {
  border-left: 0px;
}

.form-edit-root .edit-group-box .submit-button-row {
  margin: 15px 0 0 0;
}

.form-edit-root .edit-group-box .edit-hidden-group {
  display: none;
}

.form-edit-root .edit-group-box .edit-hidden-group .text-p {
  margin: 0 0 10px 0;
}

.form-edit-root .add-details-group-box .heading-info .text-p {
  color: #767676;
}

.form-edit-root .edit-group-box.edit-group-box-open .heading-info .text-p {
  display: none;
}

.form-edit-root .edit-group-box.edit-group-box-open .edit-hidden-group {
  display: block;
  -webkit-animation-name: animation-opacity1 !important;
          animation-name: animation-opacity1 !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
}

.form-edit-root .edit-group-box.edit-group-box-open .button-group {
  opacity: 100%;
  pointer-events: auto;
}

.form-edit-root .edit-group-box.edit-group-box-open .button-group .add-button {
  display: none;
}

.form-edit-root .edit-group-box.edit-group-box-open .button-group .edit-button {
  display: none;
}

.form-edit-root .edit-group-box.edit-group-box-open .button-group .update-button {
  display: none;
}

.form-edit-root .edit-group-box.edit-group-box-open .button-group .cancel-button {
  display: block;
}

.form-edit-root .not-open-group-box .button-group {
  opacity: 40%;
  pointer-events: none;
}

.form-edit-root .form-group {
  margin-bottom: 0px;
}

.form-edit-root .form-group label {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
  letter-spacing: 0;
}

.form-edit-root .form-group .form-control {
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  min-height: 48px;
  padding: 10px 15px;
  font-size: 16px;
  color: #484848;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.form-edit-root .form-group .form-control:hover, .form-edit-root .form-group .form-control:focus {
  border: 1px solid #727272;
}

.form-edit-root .form-group .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.form-edit-root .form-group .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.form-edit-root .form-group .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.form-edit-root .form-group .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.form-edit-root .form-group .text-label-big {
  font-size: 15px;
  width: 100%;
  position: relative;
}

.form-edit-root .form-group span.number-bold2 {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 24px;
  color: #2E2E2E;
  letter-spacing: -0.3px;
  line-height: 18px;
  position: absolute;
  top: 0;
  right: 0;
}

.form-edit-root .form-group span.number-bold2 span.normal-text {
  font-weight: 700;
  font-size: 18px;
  font-family: "Muli";
}

.form-edit-root .form-group textarea.form-control {
  resize: none;
}

.form-edit-root .form-group .gj-datepicker-md [role=right-icon] {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 22px;
  color: #A9A9A9;
}

/* End of Personal info */
/* Notification page */
.toggle-main-root-group {
  padding: 0px 0 70px 0;
  margin: 0;
  position: relative;
}

.toggle-main-root-group .toggle-row {
  padding: 0px 0 0px 0;
  margin: 0;
  position: relative;
}

.toggle-main-root-group .toggle-root-group-box {
  padding: 0px 0 0px 0;
  margin: 0 0 30px 0;
  position: relative;
}

.toggle-main-root-group .toggle-root-group-box h3.heading-text {
  font-weight: 700;
  font-size: 20px;
  color: #484848;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 10px 0;
}

.toggle-main-root-group .toggle-root-group-box2 .toggle-view-div {
  padding: 0 0 30px 0;
}

.toggle-main-root-group .toggle-root-group-box2 .toggle-view-div .text-info h4.label-div {
  font-weight: 400;
  line-height: 28px;
}

.toggle-view-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.toggle-view-div .text-info {
  width: calc(100% - 100px);
}

.toggle-view-div .text-info h4.label-div {
  font-weight: 600;
  font-size: 18px;
  color: #484848;
  letter-spacing: 0;
  line-height: 34px;
}

/* End of notification page */
/* global preferences page */
.main-account-content-gp {
  padding-bottom: 85px;
}

.submit-btn-group-root {
  margin: 30px 0 15px 0;
}

/* End of global preferences page */
/* trust center page */
.tc-title-top {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Muli";
}

.tc-title-top h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 20px;
  color: #484848;
  letter-spacing: 0;
  line-height: 32px;
  font-family: "Muli";
}

.tc-title-top p {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 18px;
  color: #484848;
  letter-spacing: 0;
  line-height: 28px;
  font-family: "Muli";
}

.supper-rating-box {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  margin: 30px 0 0 0;
  padding: 25px 30px 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 50%;
  width: 100%;
}

.supper-rating-box .starrate span.ctrl {
  position: absolute;
  z-index: 2;
}

.supper-rating-box .starrate {
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.supper-rating-box .starrate.saved {
  color: #F98169;
}

.supper-rating-box .starrate:hover {
  color: #F98169;
}

.supper-rating-box .starrate.saved:hover {
  color: #F98169;
}

.supper-rating-box .fas.fa-star:before {
  content: "\e838";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #F98169;
}

.supper-rating-box .fa-star-half-alt:before {
  content: "\e839";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #F98169;
}

.supper-rating-box .far.fa-star:before {
  content: "\e838";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.2);
}

.supper-rating-box i.fas, .supper-rating-box i.far {
  margin: 0 0px 0 0;
  width: 46px;
}

.supper-rating-box span.cont.cont-star {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.supper-rating-box .star-number-view {
  font-family: "Muli";
  font-weight: 700;
  font-size: 24px;
  color: #2E2E2E;
  letter-spacing: -0.3px;
  line-height: 36px;
}

.member-credentials-group-root {
  padding: 30px 0 20px 0;
  margin: 0;
  position: relative;
  font-family: "Muli";
}

.main-account-content-tc {
  padding: 0 0 80px 0;
}

/* End of trust center page */
@media (max-width: 767px) {
  .main-profile-area-div {
    overflow-x: hidden;
  }
  .link-color {
    font-size: 18px;
    line-height: 28px;
  }
  .heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .heading-section .heading-title-row h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .white-box-card .card-link-box {
    padding: 20px 20px;
    min-height: auto;
  }
  .white-box-card .link-account {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 28px;
  }
  .white-box-card .link-account .arrow-right-icon {
    width: 7px;
  }
  .white-box-card p {
    font-size: 16px;
    line-height: 26px;
  }
  /* personal info */
  .top-heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .top-heading-section .heading-title-row .sub-title-heading {
    font-size: 16px;
    line-height: 28px;
    display: block;
  }
  .top-heading-section .breadcrumb li.breadcrumb-item {
    font-size: 16px;
  }
  .top-heading-section .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 15px;
    padding-left: 15px;
    width: 6px;
    height: 12px;
  }
  .inner-account-section .inner-account-left {
    width: 100%;
    padding-right: 0;
  }
  .inner-account-section .left-account-col {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .inner-account-section .right-account-col {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .inner-account-section .right-account-col .white-box-card {
    margin: 0 0 50px 0;
  }
  .nav-tab-root .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
  .nav-tab-root .nav-tabs .nav-item {
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .link-color {
    font-size: 18px;
    line-height: 24px;
  }
  .form-edit-root .profile-pic-upload {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-edit-root .edit-group-row {
    padding: 20px 0;
  }
  .form-edit-root .edit-group-box .text-p {
    font-size: 16px;
    line-height: 24px;
  }
  .form-edit-root .edit-group-box .submit-button-row {
    margin: 10px 0 0 0;
  }
  /* End of personal info */
  /* notification page */
  .toggle-main-root-group .toggle-root-group-box h3.heading-text {
    font-size: 18px;
    line-height: 28px;
  }
  .toggle-view-div .text-info {
    width: calc(100% - 72px);
  }
  .toggle-view-div .text-info h4.label-div {
    font-size: 16px;
    line-height: 28px;
  }
  /* End of notification page */
  /* tc */
  .supper-rating-box {
    padding: 20px 20px 15px 10px;
    max-width: 100%;
    width: 100%;
  }
  .supper-rating-box i.fas, .supper-rating-box i.far {
    width: 36px;
  }
  .supper-rating-box span.cont.cont-star i:before {
    font-size: 30px;
  }
  .supper-rating-box .star-number-view {
    font-size: 21px;
    line-height: 30px;
  }
  /* End of tc */
}

@media (max-width: 767px) and (min-width: 260px) and (max-width: 360px) {
  .pagination-root ul.pagination-ul li {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main-profile-area-div {
    overflow-x: hidden;
  }
  .link-color {
    font-size: 18px;
    line-height: 28px;
  }
  .heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .heading-section .heading-title-row h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .white-box-card .card-link-box {
    padding: 20px 20px;
    min-height: auto;
  }
  .white-box-card .link-account {
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 28px;
  }
  .white-box-card .link-account .arrow-right-icon {
    width: 7px;
  }
  .white-box-card p {
    font-size: 16px;
    line-height: 26px;
  }
  /* personal info */
  .top-heading-section .heading-title-row h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .top-heading-section .breadcrumb li.breadcrumb-item {
    font-size: 16px;
  }
  .top-heading-section .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    padding-right: 15px;
    padding-left: 15px;
    width: 6px;
    height: 12px;
  }
  .inner-account-section .inner-account-left {
    padding-right: 14px;
  }
  .nav-tab-root .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
  .nav-tab-root .nav-tabs .nav-item {
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .link-color {
    font-size: 18px;
    line-height: 24px;
  }
  .form-edit-root .profile-pic-upload {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form-edit-root .edit-group-row {
    padding: 20px 0;
  }
  .form-edit-root .edit-group-box .text-p {
    font-size: 16px;
    line-height: 24px;
  }
  .form-edit-root .edit-group-box .submit-button-row {
    margin: 10px 0 0 0;
  }
  /* End of personal info */
  .toggle-view-div .text-info {
    width: calc(100% - 72px);
  }
  .toggle-view-div .text-info h4.label-div {
    font-size: 16px;
    line-height: 28px;
  }
  /* tc */
  .supper-rating-box {
    padding: 20px 20px 15px 10px;
    max-width: 280px;
    width: 100%;
  }
  .supper-rating-box i.fas, .supper-rating-box i.far {
    width: 36px;
  }
  .supper-rating-box span.cont.cont-star i:before {
    font-size: 30px;
  }
  .supper-rating-box .star-number-view {
    font-size: 21px;
    line-height: 30px;
  }
  /* End of tc */
}
/*# sourceMappingURL=profile.css.map */