/* font family */
/* font family */
.share-a-meal-wrapper {
  padding: 90px 0 0 0;
  position: relative;
}

.main-middle-area.share-a-meal-area {
  padding-top: 90px;
  position: relative;
}

.share-a-meal-steps-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.share-a-meal-steps-section .share-a-meal-steps-div {
  padding: 0;
  margin: 0;
}

.sm-steps-root {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #fff;
}

.sm-steps-root .step-cover {
  padding: 0;
  margin: 0;
  width: 430px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  position: fixed;
  right: 0;
  z-index: 999;
}

.sm-steps-root .step-cover .cover-thumb .img-thumb.cover-img {
  width: 100%;
  height: calc(100vh - 90px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sm-steps-root .main-tab-container {
  padding: 0;
  margin: 0;
  width: calc(100% - 430px);
  position: relative;
  font-family: "Muli";
}

.sm-steps-root .main-tab-container .step-heading {
  padding: 20px 60px 20px 45px;
  margin: 0;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sm-steps-root .main-tab-container .step-heading h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #2E2E2E;
  margin: 0;
}

.sm-steps-root .main-tab-container .progress-root .progress {
  height: 10px;
  border-radius: 0;
  background-color: #EDEDED;
}

.sm-steps-root .main-tab-container .progress-root .progress-bar {
  background-color: #F98169;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: .4rem .4rem;
  border-radius: 0 12px 12px 0;
}

.sm-steps-root .main-tab-container .container-content-div {
  padding: 60px 45px 30px 45px;
}

.sm-steps-root .main-tab-container .row.custom-row {
  margin-right: -5px;
  margin-left: -5px;
}

.sm-steps-root .main-tab-container .custom-col {
  padding-right: 5px;
  padding-left: 5px;
}

.main-content-root-box {
  min-height: calc(100vh - 339px);
}

.tab-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.tab-root .step-app .step-steps {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
}

.tab-root .step-app .step-steps li {
  width: 20%;
  position: relative;
  margin-bottom: 0;
  pointer-events: none;
}

.tab-root .step-app .step-steps a {
  border: none;
  font-weight: 600;
  border-bottom: 1px solid #EDEDED;
  font-size: 14px;
  color: #A9A9A9;
  letter-spacing: 0;
  text-align: center;
  padding: 20px;
  width: 100%;
  min-height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.tab-root .step-app .step-steps li.done {
  pointer-events: auto;
}

.tab-root .step-app .step-steps .active {
  pointer-events: auto;
}

.tab-root .step-app .step-steps .active a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #626262;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.tab-root .step-app .step-steps span.number {
  display: none;
}

.tab-root .step-app .step-steps ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.tab-root .step-app .step-steps li.error a {
  color: #e7505a;
  background-color: #f6f2ec;
}

.tab-root .step-app .step-steps li.error a::before {
  background-color: #e7505a;
}

.tab-root .step-app .step-steps2 li {
  width: 12.5%;
}

.tab-root .tab-pane {
  padding: 60px 45px;
  margin: 0;
}

.tab-root .step-footer {
  padding: 0 45px 60px 45px;
  display: block;
  width: 100%;
}

.tab-root .step-footer .step-btn {
  background: #F98169;
  -webkit-box-shadow: 0 4px 14px 0 rgba(249, 129, 105, 0.48);
          box-shadow: 0 4px 14px 0 rgba(249, 129, 105, 0.48);
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  min-height: 54px;
  min-width: 156px;
  padding: 15px 25px;
  border: none;
  outline: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.tab-root .step-footer .step-btn:hover {
  background: #e6725b;
}

.tab-root .step-footer .btn-Finish.last-finish {
  display: none;
}

.tab-root .pr-30 {
  padding-right: 30px;
}

.tab-root .back-save-row-footer {
  padding: 10px 30px 10px 30px;
  margin: 0 0;
  position: relative;
  background-color: #FAFAFA;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab-root .back-save-row-footer .btn.btn-back {
  font-weight: 700;
  background-color: transparent !important;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  color: #626262;
  letter-spacing: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  min-height: 54px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.tab-root .back-save-row-footer .btn.btn-back span.material-icons {
  margin: 0 30px 0 0;
}

.tab-root .back-save-row-footer .btn.btn-back:hover {
  color: #F98169;
}

.tab-root .back-save-row-footer .right-side-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-root .back-save-row-footer span.text-span {
  font-weight: 400;
  font-size: 16px;
  color: #626262;
  letter-spacing: 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-root .back-save-row-footer span.text-span span.dots {
  width: 3px;
  height: 3px;
  background-color: #2E2E2E;
  display: inline-block;
  margin: 0 15px 0 15px;
}

.tab-root .back-save-row-footer .btn.btn-links {
  font-weight: 800;
  background-color: transparent;
  font-size: 20px;
  color: #F98169;
  letter-spacing: 0;
  text-align: center;
  padding: 0;
  outline: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.tab-root .back-save-row-footer .btn.btn-links:hover {
  color: #000;
}

.tab-root .back-save-row-footer .btn.btn-complete {
  background: #F98169;
  -webkit-box-shadow: 0 4px 14px 0 rgba(249, 129, 105, 0.48);
          box-shadow: 0 4px 14px 0 rgba(249, 129, 105, 0.48);
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  min-height: 54px;
  min-width: 200px;
  padding: 12px 25px;
  border: none;
  outline: none;
  border-radius: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.tab-root .back-save-row-footer .btn.btn-complete:hover {
  background: #e6725b;
}

.tab-root .upload-image-placeholder {
  cursor: pointer;
  width: 165px;
  height: 165px;
  overflow: hidden;
  position: relative;
  border-radius: 0px;
  border: #e1e1e1 dashed 0em;
  float: left;
  background-color: #fff;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
}

.tab-root .fileupload-text-container {
  cursor: pointer;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
  width: 165px;
  height: 165px;
  border-radius: 0;
  border: #E5E5E5 solid 1px;
  text-align: center;
  color: #000000;
  display: table;
}

.tab-root .fileupload-centered-text {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

.tab-root .fileupload-small-text {
  margin-top: 0.3125em;
  font-size: 0.8125em;
  line-height: 1.38462em;
}

.tab-root .fileupload-preview-image {
  width: 165px;
  height: 165px;
  border-radius: 0px;
  border: #e1e1e1 dashed 0em;
}

.tab-root .fileinput-button input {
  position: absolute;
  width: 165px;
  height: 165px;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.tab-root .ajax-notice, .tab-root .ajax-warning, .tab-root .flash-notice, .tab-root .flash-warning, .tab-root .ajax-update-notice {
  background: #e8e8e8;
  margin-bottom: 1.5em;
  position: relative;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.3125em;
}

.form-div {
  /* react component */
  /* react component */
}

.form-div .form-group {
  margin-bottom: 25px;
  /* jquery validation */
}

.form-div .form-group label {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 18px;
  color: #727272;
  letter-spacing: 0;
}

.form-div .form-group .form-control {
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid rgba(114, 114, 114, 0.3);
  min-height: 60px;
  padding: 15px 20px;
  font-size: 20px;
  color: #000;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.form-div .form-group .form-control:hover, .form-div .form-group .form-control:focus {
  border: 1px solid #727272;
}

.form-div .form-group .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.form-div .form-group .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.form-div .form-group .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.form-div .form-group .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.form-div .form-group .input-box-effect {
  position: relative;
  width: 100%;
  margin: 0px 0 25px 0;
  float: left;
  z-index: 0;
  display: block;
  min-height: 60px;
}

.form-div .form-group .input-box-effect select.form-control:not([size]):not([multiple]) {
  height: 50px;
  padding: 0 35px 0 20px;
  background-color: transparent;
  border: 1px solid rgba(114, 114, 114, 0.3);
  color: #000000;
}

.form-div .form-group .input-box-effect select.form-control {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  background: #fff;
  position: relative;
  outline: none;
}

.form-div .form-group .input-box-effect span.arrow {
  position: absolute;
  top: 28px;
  right: 20px;
  pointer-events: none;
  width: 13px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='13px' height='8px' viewBox='0 0 13 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='001' transform='translate(-628.000000, -441.000000)'%3E%3Crect id='Rectangle' fill='%23FFFFFF' x='0' y='0' width='1012' height='1000'%3E%3C/rect%3E%3Cg id='Group-Copy' transform='translate(60.000000, 376.000000)'%3E%3Cpath d='M599.415,39.585 L0.585000017,39.585 L0.585000017,98.2150033 L599.415,98.2150033 L599.415,39.585 Z' id='Rectangle-2-Copy' stroke-opacity='0.3' stroke='%23727272' stroke-width='1.17000003' fill='%23FFFFFF'%3E%3C/path%3E%3Cpolyline id='Path' stroke-opacity='0.378277972' stroke='%23979797' stroke-width='1.79999995' stroke-linecap='round' stroke-linejoin='round' points='569 66 574.4 71.3999999 579.8 66'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-div .form-group textarea.form-control {
  overflow: hidden visible;
  overflow-wrap: break-word;
  min-height: 100px;
  resize: none;
}

.form-div .form-group .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-div .form-group .select-box label.error {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin: 10px 0 0 0;
  display: inline-block;
  width: auto;
  max-width: 300px;
}

.form-div .form-group .select-box .select2.select2-container {
  width: 100% !important;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.form-div .form-group .input-search-group {
  position: relative;
}

.form-div .form-group .input-search-group .form-control {
  padding-right: 60px !important;
  margin: 0;
}

.form-div .form-group .btn.btn-search-icon {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 999;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-div .form-group .btn.btn-search-icon .material-icons {
  font-size: 28px;
  color: #626262;
}

.form-div .form-group .map-div {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}

.form-div .form-group .map-div .map {
  width: 100%;
  height: 300px;
}

.form-div .form-group label.error {
  position: relative;
  color: #e7505a;
  margin-left: 0;
  margin: 0 0 0 0;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #f6f2ec;
  border-radius: 3px;
}

.form-div .form-group label.error:before {
  content: "";
  border: 5px solid transparent;
  border-bottom-color: #ede5d9;
  position: absolute;
  left: 20px;
  top: -9px;
}

.form-div .form-group input.error.error-input {
  border-color: #e7505a;
}

.form-div h4.title-h4 {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 400;
  font-size: 22px;
  color: #2E2E2E;
  letter-spacing: 0;
}

.form-div .checkbox-container {
  padding: 0;
  margin: 10px 0 20px 0;
  position: relative;
}

.form-div .checkbox-container input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  border: 2px solid #DCDCDC !important;
  background-color: #fff;
  color: #fff;
  top: 4px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 8px;
  outline: none !important;
  position: absolute;
  left: 0;
}

.form-div .checkbox-container input[type="checkbox"]:checked {
  background-color: transparent !important;
  border: 2px solid transparent !important;
}

.form-div .checkbox-container input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: -2px;
  top: -3px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background-repeat: no-repeat;
  background-size: contain;
  height: 21px;
  width: 21px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='23px' height='24px' viewBox='0 0 23 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='006' transform='translate(-348.000000, -472.000000)'%3E%3Crect id='Rectangle' fill='%23FFFFFF' x='0' y='0' width='1012' height='1000'%3E%3C/rect%3E%3Cg id='Group' transform='translate(59.000000, 241.000000)'%3E%3Cg id='Input-card-Copy-6' transform='translate(290.000000, 213.000000)'%3E%3Cg id='Input' transform='translate(1.000000, 0.000000)'%3E%3Cg id='Group-4'%3E%3C/g%3E%3C/g%3E%3Cg id='check-circle' transform='translate(0.992966, 19.599997)' stroke='%2344D7B6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M20,10.08 L20,11 C19.9974678,15.4286859 17.082294,19.328213 12.8353524,20.583901 C8.58841086,21.839589 4.02139355,20.1523121 1.61095509,16.4370663 C-0.799483376,12.7218205 -0.479136554,7.86363898 2.39827419,4.49707214 C5.27568494,1.13050531 10.0247126,0.0575252842 14.07,1.86' id='Path'%3E%3C/path%3E%3Cpolyline id='Path' points='20 3 10 13.01 7 10.01'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.form-div .checkbox-container label {
  padding: 0 0 0 40px;
  font-weight: 600;
  font-size: 20px;
  color: rgba(169, 169, 169, 0.8);
  letter-spacing: 0;
  line-height: 26px;
  cursor: pointer;
}

.form-div .checkbox-container input[type="checkbox"]:checked + label {
  color: #000;
}

.form-div .number-group {
  padding: 0;
  margin: 0;
  position: relative;
}

.form-div .number-group .button-container {
  height: 60px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 14px 0 10px 0;
}

.form-div .number-group .btn.btn-default {
  padding: 0;
  line-height: 15px;
  font-size: 14px;
  background-color: #fff;
  height: 15px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.form-div .number-group .btn.btn-default:hover span.material-icons {
  color: #666;
}

.form-div .number-group .btn.btn-default span.material-icons {
  color: #D8D8D8;
  font-size: 30px;
  line-height: 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.form-div .dropdown-custom {
  /* Dropdown button on hover & focus */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
}

.form-div .dropdown-custom .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.form-div .dropdown-custom .dropbtn:hover, .form-div .dropdown-custom .dropbtn:focus {
  background-color: #2980B9;
}

.form-div .dropdown-custom.dropdown {
  position: relative;
  display: inline-block;
}

.form-div .dropdown-custom .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.form-div .dropdown-custom .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.form-div .dropdown-custom .dropdown-content a:hover {
  background-color: #ddd;
}

.form-div .dropdown-custom .show {
  display: block;
}

.form-div .new-listing-form .selected-group .hidden, .form-div .new-listing-form .option-group .hidden, .form-div .edit-listing-form .selected-group .hidden, .form-div .edit-listing-form .option-group .hidden {
  display: none;
}

.form-div .new-listing-form a.selected, .form-div .edit-listing-form a.selected {
  background: #e8e8e8;
  position: relative;
}

.form-div .hidden {
  display: none;
}

.form-div .new-listing-form a.select .link-text, .form-div .edit-listing-form a.select .link-text {
  margin-left: 0.9375em;
  padding: 0.375em 0 0.5em 0;
}

.form-div .option-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
}

.form-div .new-listing-form a.select, .form-div .edit-listing-form a.select {
  position: relative;
  display: block;
  width: calc(50% - 10px);
  border-radius: 3px;
  margin-right: 10px !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 15px;
  background: #FFFFFF;
  border: 1px solid rgba(114, 114, 114, 0.3);
  min-height: 54px;
  padding: 10px 0px;
  font-size: 16px;
  color: #000;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.form-div .new-listing-form a.select:hover, .form-div .edit-listing-form a.select:hover {
  color: #F98169;
  background-color: #f6f2ec;
}

.form-div .feed-actions .request-link, .form-div .view-item .listing-icons a:hover, .form-div .pagination a, .form-div a, .form-div .checkbox-option-checkmark, .form-div .marketplace-color {
  color: #c09678;
}

.form-div .new-listing-form .select.selected {
  color: #F98169;
  background-color: #f6f2ec;
}

/* validation required */
.d-hide-class {
  position: fixed;
  top: 0px;
  right: -999990px;
  z-index: 9;
}

/* End of validation required */
#the-step-app-5.the-basics-step-app01 .step-footer.step-footer-first button.step-btn.btn-next.last-next {
  display: none !important;
}

#the-step-app-1.the-basics-step-app01 .step-footer.step-footer-first .step-btn.btn-Finish.last-finish {
  display: none !important;
}

#the-step-app-8.dietary-step-app02 .step-footer-second button.step-btn.btn-next.last-next {
  display: none !important;
}

#the-step-app-1.dietary-step-app02 .step-btn.btn-Finish.last-finish {
  display: none !important;
}

.tab-root.post-tab-root .main-content-root-box2 {
  min-height: calc(100vh - 180px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-and-post-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.review-and-post-section .container-content-div {
  padding-top: 30px !important;
}

.review-and-post-section .post-heading-div {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.review-and-post-section .post-heading-div h2 {
  padding: 0px;
  margin: 0 0 10px 0;
  font-family: "Georgia";
  font-size: 36px;
  color: #2E2E2E;
  letter-spacing: 0;
  line-height: 46px;
  font-weight: 700;
  text-align: left;
}

.review-and-post-section .post-heading-div .post__price-container {
  font-family: "Georgia";
  width: 100%;
  letter-spacing: -0.24px;
  text-align: left;
  line-height: 36px;
  color: #F98169;
  font-weight: 400;
}

.review-and-post-section .post-heading-div .post__price-container span.listings__price-amount {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #F98169;
  letter-spacing: -0.38px;
  text-align: center;
}

.review-and-post-section .post-heading-div .post__price-container span.listings__price-unit {
  font-size: 20px;
  font-style: italic;
}

.owl-post {
  padding: 10px 0 0 0;
  margin: 0 0 30px 0;
  position: relative;
}

.owl-post .post-box {
  padding: 0;
  margin: 0 10px 0 0;
  position: relative;
}

.owl-post .post-box img.img-fluid.img-post {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.owl-post .owl-nav .owl-next, .owl-post .owl-nav .owl-prev {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #fff !important;
  height: 58px;
  width: 24px;
  outline: none;
}

.owl-post button.owl-prev {
  position: absolute;
  top: 140px;
  left: 0;
}

.owl-post button.owl-next {
  position: absolute;
  top: 140px;
  right: 0px;
}

.border-top1 {
  border-top: 1px solid rgba(169, 169, 169, 0.3) !important;
}

.border-bottom-none {
  border-bottom: 0px solid rgba(169, 169, 169, 0.3) !important;
}

.content-boxs {
  border-bottom: 1px solid rgba(169, 169, 169, 0.3);
  padding: 30px 0;
  margin: 00;
  position: relative;
}

.content-boxs h5 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: rgba(98, 98, 98, 0.7);
  letter-spacing: 0;
}

.content-boxs .more {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0;
}

.content-boxs p {
  margin: 0 0 0px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0;
}

.content-boxs .content-box-line {
  padding: 10px 0 10px 0;
}

.morecontent span {
  display: none;
}

.morelink {
  display: inline;
  color: #F98169;
}

.morelink:hover {
  color: #f68069 !important;
}

.progress-complete-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.progress-complete-section .post-heading-div {
  width: 100%;
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.progress-complete-section .post-heading-div h2 {
  padding: 0px;
  margin: 0 0 10px 0;
  font-family: "Georgia";
  font-size: 36px;
  color: #2E2E2E;
  letter-spacing: 0;
  line-height: 46px;
  font-weight: 700;
  text-align: left;
}

.progress-complete-section .post-heading-div p.font-16 {
  font-weight: 400;
  font-size: 16px;
  color: #2E2E2E;
}

.progress-complete-section .complete-content-boxs {
  width: 100%;
}

.progress-complete-section .complete-content-boxs h5 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #2E2E2E;
  letter-spacing: 0;
}

.progress-complete-section .complete-content-boxs h4 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 28px;
  color: #2E2E2E;
  letter-spacing: 0;
}

.progress-complete-section .complete-content-boxs p {
  margin: 0 0 0px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0;
}

.progress-complete-section .complete-content-boxs .content-box-line {
  border-bottom: 1px solid rgba(169, 169, 169, 0.3);
  padding: 30px 60px 20px 0;
  margin: 00;
  position: relative;
}

.progress-complete-section .complete-content-boxs .complete-div {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.progress-complete-section .center-content-div {
  min-height: calc(100vh - 120px - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.btn.btn-common-primary {
  background: #F98169;
  -webkit-box-shadow: 0 4px 14px 0 rgba(249, 129, 105, 0.48);
          box-shadow: 0 4px 14px 0 rgba(249, 129, 105, 0.48);
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  min-height: 54px;
  min-width: 156px;
  padding: 12px 25px;
  border: none;
  outline: none;
  border-radius: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-common-primary:hover {
  background: #e6725b;
}

.btn.common-link {
  font-weight: 700;
  font-size: 16px;
  color: #F98169;
  padding: 0;
  margin: 0;
  font-family: "Muli";
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.common-link:hover {
  color: #eb6d54;
}

.complete-icons {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='46px' height='46px' viewBox='0 0 46 46' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='014' transform='translate(-666.000000, -318.000000)'%3E%3Crect id='Rectangle' fill='%23FFFFFF' x='0' y='0' width='1012' height='1000'%3E%3C/rect%3E%3Cg id='Group' transform='translate(128.000000, 292.000000)' fill='%2344D7B6' fill-rule='nonzero'%3E%3Cg id='check_circle-24px' transform='translate(538.000000, 26.000000)'%3E%3Cpath d='M22.7,0.200000048 C10.28,0.200000048 0.200000048,10.28 0.200000048,22.7 C0.200000048,35.12 10.28,45.2 22.7,45.2 C35.12,45.2 45.2,35.12 45.2,22.7 C45.2,10.28 35.12,0.200000048 22.7,0.200000048 Z M19.2,30.8720003 L11.2,22.8720002 L13.4560001,20.6160001 L19.2,26.3440002 L31.3440003,14.2 L33.6000004,16.4720001 L19.2,30.8720003 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.opacity-50 {
  opacity: 0.5;
}

.visible {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.not-visible {
  display: none;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

.visible-cover-img {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.no-visible-cover-img {
  display: none;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

/* test */
/* End test */
.step-app .step-content .step-tab-panel.active {
  -webkit-animation-name: animation-tab !important;
          animation-name: animation-tab !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.animation-custom1 {
  -webkit-animation-name: animation-tab !important;
          animation-name: animation-tab !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

@-webkit-keyframes animation-tab {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animation-tab {
  0% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* Cover image */
.sm-steps-root {
  /* step 1 */
  /* End of step1 */
  /* step 2 */
}

.sm-steps-root #step-view-1 .step-view-img-1 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root #step-view-1 .step-view-img-2, .sm-steps-root #step-view-1 .step-view-img-3, .sm-steps-root #step-view-1 .step-view-img-4, .sm-steps-root #step-view-1 .step-view-img-5 {
  display: none;
}

.sm-steps-root #step-view-2 .step-view-img-2 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root #step-view-2 .step-view-img-1, .sm-steps-root #step-view-2 .step-view-img-3, .sm-steps-root #step-view-2 .step-view-img-4, .sm-steps-root #step-view-2 .step-view-img-5 {
  display: none;
}

.sm-steps-root #step-view-3 .step-view-img-3 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root #step-view-3 .step-view-img-1, .sm-steps-root #step-view-3 .step-view-img-2, .sm-steps-root #step-view-3 .step-view-img-4, .sm-steps-root #step-view-3 .step-view-img-5 {
  display: none;
}

.sm-steps-root #step-view-4 .step-view-img-4 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root #step-view-4 .step-view-img-1, .sm-steps-root #step-view-4 .step-view-img-2, .sm-steps-root #step-view-4 .step-view-img-3, .sm-steps-root #step-view-4 .step-view-img-5 {
  display: none;
}

.sm-steps-root #step-view-5 .step-view-img-5 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root #step-view-5 .step-view-img-1, .sm-steps-root #step-view-5 .step-view-img-2, .sm-steps-root #step-view-5 .step-view-img-3, .sm-steps-root #step-view-5 .step-view-img-4 {
  display: none;
}

.sm-steps-root .step-2#step-view-1 .step-view-img-2-1 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root .step-2#step-view-1 .step-view-img-2-2, .sm-steps-root .step-2#step-view-1 .step-view-img-2-3, .sm-steps-root .step-2#step-view-1 .step-view-img-2-4, .sm-steps-root .step-2#step-view-1 .step-view-img-2-5, .sm-steps-root .step-2#step-view-1 .step-view-img-2-6, .sm-steps-root .step-2#step-view-1 .step-view-img-2-7, .sm-steps-root .step-2#step-view-1 .step-view-img-2-8 {
  display: none;
}

.sm-steps-root .step-2#step-view-2 .step-view-img-2-2 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root .step-2#step-view-2 .step-view-img-2-1, .sm-steps-root .step-2#step-view-2 .step-view-img-2-3, .sm-steps-root .step-2#step-view-2 .step-view-img-2-4, .sm-steps-root .step-2#step-view-2 .step-view-img-2-5, .sm-steps-root .step-2#step-view-2 .step-view-img-2-6, .sm-steps-root .step-2#step-view-2 .step-view-img-2-7, .sm-steps-root .step-2#step-view-2 .step-view-img-2-8 {
  display: none;
}

.sm-steps-root .step-2#step-view-3 .step-view-img-2-3 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root .step-2#step-view-3 .step-view-img-2-1, .sm-steps-root .step-2#step-view-3 .step-view-img-2-2, .sm-steps-root .step-2#step-view-3 .step-view-img-2-4, .sm-steps-root .step-2#step-view-3 .step-view-img-2-5, .sm-steps-root .step-2#step-view-3 .step-view-img-2-6, .sm-steps-root .step-2#step-view-3 .step-view-img-2-7, .sm-steps-root .step-2#step-view-3 .step-view-img-2-8 {
  display: none;
}

.sm-steps-root .step-2#step-view-4 .step-view-img-2-4 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root .step-2#step-view-4 .step-view-img-2-1, .sm-steps-root .step-2#step-view-4 .step-view-img-2-2, .sm-steps-root .step-2#step-view-4 .step-view-img-2-3, .sm-steps-root .step-2#step-view-4 .step-view-img-2-5, .sm-steps-root .step-2#step-view-4 .step-view-img-2-6, .sm-steps-root .step-2#step-view-4 .step-view-img-2-7, .sm-steps-root .step-2#step-view-4 .step-view-img-2-8 {
  display: none;
}

.sm-steps-root .step-2#step-view-5 .step-view-img-2-5 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root .step-2#step-view-5 .step-view-img-2-1, .sm-steps-root .step-2#step-view-5 .step-view-img-2-2, .sm-steps-root .step-2#step-view-5 .step-view-img-2-3, .sm-steps-root .step-2#step-view-5 .step-view-img-2-4, .sm-steps-root .step-2#step-view-5 .step-view-img-2-6, .sm-steps-root .step-2#step-view-5 .step-view-img-2-7, .sm-steps-root .step-2#step-view-5 .step-view-img-2-8 {
  display: none;
}

.sm-steps-root .step-2#step-view-6 .step-view-img-2-6 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root .step-2#step-view-6 .step-view-img-2-1, .sm-steps-root .step-2#step-view-6 .step-view-img-2-2, .sm-steps-root .step-2#step-view-6 .step-view-img-2-3, .sm-steps-root .step-2#step-view-6 .step-view-img-2-4, .sm-steps-root .step-2#step-view-6 .step-view-img-2-5, .sm-steps-root .step-2#step-view-6 .step-view-img-2-7, .sm-steps-root .step-2#step-view-6 .step-view-img-2-8 {
  display: none;
}

.sm-steps-root .step-2#step-view-7 .step-view-img-2-7 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root .step-2#step-view-7 .step-view-img-2-1, .sm-steps-root .step-2#step-view-7 .step-view-img-2-2, .sm-steps-root .step-2#step-view-7 .step-view-img-2-3, .sm-steps-root .step-2#step-view-7 .step-view-img-2-4, .sm-steps-root .step-2#step-view-7 .step-view-img-2-5, .sm-steps-root .step-2#step-view-7 .step-view-img-2-6, .sm-steps-root .step-2#step-view-7 .step-view-img-2-8 {
  display: none;
}

.sm-steps-root .step-2#step-view-8 .step-view-img-2-8 {
  display: block;
  -webkit-animation-name: fadeIn !important;
          animation-name: fadeIn !important;
  -webkit-animation-duration: 1000ms !important;
          animation-duration: 1000ms !important;
  -webkit-animation-timing-function: ease !important;
          animation-timing-function: ease !important;
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.sm-steps-root .step-2#step-view-8 .step-view-img-2-1, .sm-steps-root .step-2#step-view-8 .step-view-img-2-2, .sm-steps-root .step-2#step-view-8 .step-view-img-2-3, .sm-steps-root .step-2#step-view-8 .step-view-img-2-4, .sm-steps-root .step-2#step-view-8 .step-view-img-2-5, .sm-steps-root .step-2#step-view-8 .step-view-img-2-7, .sm-steps-root .step-2#step-view-8 .step-view-img-2-6 {
  display: none;
}

/* End of Cover image */
/* component validation */
.form-div .form-group .input-box-effect.choose-category-validation {
  position: relative;
}

.form-div .form-group .input-box-effect.choose-category-validation label.select-option-label label.error {
  position: relative;
  bottom: -85px;
  z-index: 9;
}

.form-div .form-group .input-box-effect.choose-type-validation {
  position: relative;
}

.form-div .form-group .input-box-effect.choose-type-validation label.select-option-label label.error {
  position: relative;
  bottom: -20px;
  z-index: 9;
}

.form-div .form-group .input-box-effect .visible-none-radio {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.form-div .form-group .input-box-effect label.select-option-label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 10px 0;
  font-size: 16px !important;
  color: #000 !important;
  cursor: pointer;
}

.form-div .form-group .input-box-effect .new-listing-form .select.selected label.select-option-label {
  color: #F98169 !important;
}

.form-div .form-group .input-box-effect .new-listing-form .select:hover label.select-option-label {
  color: #F98169 !important;
}

/* End of component validation */
@media (max-width: 767px) {
  .share-a-meal-wrapper {
    padding: 55px 0 0 0;
  }
  .main-middle-area.share-a-meal-area {
    padding-top: 55px;
  }
  .sm-steps-root .step-cover {
    width: 100%;
    position: relative;
    right: auto;
  }
  .sm-steps-root .step-cover .cover-thumb .img-thumb.cover-img {
    width: 100%;
    height: 500px;
  }
  .sm-steps-root .main-tab-container {
    width: 100%;
  }
  .sm-steps-root .main-tab-container .step-heading {
    padding: 15px 15px 15px 15px;
    min-height: 60px;
  }
  .sm-steps-root .main-tab-container .container-content-div {
    padding: 40px 15px 20px 15px;
  }
  .tab-root .step-app .step-steps li {
    width: auto;
    position: relative;
    margin-bottom: 0;
    min-width: 100%;
  }
  .tab-root .step-app .step-steps a {
    text-align: left;
    padding: 12px 15px;
    width: 100%;
    min-height: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .tab-root .step-footer {
    padding: 0 15px 40px 15px;
    width: 100%;
  }
  .tab-root .step-footer .step-btn {
    font-size: 18px;
    min-height: 48px;
    min-width: 140px;
    padding: 10px 25px;
  }
  .tab-root .upload-image-placeholder {
    width: 100px;
    height: 100px;
    margin-right: 0.75em;
    margin-bottom: 0.75em;
  }
  .tab-root .fileupload-text-container {
    padding-left: 0.3125em;
    padding-right: 0.3125em;
    width: 100px;
    height: 100px;
  }
  .tab-root .fileupload-small-text {
    margin-top: 0.3125em;
    font-size: 0.8125em;
    line-height: 1.38462em;
  }
  .tab-root .fileupload-preview-image {
    width: 100px;
    height: 100px;
  }
  .tab-root .fileinput-button input {
    width: 100px;
    height: 100px;
  }
  .tab-root .back-save-row-footer {
    padding: 12px 15px 30px 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tab-root .back-save-row-footer .right-side-footer {
    padding: 0;
  }
  .tab-root .back-save-row-footer .right-side-footer span.text-span {
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 15px;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    text-align: center;
    background-color: #eee;
  }
  .tab-root .back-save-row-footer .right-side-footer span.text-span span.dots {
    display: none;
  }
  .tab-root .back-save-row-footer span.text-span {
    font-size: 12px;
  }
  .tab-root .back-save-row-footer .btn.btn-back {
    font-size: 14px;
    padding: 0px 0px;
    min-height: auto;
  }
  .tab-root .back-save-row-footer .btn.btn-back span.material-icons {
    margin: 0 10px 0 0;
    font-size: 20px;
  }
  .tab-root .back-save-row-footer .btn.btn-links {
    font-size: 16px;
  }
  .form-div .form-group label {
    font-size: 14px;
  }
  .form-div .form-group .form-control {
    min-height: 50px;
    padding: 9px 15px;
    font-size: 16px;
  }
  .form-div .form-group .input-box-effect select.form-control:not([size]):not([multiple]) {
    height: 50px;
    padding: 0 35px 0 15px;
    background-color: transparent;
    border: 1px solid rgba(114, 114, 114, 0.3);
    color: #000000;
    margin: 0;
  }
  .form-div .form-group .input-box-effect span.arrow {
    top: 23px;
    right: 15px;
  }
  .form-div .form-group .btn.btn-search-icon {
    height: 48px;
    width: 48px;
    top: 1px;
    right: 1px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-div .form-group .btn.btn-search-icon .material-icons {
    font-size: 24px;
  }
  .form-div .checkbox-container label {
    padding: 0 0 0 26px;
    font-size: 16px;
    line-height: 23px;
  }
  .form-div .checkbox-container input[type=checkbox] {
    top: 4px;
    height: 16px;
    width: 16px;
  }
  .form-div .checkbox-container input[type=checkbox]:checked::before {
    height: 17px;
    width: 17px;
  }
  .form-div .number-group .button-container {
    height: 50px;
    width: 50px;
    padding: 8px 0 9px 0;
  }
  .form-div .new-listing-form a.select, .form-div .edit-listing-form a.select {
    width: 100%;
    min-height: 50px;
    padding: 8px 0px;
    font-size: 16px;
  }
  .owl-post .post-box {
    padding: 0;
    margin: 0 0px 0 0;
  }
  .review-and-post-section .post-heading-div h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .review-and-post-section .post-heading-div .post__price-container span.listings__price-amount {
    font-size: 24px;
    line-height: 36px;
  }
  .review-and-post-section .post-heading-div .post__price-container span.listings__price-unit {
    font-size: 16px;
    font-style: italic;
  }
  .content-boxs .more {
    font-size: 16px;
    line-height: 24px;
  }
  .content-boxs p {
    font-size: 16px;
    line-height: 24px;
  }
  .tab-root .back-save-row-footer .btn.btn-complete {
    padding: 8px 25px;
    min-width: auto;
    min-height: auto;
  }
  .back-save-row-footer.final-back-save-row-footer {
    padding-bottom: 15px;
  }
  .back-save-row-footer.final-back-save-row-footer .left-side-footer {
    padding: 10px 0;
  }
  .progress-complete-section .post-heading-div h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .progress-complete-section .post-heading-div p.font-16 {
    font-weight: 400;
    font-size: 14px;
    color: #2E2E2E;
  }
  .progress-complete-section .complete-content-boxs h5 {
    font-size: 14px;
  }
  .progress-complete-section .complete-content-boxs h4 {
    font-size: 20px;
    margin: 0;
  }
  .progress-complete-section .complete-content-boxs span.title-span.mr-4 {
    margin-right: 1rem !important;
  }
  .complete-icons {
    width: 30px;
    height: 30px;
  }
  .btn.common-link {
    font-size: 14px;
    line-height: 24px;
  }
  .btn.btn-common-primary {
    font-size: 16px;
    min-height: 46px;
    min-width: 150px;
    padding: 11px 25px;
  }
  /* component validation */
  .form-div .form-group .input-box-effect.choose-category-validation label.select-option-label label.error {
    bottom: -195px;
  }
  .form-div .form-group .input-box-effect.choose-type-validation label.select-option-label label.error {
    bottom: -75px;
  }
  /* End of component validation */
  .form-div .form-group .btn.btn-search-icon {
    top: 1px;
    right: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .share-a-meal-wrapper {
    padding: 55px 0 0 0;
  }
  .main-middle-area.share-a-meal-area {
    padding-top: 55px;
  }
  .sm-steps-root .step-cover {
    width: 300px;
  }
  .sm-steps-root .step-cover .cover-thumb .img-thumb.cover-img {
    width: 100%;
    height: calc(100vh - 55px);
  }
  .sm-steps-root .main-tab-container {
    width: calc(100% - 300px);
  }
  .sm-steps-root .main-tab-container .step-heading {
    padding: 15px 15px 15px 15px;
    min-height: 60px;
  }
  .sm-steps-root .main-tab-container .container-content-div {
    padding: 40px 15px 20px 15px;
  }
  .tab-root .step-app .step-steps li {
    width: auto;
    position: relative;
    margin-bottom: 0;
    min-width: 50%;
  }
  .tab-root .step-app .step-steps a {
    text-align: center;
    padding: 12px 15px;
    width: 100%;
    min-height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tab-root .step-footer {
    padding: 0 15px 40px 15px;
    width: 100%;
  }
  .tab-root .step-footer .step-btn {
    font-size: 18px;
    min-height: 48px;
    min-width: 140px;
    padding: 10px 25px;
  }
  .tab-root .upload-image-placeholder {
    width: 100px;
    height: 100px;
    margin-right: 0.75em;
    margin-bottom: 0.75em;
  }
  .tab-root .fileupload-text-container {
    padding-left: 0.3125em;
    padding-right: 0.3125em;
    width: 100px;
    height: 100px;
  }
  .tab-root .fileupload-small-text {
    margin-top: 0.3125em;
    font-size: 0.8125em;
    line-height: 1.38462em;
  }
  .tab-root .fileupload-preview-image {
    width: 100px;
    height: 100px;
  }
  .tab-root .fileinput-button input {
    width: 100px;
    height: 100px;
  }
  .tab-root .back-save-row-footer {
    padding: 15px 15px 30px 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tab-root .back-save-row-footer .right-side-footer {
    padding: 0;
  }
  .tab-root .back-save-row-footer .right-side-footer span.text-span {
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 15px;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    text-align: center;
    background-color: #eee;
  }
  .tab-root .back-save-row-footer .right-side-footer span.text-span span.dots {
    display: none;
  }
  .tab-root .back-save-row-footer span.text-span {
    font-size: 12px;
  }
  .tab-root .back-save-row-footer .btn.btn-back {
    font-size: 14px;
    padding: 0px 0px;
    min-height: auto;
  }
  .tab-root .back-save-row-footer .btn.btn-back span.material-icons {
    margin: 0 10px 0 0;
    font-size: 20px;
  }
  .tab-root .back-save-row-footer .btn.btn-links {
    font-size: 16px;
  }
  .form-div .form-group label {
    font-size: 14px;
  }
  .form-div .form-group .form-control {
    min-height: 50px;
    padding: 9px 15px;
    font-size: 16px;
  }
  .form-div .form-group .input-box-effect select.form-control:not([size]):not([multiple]) {
    height: 50px;
    padding: 0 35px 0 15px;
    background-color: transparent;
    border: 1px solid rgba(114, 114, 114, 0.3);
    color: #000000;
    margin: 0;
  }
  .form-div .form-group .input-box-effect span.arrow {
    top: 23px;
    right: 15px;
  }
  .form-div .form-group .btn.btn-search-icon {
    height: 48px;
    width: 48px;
    top: 1px;
    right: 1px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-div .form-group .btn.btn-search-icon .material-icons {
    font-size: 24px;
  }
  .form-div .checkbox-container label {
    padding: 0 0 0 26px;
    font-size: 16px;
    line-height: 23px;
  }
  .form-div .checkbox-container input[type=checkbox] {
    top: 4px;
    height: 16px;
    width: 16px;
  }
  .form-div .checkbox-container input[type=checkbox]:checked::before {
    height: 17px;
    width: 17px;
  }
  .form-div .number-group .button-container {
    height: 50px;
    width: 50px;
    padding: 8px 0 9px 0;
  }
  .form-div .new-listing-form a.select, .form-div .edit-listing-form a.select {
    width: 100%;
    min-height: 50px;
    padding: 8px 0px;
    font-size: 16px;
  }
  .progress-complete-section .post-heading-div h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .progress-complete-section .post-heading-div p.font-16 {
    font-weight: 400;
    font-size: 14px;
    color: #2E2E2E;
  }
  .progress-complete-section .complete-content-boxs h5 {
    font-size: 14px;
  }
  .progress-complete-section .complete-content-boxs h4 {
    font-size: 20px;
    margin: 0;
  }
  .progress-complete-section .complete-content-boxs span.title-span.mr-4 {
    margin-right: 1rem !important;
  }
  .complete-icons {
    width: 30px;
    height: 30px;
  }
  .btn.common-link {
    font-size: 14px;
    line-height: 24px;
  }
  .btn.btn-common-primary {
    font-size: 16px;
    min-height: 46px;
    min-width: 150px;
    padding: 11px 25px;
  }
  /* component validation */
  .form-div .form-group .input-box-effect.choose-category-validation label.select-option-label label.error {
    bottom: -195px;
  }
  .form-div .form-group .input-box-effect.choose-type-validation label.select-option-label label.error {
    bottom: -75px;
  }
  /* End of component validation */
  .form-div .form-group .btn.btn-search-icon {
    top: 1px;
    right: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (min-height: 1020px) {
  .progress-complete-section .post-heading-div h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .sm-steps-root .step-cover {
    width: 350px;
  }
  .sm-steps-root .main-tab-container {
    width: calc(100% - 350px);
  }
}
/*# sourceMappingURL=share-a-meal.css.map */