/* font family */
/* font family */
/* SVG Icon */
.share-small-icon {
  width: 14px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='17px' viewBox='0 0 15 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='single-post-view-screen' transform='translate(-1218.000000, -124.000000)' stroke='%23484848' stroke-width='1.4'%3E%3Cg id='Group-18' transform='translate(1204.000000, 114.000000)'%3E%3Cg id='btn-share'%3E%3Cg id='share-black' transform='translate(15.000000, 11.000000)'%3E%3Ccircle id='Oval' cx='10.8333333' cy='2.16666667' r='2.16666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='2.16666667' cy='7.36666667' r='2.16666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='10.8333333' cy='12.5666667' r='2.16666667'%3E%3C/circle%3E%3Cline x1='4.33333333' y1='7.8' x2='9.53333333' y2='11.2666667' id='Path'%3E%3C/line%3E%3Cline x1='9.53333333' y1='3.46666667' x2='4.33333333' y2='6.93333333' id='Path'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.share-small-hover-icon {
  width: 14px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='17px' viewBox='0 0 15 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='single-post-view-screen' transform='translate(-1218.000000, -124.000000)' stroke='%23F98169' stroke-width='1.4'%3E%3Cg id='Group-18' transform='translate(1204.000000, 114.000000)'%3E%3Cg id='btn-share'%3E%3Cg id='share-color' transform='translate(15.000000, 11.000000)'%3E%3Ccircle id='Oval' cx='10.8333333' cy='2.16666667' r='2.16666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='2.16666667' cy='7.36666667' r='2.16666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='10.8333333' cy='12.5666667' r='2.16666667'%3E%3C/circle%3E%3Cline x1='4.33333333' y1='7.8' x2='9.53333333' y2='11.2666667' id='Path'%3E%3C/line%3E%3Cline x1='9.53333333' y1='3.46666667' x2='4.33333333' y2='6.93333333' id='Path'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.like-small-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='16px' height='14px' viewBox='0 0 16 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='0' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='single-post-view-screen' transform='translate(-1336.000000, -126.000000)' fill='%23000000' fill-rule='nonzero' stroke='%23484848' stroke-width='1.4'%3E%3Cg id='Group-18' transform='translate(1204.000000, 114.000000)'%3E%3Cg id='btn-save' transform='translate(118.000000, 0.000000)'%3E%3Cg id='like' transform='translate(15.000000, 13.000000)'%3E%3Cg id='Group'%3E%3Cpath d='M10.1637374,0 C8.82737375,0 7.55464648,0.827272727 6.72737375,1.78181818 C5.70919193,0.763636364 4.30919193,-0.254545455 2.78191921,0.0636363636 C1.82737375,0.190909091 0.936464662,0.827272727 0.491010116,1.71818182 C-0.972626247,4.32727273 1.12737375,7 2.9728283,8.78181818 C3.86373739,9.60909091 4.75464648,10.3727273 5.70919193,11.0727273 C5.96373739,11.2636364 6.40919193,11.6454545 6.72737375,11.6454545 C7.04555557,11.6454545 7.49101012,11.2636364 7.74555557,11.0727273 C9.78191921,9.60909091 11.9455556,7.82727273 12.9637374,5.47272727 C13.9182828,3.30909091 12.9637374,0 10.1637374,0' id='like'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.like-small-fill-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='15px' viewBox='0 0 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M12.6156999,1 C11.0884271,1 9.63388169,1.94545455 8.68842715,3.03636364 C7.52479078,1.87272727 5.92479078,0.709090909 4.17933624,1.07272727 C3.08842715,1.21818182 2.07024533,1.94545455 1.56115442,2.96363636 C-0.111572854,5.94545455 2.28842715,9 4.39751805,11.0363636 C5.41569987,11.9818182 6.43388169,12.8545455 7.52479078,13.6545455 C7.81569987,13.8727273 8.32479078,14.3090909 8.68842715,14.3090909 C9.05206351,14.3090909 9.56115442,13.8727273 9.85206351,13.6545455 C12.1793362,11.9818182 14.6520635,9.94545455 15.8156999,7.25454545 C16.906609,4.78181818 15.8156999,1 12.6156999,1' id='like-fill' stroke='%23F98169' stroke-width='1.4' fill='%23F98169' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.search-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='18px' viewBox='0 0 17 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='single-post-view-screen' transform='translate(-828.000000, -2674.000000)' fill='%23C7C8C7' fill-rule='nonzero'%3E%3Cg id='Group-25' transform='translate(120.000000, 2621.000000)'%3E%3Cg id='Group-23' transform='translate(440.000000, 38.000000)'%3E%3Cg id='Group' transform='translate(268.000000, 15.000000)'%3E%3Cpath d='M6.63869402,13.772553 C3.23387339,13.28615 0.80185866,10.1245309 1.28826161,6.63864309 C1.77466455,3.23382246 4.93628371,0.801807728 8.42217149,1.28821067 C11.8269921,1.77461362 14.2590069,4.93623277 13.7726039,8.42212056 C13.286201,11.8269412 10.0435146,14.2589559 6.63869402,13.772553 M16.8531559,16.853105 L12.799798,12.7997471 C13.9347382,11.6648069 14.6643426,10.2866652 14.9075441,8.58425487 C15.4750142,4.44982983 12.6376637,0.72074057 8.58430581,0.0722033082 C4.53094792,-0.495266796 0.720791502,2.34208373 0.0722542401,6.47650877 C-0.495215864,10.6109338 2.34213466,14.3400231 6.39549255,14.9885603 C8.42217149,15.312829 10.3677833,14.7453589 11.8269921,13.6104187 L11.8269921,13.6914858 L15.88035,17.7448437 C16.1235515,17.9880452 16.5288873,17.9880452 16.7720887,17.7448437 C17.0152902,17.5016422 17.0963574,17.0963064 16.8531559,16.853105' id='search-icon'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* End of SVG Icon */
/* Common css */
.ml-18 {
  margin-left: 18px !important;
}

.plr-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.mrl-10 {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

ul {
  list-style: none;
}

ul.border-ul-inline-style {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
}

ul.border-ul-inline-style li {
  font-weight: 400;
  font-size: 16px;
  color: #484848;
  letter-spacing: -0.2px;
  line-height: 24px;
  padding: 0 10px;
  margin: 0;
  position: relative;
}

ul.border-ul-inline-style li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  height: 12px;
  width: 1px;
  background-color: #EBEBEB;
}

ul.border-ul-inline-style li:first-child {
  padding-left: 0px;
}

ul.border-ul-inline-style li:first-child::before {
  width: 0px;
}

.ul-list-check-icon {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.ul-list-check-icon li {
  position: relative;
  min-height: 24px;
  font-weight: 400;
  font-size: 19px;
  color: #484848;
  letter-spacing: -0.24px;
  line-height: 24px;
  padding-left: 39px;
}

.ul-list-check-icon li .text-span {
  padding-left: 29px;
}

.ul-list-check-icon li .text-span::before {
  content: "\e877";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  color: #fff;
  position: absolute;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background-color: #F98169;
  border: 1px solid #f98169;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ul-list-3column {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

.ul-list-3column li {
  padding-right: 10px !important;
  padding-left: 10px !important;
  width: 33.3%;
}

.check-round::before {
  content: "\e877";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  color: #fff;
  position: absolute;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  background-color: #F98169;
  border: 1px solid #f98169;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn.btn-white-common {
  padding: 5px 15px;
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0;
  font-family: "Muli";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-white-common .custom-icon {
  margin-right: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-white-common:hover {
  outline: none;
  color: #F98169;
}

.btn.btn-white-common:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px, rgba(255, 255, 255, 0.7) 0px 0px 0px 5px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px, rgba(255, 255, 255, 0.7) 0px 0px 0px 5px;
  outline: none;
  -webkit-transition: -webkit-box-shadow 0.2s ease 0s;
  transition: -webkit-box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s;
  transition: box-shadow 0.2s ease 0s, -webkit-box-shadow 0.2s ease 0s;
}

.btn.btn-share:hover .share-small-icon {
  background-size: contain;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='17px' viewBox='0 0 15 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='single-post-view-screen' transform='translate(-1218.000000, -124.000000)' stroke='%23F98169' stroke-width='1.4'%3E%3Cg id='Group-18' transform='translate(1204.000000, 114.000000)'%3E%3Cg id='btn-share'%3E%3Cg id='share-color' transform='translate(15.000000, 11.000000)'%3E%3Ccircle id='Oval' cx='10.8333333' cy='2.16666667' r='2.16666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='2.16666667' cy='7.36666667' r='2.16666667'%3E%3C/circle%3E%3Ccircle id='Oval' cx='10.8333333' cy='12.5666667' r='2.16666667'%3E%3C/circle%3E%3Cline x1='4.33333333' y1='7.8' x2='9.53333333' y2='11.2666667' id='Path'%3E%3C/line%3E%3Cline x1='9.53333333' y1='3.46666667' x2='4.33333333' y2='6.93333333' id='Path'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.btn.btn-save .like-small-fill-icon {
  display: none;
}

.btn.btn-save .like-small-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn.btn-save.active .like-small-fill-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn.btn-save.active .like-small-icon {
  display: none;
}

.btn.btn-save:hover .like-small-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='15px' viewBox='0 0 17 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M12.6156999,1 C11.0884271,1 9.63388169,1.94545455 8.68842715,3.03636364 C7.52479078,1.87272727 5.92479078,0.709090909 4.17933624,1.07272727 C3.08842715,1.21818182 2.07024533,1.94545455 1.56115442,2.96363636 C-0.111572854,5.94545455 2.28842715,9 4.39751805,11.0363636 C5.41569987,11.9818182 6.43388169,12.8545455 7.52479078,13.6545455 C7.81569987,13.8727273 8.32479078,14.3090909 8.68842715,14.3090909 C9.05206351,14.3090909 9.56115442,13.8727273 9.85206351,13.6545455 C12.1793362,11.9818182 14.6520635,9.94545455 15.8156999,7.25454545 C16.906609,4.78181818 15.8156999,1 12.6156999,1' id='like-fill' stroke='%23F98169' stroke-width='1.4' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.btn-grey-common {
  padding: 10px 20px;
  background: #F7F7F7;
  border: 1px solid rgba(114, 114, 114, 0.3);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  font-family: "Muli";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-grey-common:hover {
  outline: none;
  background-color: #fff;
  color: #484848;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
}

.btn-grey-common:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link-color {
  font-family: "Muli";
  font-weight: 600;
  font-size: 18px;
  color: #F98169;
  letter-spacing: 0;
  line-height: 24px;
  padding: 5px 0;
  margin: 0;
  background-color: #fff;
}

.btn-link-color:hover {
  outline: none;
  background-color: #fff;
  color: #484848;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link-color:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-search-icon {
  padding: 0px 0;
  margin: 0;
  background-color: #fff;
  border: none;
}

.btn-search-icon:hover {
  outline: none;
  background-color: #fff;
  color: #484848;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-search-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-submit {
  background-color: #F98169;
  border: 1px solid #F98169;
  border-radius: 4px;
  font-family: "Muli";
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 25px;
  min-height: 46px;
}

.btn.btn-submit:hover {
  outline: none;
  background-color: #fff;
  color: #F98169;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-submit:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.heading-title-div {
  padding: 10px 0 10px 0;
  margin: 0;
  position: relative;
}

.heading-title-div h3 {
  font-family: "Muli";
  font-weight: 600;
  font-size: 20px;
  color: #222222;
  letter-spacing: -0.25px;
  line-height: 28px;
  margin: 0 0 10px 0;
}

.heading-title-div p {
  font-weight: 400;
  font-size: 18px;
  color: #484848;
  letter-spacing: 0;
  line-height: 24px;
}

/* End of Common css */
/* animation & loader */
.loader-box {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader-box.show-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loader-box .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader-box .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #f68069;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader-box .lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.loader-box .lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

/*  End of animation & loader  */
.single-post-wrapper {
  margin: 0;
  position: relative;
}

/* sp banner */
.sp-banner-section {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Muli";
}

.sp-banner-section .sp-banner-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.sp-banner-root {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  overflow: hidden !important;
  background: black !important;
}

.sp-banner-root .half-6 {
  padding-right: 0px;
  padding-left: 0px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.sp-banner-root .half-3 {
  padding-right: 0px;
  padding-left: 0px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.sp-banner-root .sp-img-box.sp-img-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  border: 1px solid #000000;
  background-color: black;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sp-banner-root .sp-img-box.sp-img-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  border: 1px solid #000000;
  background-color: black;
  position: relative;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.sp-banner-root .img-thumb-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.sp-banner-root .img-thumb-div .img-fluid {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.sp-banner-root .img-thumb-div .img-fluid:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  transition: -webkit-transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.sp-banner-root .figure-img {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

.sp-banner-root .images-list-row {
  position: relative;
  display: block;
  float: left;
  width: 100%;
}

.sp-banner-root .images-list-row .half-6 {
  float: left;
}

.sp-banner-root .images-list-row .half-3 {
  float: left;
  height: 300px;
}

.sp-banner-root .images-list-row .sp-img-box.sp-img-half {
  height: 100%;
}

.sp-banner-root .img-col-banner:nth-child(1), .sp-banner-root .img-col-banner:nth-child(2), .sp-banner-root .img-col-banner:nth-child(3), .sp-banner-root .img-col-banner:nth-child(4), .sp-banner-root .img-col-banner:nth-child(5) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sp-banner-root .img-col-banner {
  display: none;
}

.sp-banner-top-right {
  position: absolute;
  top: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sp-banner-bottom-right {
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* image collage ( if image less equal than 5 ) */
.banner-thumb-1 .img-col-banner:nth-child(2), .banner-thumb-1 .img-col-banner:nth-child(3), .banner-thumb-1 .img-col-banner:nth-child(4), .banner-thumb-1 .img-col-banner:nth-child(5) {
  display: none;
}

.banner-thumb-1 .sp-banner-bottom-right {
  display: none;
}

.banner-thumb-1 .img-col-banner:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner-thumb-1 .img-col-banner:nth-child(1) .img-thumb-div .img-fluid {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner-thumb-2 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner-thumb-2 .img-col-banner:nth-child(3), .banner-thumb-2 .img-col-banner:nth-child(4), .banner-thumb-2 .img-col-banner:nth-child(5) {
  display: none;
}

.banner-thumb-2 .sp-banner-bottom-right {
  display: none;
}

.banner-thumb-2 .img-col-banner:nth-child(2) {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  height: 600px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.banner-thumb-2 .img-col-banner:nth-child(2) .img-thumb-div .img-fluid {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner-thumb-3 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner-thumb-3 .img-col-banner:nth-child(4), .banner-thumb-3 .img-col-banner:nth-child(5) {
  display: none;
}

.banner-thumb-3 .sp-banner-bottom-right {
  display: none;
}

.banner-thumb-3 .img-col-banner:nth-child(1), .banner-thumb-3 .img-col-banner:nth-child(2), .banner-thumb-3 .img-col-banner:nth-child(3) {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3%;
          flex: 0 0 33.3%;
  max-width: 33.3%;
  height: 600px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.banner-thumb-3 .img-col-banner:nth-child(1) .img-thumb-div .img-fluid, .banner-thumb-3 .img-col-banner:nth-child(2) .img-thumb-div .img-fluid, .banner-thumb-3 .img-col-banner:nth-child(3) .img-thumb-div .img-fluid {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner-thumb-4 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner-thumb-4 .img-col-banner:nth-child(5) {
  display: none;
}

.banner-thumb-4 .sp-banner-bottom-right {
  display: none;
}

.banner-thumb-4 .img-col-banner:nth-child(4) {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.banner-thumb-4 .img-col-banner:nth-child(4) .img-thumb-div .img-fluid {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner-thumb-5 {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.banner-thumb-5 .sp-banner-bottom-right {
  display: none;
}

/* End of image collage */
/* light-box design */
.lg-backdrop {
  z-index: 9999;
  background-color: #fff;
}

.lg-outer {
  z-index: 99999;
}

.lg-outer .lg-thumb-outer {
  background-color: #ffffff;
  padding: 0 15px;
}

.lg-outer {
  font-family: "Muli";
}

.lg-outer .lg-sub-html {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 40px;
  text-align: center;
  z-index: 9999;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 28px !important;
  color: #484848;
  letter-spacing: 0;
  top: 0;
  left: 150px;
  bottom: auto !important;
  width: calc(100% - 300px);
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lg-outer .lg-sub-html h4 {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 28px !important;
  color: #484848;
  letter-spacing: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lg-outer .lg-actions .lg-next, .lg-outer .lg-actions .lg-prev {
  background-color: #fff;
}

.lg-outer .lg-toolbar {
  opacity: 1;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  position: fixed;
  top: 5px;
  background-color: #fff;
}

.lg-outer .lg-toolbar .lg-icon {
  color: #484848;
  height: 80px;
  font-size: 24px;
  padding: 10px 0;
}

.lg-outer .lg-progress-bar {
  background-color: #fafafa;
  z-index: 9999;
}

.lg-outer .lg-progress-bar .lg-progress {
  background-color: #F98169;
}

.lg-outer .lg-toolbar.lg-group {
  padding-right: 10px;
}

.lg-outer .lg-toogle-thumb {
  background-color: #F98169;
  border-radius: 8px 8px 0 0;
  color: #fff;
  visibility: hidden;
}

.lg-outer img.lg-image {
  max-width: 1200px;
  max-height: calc( 100vh - 200px);
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.lg-outer #lg-counter {
  padding-left: 0;
  padding-top: 0;
  vertical-align: middle;
  background: #FAFAFA;
  font-weight: 600;
  font-size: 24px;
  color: #222222;
  line-height: 36px;
  min-height: 90px;
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 90px;
  letter-spacing: 1px !important;
}

.lg-outer .lg-actions .lg-next, .lg-outer .lg-actions .lg-prev {
  background-color: #fff;
  border-radius: 100px;
  padding: 0;
  height: 40px;
  width: 40px;
  color: #484848;
  font-size: 24px;
}

.lg-outer .lg-actions .lg-next:hover, .lg-outer .lg-actions .lg-prev:hover {
  background-color: #F98169;
  color: #fff;
}

.lg-outer .lg-thumb-item.active {
  border-color: #484848;
}

.lg-outer .lg-thumb-item:hover {
  border-color: #fff;
}

.lg-outer .lg-thumb-item {
  border-radius: 0;
}

.lg-outer .lg-thumb-item img {
  opacity: 0.7;
}

.lg-outer .lg-thumb-item.active img {
  opacity: 1;
}

.lg-outer .lg-thumb-item:hover img {
  opacity: 1;
}

/* End of light-box design */
/* End of sp banner */
/* share modal */
.share-root-box {
  padding: 30px 0 10px 0;
  margin: 0;
  position: relative;
}

.share-root-box .share-box-row {
  padding: 0;
  margin: 0;
}

.share-root-box .share-box-row .social-border-box {
  margin: 0 0 20px 0;
}

.share-root-box .share-box-row .social-border-box .social-border-link {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #222222;
  font-size: 22px;
  background-color: #fff;
  border: 1px solid #E4E4E4;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.share-root-box .share-box-row .social-border-box .social-border-link .social-text {
  font-family: "Muli";
  font-weight: 600;
}

.share-root-box .share-box-row .social-border-box .social-border-link .icon-thumb {
  margin: 0 18px 0 0;
}

.share-root-box .share-box-row .social-border-box .social-border-link .icon-thumb i {
  font-size: 25px;
  color: #222;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.share-root-box .share-box-row .social-border-box .social-border-link:hover {
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
  color: #F98169;
}

.share-root-box .share-box-row .social-border-box .social-border-link:hover i {
  color: #F98169;
}

.share-root-box .share-box-row .social-border-box .social-border-link.email-border-link:hover .email-icon {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='17px' viewBox='0 0 25 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Share-view-screen' transform='translate(-799.000000, -587.000000)' fill='%23F98169' fill-rule='nonzero'%3E%3Cg id='modal'%3E%3Cg id='Group-25' transform='translate(445.000000, 316.000000)'%3E%3Cg id='s01-copy' transform='translate(285.000000, 229.000000)'%3E%3Cg id='Group-28' transform='translate(69.000000, 36.000000)'%3E%3Cg id='Group' transform='translate(0.000000, 6.000000)'%3E%3Cpath d='M13.6841227,10.8405604 C13.8008672,10.7404937 14.4012675,10.2068045 15.4186124,9.28952635 L24.1160774,16.5110073 L0.967311541,16.5110073 L9.59806538,9.28118746 C10.6320881,10.1984656 11.2491661,10.7321548 11.3659106,10.8238826 C12.0580387,11.3659106 12.9753169,11.3492328 13.6841227,10.8405604 M23.599066,1.94296197 L19.5713809,5.56204136 C18.3122081,6.68779186 17.236491,7.6551034 16.3525684,8.4472982 L24.9833222,15.6187458 C24.9916611,15.6270847 24.9916611,15.6354236 25,15.6437625 L25,0.792194797 C25,0.758839226 24.9833222,0.733822548 24.9833222,0.700466978 C24.960809,0.719606523 24.9385697,0.739065914 24.9166111,0.758839226 L23.599066,1.94296197 Z M2.5933956,1.35923949 C3.89635752,2.52467128 5.20000463,3.68933682 6.50433622,4.85323549 C9.78985991,7.78852568 11.9329553,9.6814543 12.1330887,9.83155437 C12.354109,10.0114201 12.6679982,10.0216557 12.9002668,9.85657105 C13.0753836,9.70647098 15.2518346,7.75517011 18.7458306,4.6197465 L22.7651768,1.009006 L23.8909273,0 L1.06737825,0 L1.30920614,0.216811207 L2.5933956,1.35923949 Z M5.64543029,5.76217478 C4.34930842,4.60676037 3.05400012,3.45043364 1.75950634,2.29319546 C1.29252835,1.87625083 0.86724483,1.49266177 0.483655771,1.15076718 L0.0083388926,0.725483656 C0.0083388926,0.750500334 0,0.767178119 0,0.783855904 L0,15.7021348 L8.65577051,8.4472982 C7.82188125,7.70513676 6.82121414,6.82121414 5.64543029,5.77051368' id='email-color'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* End of share modal */
.main-post-area-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.main-post-area-div .post-area-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Muli";
}

.main-post-area-div .left-post-area {
  padding: 30px 0 30px 0;
  margin: 0;
  position: relative;
  width: calc(100% - 430px);
}

.main-post-area-div .right-post-area {
  padding: 0;
  margin: 0;
  width: 430px;
}

.top-title-section {
  padding: 0 0 25px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.top-title-section h1 {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 32px;
  color: #484848;
  letter-spacing: 0;
  padding: 0;
  margin: 0 0 10px 0;
}

.top-title-section h4 {
  font-family: "Muli";
  font-weight: 600;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0;
  padding: 0;
  line-height: 24px;
  margin: 0 0 10px 0;
}

.top-title-section h4 span.number-span {
  font-weight: 700;
  font-size: 18px;
  color: #484848;
  line-height: 24px;
  margin-left: 10px;
}

.top-title-section .pic-title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Muli";
}

.top-title-section .title-div {
  padding: 0;
  margin: 0;
  width: calc(100% - 100px);
}

.top-title-section .profile-pic-div {
  padding: 0;
  margin: 0;
  width: 100px;
}

.top-title-section .profile-pic-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-title-section .profile-pic-box p {
  font-family: "Muli";
  font-size: 16px;
  font-weight: 400;
  color: #767676;
  letter-spacing: -0.2px;
  width: 100%;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-title-section .profile-pic-box .img-pic {
  height: 56px;
  width: 56px;
  border-radius: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.top-title-section .profile-pic-box span.span-round {
  position: absolute;
  top: 36px;
  right: 0;
  background-color: #F98169;
  font-size: 15px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 20px;
}

.top-title-section .profile-pic-box span.span-round span.material-icons {
  font-size: 16px;
  color: #fff;
}

.top-title-section .profile-pic-box .profile-pic-thumb {
  width: 56px;
  position: relative;
  margin: 0 auto;
}

.ad-details-list-section {
  padding: 20px 0 20px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.ad-details-list-section .ad-details-list-row {
  font-family: "Muli";
  padding: 10px 0 10px 0;
}

.ad-details-list-section .ad-details-list-row .ad-details-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  position: relative;
}

.ad-details-list-section .ad-details-list-row .ad-di-list-thumb {
  width: auto;
  padding: 0 12px 0 0;
  margin: 0;
  position: relative;
}

.ad-details-list-section .ad-details-list-row .ad-di-list-thumb span.ad-icon-span {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border: 1px solid #F98169;
  border-radius: 100px;
}

.ad-details-list-section .ad-details-list-row .ad-di-list-thumb span.ad-icon-span::before {
  content: "";
  height: 24px;
  width: 24px;
  border: 1px solid #F98169;
  background-color: #F98169;
  display: inline-block;
  position: absolute;
  border-radius: 100px;
  top: 3px;
  left: 3px;
}

.ad-details-list-section .ad-details-list-row .ad-di-list-thumb span.ad-icon-span .img-icon {
  z-index: 9;
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  position: relative;
}

.ad-details-list-section .ad-details-list-row .ad-di-list-thumb span.ad-icon-span .img-icon.img-dd {
  width: 20px;
  height: 13px;
  margin: 2px 0 0 1px;
}

.ad-details-list-section .ad-details-list-row .ad-di-text {
  width: calc(100% - 42px);
  padding: 0;
  margin: 0;
  position: relative;
}

.ad-details-list-section .ad-details-list-row .ad-di-text h4 {
  font-weight: 600;
  font-size: 20px;
  color: #222222;
  letter-spacing: -0.25px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 2px 0px;
}

.ad-details-list-section .ad-details-list-row .ad-di-text p {
  font-weight: 400;
  font-size: 16px;
  color: #484848;
  letter-spacing: -0.2px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.description-section {
  padding: 20px 0 20px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.description-section .desc-content-div {
  padding: 10px 0 0px 0;
  margin: 0;
  position: relative;
}

.description-section .desc-content-div .more {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0;
  line-height: 24px;
}

.description-section .desc-content-div .more .morelink {
  display: inline;
  color: #F98169;
}

.description-section .desc-content-div .more .morelink:hover {
  color: #f68069 !important;
}

.morecontent span {
  display: none;
}

.morelink {
  display: inline;
  color: #F98169;
}

.morelink:hover {
  color: #f68069 !important;
}

.ingredients-root-section {
  padding: 20px 0 20px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.ingredients-root-section .ingredients-content-div {
  padding: 0;
  margin: 0;
}

.ingredients-root-section .label-box-root {
  padding: 10px 0;
}

.ingredients-root-section .label-box-root p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #484848;
  letter-spacing: -0.25px;
  line-height: 24px;
}

.ingredients-root-section .label-box-root span.label-border {
  font-weight: 700;
  font-size: 14px;
  color: #484848;
  letter-spacing: -0.17px;
  line-height: 24px;
  border: 1px solid #484848;
  border-radius: 4px;
  padding: 0 10px;
  margin: 0 0 0 10px;
}

.ingredients-root-section .btn-div {
  padding: 20px 0 10px 0;
  margin: 0;
  position: relative;
}

.ing-list-root {
  padding: 5px 0;
}

.ing-list-root .list-check-icon {
  padding: 10px 0;
  margin: 0;
}

.ing-list-root .list-check-icon p {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 24px;
  font-weight: 400;
  font-size: 19px;
  color: #484848;
  letter-spacing: -0.24px;
  line-height: 24px;
  padding-left: 39px;
}

.availability-root-section {
  padding: 20px 0 20px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.availability-root-section .availability-content-div {
  padding: 0;
  margin: 0;
}

.date-picker-custom {
  overflow: hidden;
  font-family: "Muli";
}

.date-picker-custom .form-group {
  margin-bottom: 0;
  padding: 5px 0 20px 0;
}

.date-picker-custom span.glyphicon.glyphicon-chevron-left {
  width: 9px;
  height: 16px;
  margin: 0 0 -2px 0;
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='9px' height='16px' viewBox='0 0 9 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='single-post-view-screen' transform='translate(-442.000000, -1670.000000)' stroke='%23979797'%3E%3Cg id='Group-20' transform='translate(120.000000, 1642.000000)'%3E%3Cg id='Calendar-01'%3E%3Cg id='Head' transform='translate(28.000000, 26.000000)'%3E%3Cpolyline id='Path-2' points='295.213483 2 301.940651 9.93003921 295.244855 17.8230973'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.date-picker-custom span.glyphicon.glyphicon-chevron-right {
  width: 9px;
  height: 16px;
  margin: 0 0 -2px 0;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='9px' height='16px' viewBox='0 0 9 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='single-post-view-screen' transform='translate(-442.000000, -1670.000000)' stroke='%23979797'%3E%3Cg id='Group-20' transform='translate(120.000000, 1642.000000)'%3E%3Cg id='Calendar-01'%3E%3Cg id='Head' transform='translate(28.000000, 26.000000)'%3E%3Cpolyline id='Path-2' points='295.213483 2 301.940651 9.93003921 295.244855 17.8230973'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.date-picker-custom .timepicker.col-md-6 {
  display: none;
}

.date-picker-custom th.picker-switch {
  font-family: "Muli";
  font-weight: 700;
  font-size: 20px;
  color: #222222;
  letter-spacing: 0;
  text-align: center;
  line-height: 17px;
  pointer-events: none;
}

.date-picker-custom .bootstrap-datetimepicker-widget table td.day {
  height: 42px;
  line-height: 42px;
  width: 42px;
  background-color: #FAFAFA;
  border: 4px solid #fff;
  font-weight: 400 !important;
  font-size: 16px;
  color: #212B35;
  letter-spacing: 0;
  text-align: center;
}

.date-picker-custom th.dow {
  font-weight: 400;
  font-size: 15px;
  color: #919EAB;
  letter-spacing: 0;
  text-align: center !important;
  line-height: 30px !important;
  margin: 0;
  height: 20px !important;
  width: 50px !important;
  padding-top: 10px;
}

.date-picker-custom .bootstrap-datetimepicker-widget table th {
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.date-picker-custom .bootstrap-datetimepicker-widget table th.prev, .date-picker-custom .bootstrap-datetimepicker-widget table th.next {
  background-color: #ffffff;
  border: 1px solid #fff;
}

.date-picker-custom .bootstrap-datetimepicker-widget table th.prev:hover, .date-picker-custom .bootstrap-datetimepicker-widget table th.next:hover {
  background-color: #ffffff;
  border: 1px solid #eee;
}

.date-picker-custom .datepicker.col-md-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.date-picker-custom .bootstrap-datetimepicker-widget table td.active, .date-picker-custom .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #F98169 !important;
  color: #ffffff;
  text-shadow: none;
}

.date-picker-custom .bootstrap-datetimepicker-widget table td.disabled, .date-picker-custom .bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777777;
  cursor: auto;
  pointer-events: none;
}

.date-picker-custom .bootstrap-datetimepicker-widget table td.today:before {
  visibility: hidden;
}

.date-picker-custom .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #fff;
}

.date-picker-custom .bootstrap-datetimepicker-widget table td.day:hover, .date-picker-custom .bootstrap-datetimepicker-widget table td.hour:hover, .date-picker-custom .bootstrap-datetimepicker-widget table td.minute:hover, .date-picker-custom .bootstrap-datetimepicker-widget table td.second:hover {
  background: #f6f2eb;
  cursor: pointer;
}

.date-picker-custom td.day.old.disabled {
  visibility: hidden;
}

.date-picker-custom td.day.disabled {
  opacity: 0.5;
}

.date-picker-custom td.day.new {
  visibility: hidden;
}

.date-picker-custom td.day.old {
  visibility: hidden;
}

.location-root-section {
  padding: 20px 0 20px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.location-root-section .location-content-div {
  padding: 0;
  margin: 0;
}

.location-root-section .custom-outside-map {
  padding: 10px 0 10px 0;
  margin: 0;
}

.location-root-section .post-map.custom-map-canvas .map {
  height: 350px;
  width: 100%;
}

.reviews-root-section {
  padding: 0px 0 0px 0;
  margin: 0;
  position: relative;
}

.reviews-root-section .reviews-content-div {
  padding: 0;
  margin: 0;
}

.reviews-root-section .reviews-top-row {
  padding: 20px 0 20px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.reviews-root-section .reviews-top-row .heading-title-div h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 10px 0;
}

.reviews-root-section .reviews-top-row .rr--number-view-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-root-section .reviews-top-row .rr--number-view-div p {
  font-weight: 700;
  font-size: 20px;
  color: #2E2E2E;
  letter-spacing: -0.25px;
  line-height: 28px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.reviews-root-section .reviews-top-row .rr--number-view-div span.separate-span {
  display: inline-block;
  border-right: 1px solid #EBEBEB;
  margin: 0 20px;
  height: 12px;
}

.reviews-root-section .reviews-top-row .rr--number-view-div .color-icons {
  color: #008489;
  margin: 0 6px 0 0;
}

.reviews-root-section .reviews-top-row .rr--number-view-div span.text-span2 {
  font-weight: 400;
  font-size: 20px;
  color: #1E1E1E;
  letter-spacing: -0.25px;
  line-height: 28px;
  padding: 0 0 0 8px;
}

.reviews-root-section .search-group-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.reviews-root-section .search-group-box .form-control {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  height: 48px;
  color: #484848;
  padding: 0 40px 0 15px;
  width: 100%;
  margin: 0;
}

.reviews-root-section .search-group-box .btn-search-icon {
  position: absolute;
  top: 16px;
  right: 15px;
}

.reviews-root-section .reviews-progress-row {
  padding: 30px 0 10px 0;
  margin: 0;
  position: relative;
  font-family: "Muli";
}

.reviews-root-section .reviews-progress-row .rr-progress-box {
  padding: 10px 0 10px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-root-section .reviews-progress-row .rr-progress-box .left-rr-progress {
  padding: 0;
  margin: 0;
  width: calc(100% - 160px);
}

.reviews-root-section .reviews-progress-row .rr-progress-box .right-rr-progress {
  padding: 0;
  margin: 0;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews-root-section .reviews-progress-row .rr-progress-box .progress-label-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-root-section .reviews-progress-row .rr-progress-box p {
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  color: #222222;
  letter-spacing: -0.25px;
  line-height: 28px;
}

.reviews-root-section .reviews-progress-row .rr-progress-box .progress {
  height: 5px;
  background-color: #D8D8D8;
  border-radius: 100px;
  width: 100px;
}

.reviews-root-section .reviews-progress-row .rr-progress-box .progress .progress-bar {
  background-color: #F98169;
  border-radius: 100px;
}

.reviews-root-section .reviews-progress-row .rr-progress-box span.number-span {
  padding: 0 0 0 15px;
  font-weight: 700;
  font-size: 20px;
  color: #222222;
  letter-spacing: -0.25px;
  line-height: 28px;
  display: inline-block;
}

.reviews-root-section .reviews-user-comment-row {
  padding: 10px 0 20px 0;
  margin: 0;
  position: relative;
  font-family: "Muli";
}

.reviews-root-section .reviews-user-comment-row .user-comment-box {
  padding: 20px 0 20px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.reviews-root-section .reviews-user-comment-row .user-comment-box .top-user-div {
  padding: 0px 0px;
  margin: 0 0 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-root-section .reviews-user-comment-row .user-comment-box .top-user-div .img-user {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-root-section .reviews-user-comment-row .user-comment-box .top-user-div .content-user {
  width: calc(100% - 40px);
  padding: 0 0 0 10px;
}

.reviews-root-section .reviews-user-comment-row .user-comment-box .top-user-div a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.reviews-root-section .reviews-user-comment-row .user-comment-box .top-user-div h4 {
  padding: 0px 0px;
  margin: 0;
  width: 100%;
  font-family: "Georgia";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #F98169;
  letter-spacing: -0.17px;
}

.reviews-root-section .reviews-user-comment-row .user-comment-box .top-user-div p {
  margin: 0;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  color: #2E2E2E;
  letter-spacing: -0.15px;
  font-weight: 400;
}

.reviews-root-section .reviews-user-comment-row .user-comment-box .desc-content-div .more {
  font-weight: 400;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0;
  line-height: 24px;
}

.pagination-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 0px;
}

.pagination-root ul.pagination-ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.pagination-root ul.pagination-ul li {
  margin-left: 8px;
  margin-right: 8px;
}

.pagination-root ul.pagination-ul li a {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  color: #222;
  -webkit-transition: all;
  transition: all;
}

.pagination-root ul.pagination-ul li a:hover {
  background: #eee;
  color: #222;
}

.pagination-root ul.pagination-ul li.active a {
  background: #222222;
  color: #FFFFFF;
}

.pagination-root ul.pagination-ul li.active a:hover {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
}

.pagination-root ul.pagination-ul li.next {
  margin-left: 20px;
}

.pagination-root ul.pagination-ul li.next a {
  color: #222222 !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.pagination-root ul.pagination-ul li.next a:hover {
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  background-color: #FFFFFF !important;
  color: #000000 !important;
  -webkit-box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12) !important;
}

.pagination-root ul.pagination-ul li:first-child {
  margin-left: 0px;
}

/* right side card */
.right-post-area .trade-card-position {
  position: absolute;
  top: 30px;
  margin-left: 45px;
  width: 100%;
  max-width: 410px;
  -webkit-transition: top 0.8s linear;
  transition: top 0.8s linear;
}

.right-post-area .trade-card-root-box {
  padding: 0 0px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  width: 100%;
}

.right-post-area .trade-card-root-box .trade-card-top {
  padding: 20px 0 10px 0;
  margin: 0 25px;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.right-post-area .trade-card-root-box .trade-card-top h3 {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  letter-spacing: -0.17px;
  line-height: 24px;
}

.right-post-area .trade-card-root-box .trade-card-top span.number-bold {
  color: #2E2E2E;
  font-weight: 800;
  font-size: 22px;
  padding-right: 3px;
}

.right-post-area .trade-card-root-box .trade-card-top .color-icons {
  color: #008489;
  margin: 0 2px 0 0;
  font-size: 14px;
}

.right-post-area .trade-card-root-box .trade-card-top .rr-number-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #2E2E2E;
  letter-spacing: -0.17px;
  line-height: 20px;
}

.right-post-area .trade-card-root-box .trade-card-top .rr-number-p span.text-span2 {
  color: rgba(72, 72, 72, 0.6);
  font-weight: 400;
  padding: 0 2px;
}

.right-post-area .trade-card-root-box .trade-card-top2 {
  padding: 15px 0 15px 0;
  margin: 0 25px;
  position: relative;
  border-bottom: 1px solid #EBEBEB;
}

.right-post-area .trade-card-root-box .trade-card-top2 h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
  font-size: 14px;
  color: #484848;
  letter-spacing: 0;
}

.right-post-area .trade-card-root-box .trade-card-top2 span.text-label {
  min-width: 130px;
  padding-right: 10px;
}

.right-post-area .trade-card-root-box .trade-card-top2 span.text-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.right-post-area .trade-card-root-box .trade-card-bottom {
  padding: 0px 0 30px 0;
  margin: 0 25px;
  position: relative;
}

.fixed-right-post-area .trade-card-position {
  position: fixed;
  top: 120px;
}

.trade-card-middle {
  padding: 20px 25px 10px 25px;
  margin: 0;
  position: relative;
  overflow-y: auto;
  max-height: calc(100vh - 350px);
}

.form-custom-div .form-group {
  margin-bottom: 20px;
}

.form-custom-div .form-group label {
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #484848;
  letter-spacing: 0;
}

.form-custom-div .form-group .form-control {
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  min-height: 48px;
  padding: 10px 15px;
  font-size: 16px;
  color: #484848;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.form-custom-div .form-group .form-control:hover, .form-custom-div .form-group .form-control:focus {
  border: 1px solid #727272;
}

.form-custom-div .form-group .form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.form-custom-div .form-group .form-control::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.form-custom-div .form-group .form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.form-custom-div .form-group .form-control:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
  font-weight: 600 !important;
  opacity: 1 !important;
}

.form-custom-div .form-group .text-label-big {
  font-size: 15px;
  width: 100%;
  position: relative;
}

.form-custom-div .form-group span.number-bold2 {
  font-family: "Georgia";
  font-weight: 700;
  font-size: 24px;
  color: #2E2E2E;
  letter-spacing: -0.3px;
  line-height: 18px;
  position: absolute;
  top: 0;
  right: 0;
}

.form-custom-div .form-group span.number-bold2 span.normal-text {
  font-weight: 700;
  font-size: 18px;
  font-family: "Muli";
}

/* End of right side card */
/* owl-slider lightbox effect */
.owl-slider-lightbox #sync1 .item {
  background: #0c83e7;
  padding: 80px 0px;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

.owl-slider-lightbox #sync2 .item {
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.owl-slider-lightbox #sync2 .item h1 {
  font-size: 18px;
}

.owl-slider-lightbox #sync2 .current .item {
  background: #0c83e7;
}

.owl-slider-lightbox .owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}

.owl-slider-lightbox .owl-theme .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.owl-slider-lightbox .owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}

.owl-slider-lightbox #sync1.owl-theme {
  position: relative;
}

.owl-slider-lightbox #sync1.owl-theme .owl-next, .owl-slider-lightbox #sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}

.owl-slider-lightbox #sync1.owl-theme .owl-prev {
  left: 10px;
}

.owl-slider-lightbox #sync1.owl-theme .owl-next {
  right: 10px;
}

/* End of owl-slider lightbox effect */
@media (max-width: 767px) {
  .share-root-box .share-box-row .social-border-box {
    margin: 0 0 10px 0;
  }
  .share-root-box .share-box-row .social-border-box .social-border-link {
    height: 66px;
    font-size: 18px;
  }
  .share-root-box .share-box-row .social-border-box .social-border-link .icon-thumb {
    margin: 1px 10px 0 0;
  }
  .share-root-box .share-box-row .social-border-box .social-border-link .icon-thumb i {
    font-size: 20px;
    width: 20px;
  }
  .main-post-area-div .post-area-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-post-area-div .left-post-area {
    width: 100%;
  }
  .main-post-area-div .right-post-area {
    width: 100%;
  }
  /* main area */
  .top-title-section h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .top-title-section .pic-title-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-title-section .title-div {
    width: 100%;
  }
  .top-title-section .profile-pic-div {
    width: 100%;
  }
  .top-title-section .profile-pic-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-title-section .profile-pic-box .img-pic {
    height: 40px;
    width: 40px;
  }
  .top-title-section .profile-pic-box .profile-pic-thumb {
    width: 40px;
    margin: 0;
  }
  .top-title-section .profile-pic-box .user-name-div {
    padding-left: 10px;
  }
  .top-title-section .profile-pic-box span.span-round {
    top: 26px;
    font-size: 14px;
    height: 16px;
    width: 16px;
  }
  .top-title-section .profile-pic-box span.span-round span.material-icons {
    font-size: 14px;
  }
  .top-title-section .profile-pic-box p {
    max-width: 200px;
  }
  .ad-details-list-section .ad-details-list-row .ad-di-text h4 {
    font-size: 18px;
    margin: 0 0 2px 0px;
  }
  .ad-details-list-section .ad-details-list-row .ad-di-text p {
    font-size: 14px;
    line-height: 18px;
  }
  ul.border-ul-inline-style li {
    font-size: 14px;
    line-height: 24px;
    padding: 0 7px;
  }
  .ingredients-root-section .label-box-root p {
    font-size: 16px;
    line-height: 24px;
  }
  .ingredients-root-section .label-box-root span.label-border {
    font-size: 12px;
    line-height: 24px;
    padding: 2px 10px;
  }
  .ing-list-root .list-check-icon p {
    min-height: 20px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
  }
  .check-round::before {
    font-size: 14px;
    height: 20px;
    width: 20px;
  }
  .heading-title-div p {
    font-size: 16px;
  }
  .custom-outside-date-picker .bootstrap-datetimepicker-widget table th.picker-switch {
    width: 145px;
    font-size: 18px;
  }
  .description-section .desc-content-div .more .morelink {
    display: block;
  }
  .morelink {
    display: block;
  }
  .reviews-root-section .reviews-top-row .heading-title-div {
    padding-bottom: 0px;
  }
  .reviews-root-section .reviews-top-row .heading-title-div h3 {
    font-size: 20px;
  }
  .reviews-root-section .reviews-top-row .rr--number-view-div {
    margin: 0 0 20px 0;
  }
  .reviews-root-section .reviews-progress-row .rr-progress-box p {
    font-size: 18px;
    line-height: 28px;
  }
  .reviews-root-section .reviews-progress-row .rr-progress-box span.number-span {
    font-size: 18px;
  }
  /* End of main area */
  .sp-banner-root .half-6 {
    height: 300px;
  }
  .sp-banner-root .images-list-row .half-3 {
    float: left;
    height: 150px;
  }
  .sp-banner-root .img-col-banner:nth-child(4), .sp-banner-root .img-col-banner:nth-child(5) {
    display: none;
  }
  .sp-banner-bottom-right {
    bottom: 10px;
    right: 10px;
  }
  .sp-banner-top-right {
    top: 15px;
    right: 15px;
  }
  .sp-banner-top-right .btn.btn-white-common.ml-18 {
    margin-left: 10px !important;
  }
  .sp-banner-top-right .btn.btn-white-common .custom-icon {
    margin-right: 0px;
  }
  .sp-banner-top-right .text-span {
    display: none;
  }
  .sp-banner-top-right .btn.btn-white-common.btn-share, .sp-banner-top-right .btn.btn-white-common.btn-save {
    min-width: 36px;
    min-height: 36px;
    border-radius: 100px;
    padding: 7px 10px 7px 8px;
  }
  .sp-banner-top-right .btn.btn-white-common.btn-save {
    padding: 7px 8px 7px 9px;
  }
  /* light-box design */
  .lg-outer #lg-counter {
    font-size: 16px;
    line-height: 42px;
    min-height: 50px;
    min-width: 60px;
    max-width: 60px;
  }
  .lg-outer img.lg-image {
    max-width: 95%;
    width: 100% !important;
    max-height: calc( 100vh - 190px);
    border-radius: 0px;
  }
  .lg-outer .lg-toolbar .lg-icon {
    height: 50px;
    width: 40px;
    padding: 10px 0;
  }
  .lg-outer .lg-sub-html {
    top: 40px;
    left: 0;
    width: 100%;
    min-height: 50px;
  }
  .lg-outer .lg-sub-html h4 {
    font-size: 18px !important;
  }
  .lg-outer .lg-actions .lg-next, .lg-outer .lg-actions .lg-prev {
    background-color: #fff;
    border-radius: 100px;
    padding: 0;
    height: 40px;
    width: 40px;
    color: #484848;
    font-size: 20px;
  }
  /* End of light-box design */
  .main-post-area-div .left-post-area {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .main-post-area-div .right-post-area {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 30px 0 0 0;
  }
  .right-post-area .trade-card-position {
    position: relative;
    top: auto;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
  .right-post-area .trade-card-root-box .trade-card-top {
    margin: 0 15px;
  }
  .right-post-area .trade-card-root-box .trade-card-top2 {
    margin: 0 15px;
  }
  .right-post-area .trade-card-root-box .trade-card-bottom {
    margin: 0 15px;
  }
  /* Image collage */
  .banner-thumb-2 .img-col-banner:nth-child(2) {
    height: 300px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .banner-thumb-3 .img-col-banner:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    height: 300px;
  }
  .banner-thumb-3 .img-col-banner:nth-child(2), .banner-thumb-3 .img-col-banner:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    height: 150px;
  }
  .banner-thumb-4 .sp-banner-bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner-thumb-5 .sp-banner-bottom-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* End of image collage */
}

@media (max-width: 767px) and (min-width: 260px) and (max-width: 360px) {
  .pagination-root ul.pagination-ul li {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .sp-banner-root .half-6 {
    height: 400px;
  }
  .sp-banner-root .half-3 {
    height: 400px;
  }
  .sp-banner-top-right {
    top: 15px;
    right: 15px;
  }
  .sp-banner-bottom-right {
    bottom: 15px;
    right: 15px;
  }
  .btn.btn-white-common.ml-18 {
    margin-left: 10px !important;
  }
  .main-post-area-div .left-post-area {
    width: calc(100% - 315px);
  }
  .main-post-area-div .right-post-area {
    width: 315px;
  }
  .right-post-area .trade-card-position {
    margin-left: 15px;
    max-width: 300px;
  }
  .right-post-area .trade-card-root-box .trade-card-top {
    margin: 0 15px;
  }
  .right-post-area .trade-card-root-box .trade-card-top2 {
    margin: 0 15px;
  }
  .right-post-area .trade-card-root-box .trade-card-bottom {
    margin: 0 15px;
  }
  .btn.btn-submit {
    font-size: 16px;
  }
  .trade-card-middle {
    padding: 20px 15px 10px 15px;
  }
  .fixed-right-post-area .trade-card-position {
    position: fixed;
    top: 80px;
  }
  .top-title-section h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .top-title-section .pic-title-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-title-section .title-div {
    width: 100%;
  }
  .top-title-section .profile-pic-div {
    width: 100%;
  }
  .top-title-section .profile-pic-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-title-section .profile-pic-box .img-pic {
    height: 40px;
    width: 40px;
  }
  .top-title-section .profile-pic-box .profile-pic-thumb {
    width: 40px;
    margin: 0;
  }
  .top-title-section .profile-pic-box .user-name-div {
    padding-left: 10px;
  }
  .top-title-section .profile-pic-box span.span-round {
    top: 26px;
    font-size: 14px;
    height: 16px;
    width: 16px;
  }
  .top-title-section .profile-pic-box span.span-round span.material-icons {
    font-size: 14px;
  }
  .top-title-section .profile-pic-box p {
    max-width: 200px;
  }
  .ad-details-list-section .ad-details-list-row .ad-di-text h4 {
    font-size: 18px;
    margin: 0 0 2px 0px;
  }
  .ad-details-list-section .ad-details-list-row .ad-di-text p {
    font-size: 14px;
    line-height: 18px;
  }
  ul.border-ul-inline-style li {
    font-size: 14px;
    line-height: 24px;
    padding: 0 7px;
  }
  .ingredients-root-section .label-box-root p {
    font-size: 16px;
    line-height: 24px;
  }
  .ingredients-root-section .label-box-root span.label-border {
    font-size: 12px;
    line-height: 24px;
    padding: 2px 10px;
  }
  .ing-list-root .list-check-icon p {
    min-height: 20px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
  }
  .check-round::before {
    font-size: 14px;
    height: 20px;
    width: 20px;
  }
  .heading-title-div p {
    font-size: 16px;
  }
  .custom-outside-date-picker .bootstrap-datetimepicker-widget table th.picker-switch {
    width: 145px;
    font-size: 18px;
  }
  .description-section .desc-content-div .more .morelink {
    display: block;
  }
  .morelink {
    display: block;
  }
  .reviews-root-section .reviews-top-row .heading-title-div {
    padding-bottom: 0px;
  }
  .reviews-root-section .reviews-top-row .heading-title-div h3 {
    font-size: 20px;
  }
  .reviews-root-section .reviews-top-row .rr--number-view-div {
    margin: 0 0 20px 0;
  }
  .reviews-root-section .reviews-progress-row .rr-progress-box p {
    font-size: 18px;
    line-height: 28px;
  }
  .reviews-root-section .reviews-progress-row .rr-progress-box span.number-span {
    font-size: 18px;
  }
  /* lightbox & banner */
  .sp-banner-root .images-list-row .half-3 {
    height: 200px;
  }
  /* Image collage */
  .banner-thumb-2 .img-col-banner:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    height: 400px;
  }
  .banner-thumb-2 .img-col-banner:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    height: 400px;
  }
  .banner-thumb-4 .img-col-banner:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6%;
            flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  /* End of image collage */
  /* End of lightbox & banner */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .sp-banner-root .half-6 {
    height: 600px;
  }
  .sp-banner-top-right {
    top: 15px;
    right: 15px;
  }
  .sp-banner-bottom-right {
    bottom: 15px;
    right: 15px;
  }
  .btn.btn-white-common.ml-18 {
    margin-left: 10px !important;
  }
  .main-post-area-div .left-post-area {
    width: calc(100% - 315px);
  }
  .main-post-area-div .right-post-area {
    width: 315px;
  }
  .right-post-area .trade-card-position {
    margin-left: 15px;
    max-width: 300px;
  }
  .right-post-area .trade-card-root-box .trade-card-top {
    margin: 0 15px;
  }
  .right-post-area .trade-card-root-box .trade-card-top2 {
    margin: 0 15px;
  }
  .right-post-area .trade-card-root-box .trade-card-bottom {
    margin: 0 15px;
  }
  .btn.btn-submit {
    font-size: 16px;
  }
  .trade-card-middle {
    padding: 20px 15px 10px 15px;
  }
  .fixed-right-post-area .trade-card-position {
    position: fixed;
    top: 80px;
  }
  .top-title-section h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .top-title-section .pic-title-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-title-section .title-div {
    width: 100%;
  }
  .top-title-section .profile-pic-div {
    width: 100%;
  }
  .top-title-section .profile-pic-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-title-section .profile-pic-box .img-pic {
    height: 40px;
    width: 40px;
  }
  .top-title-section .profile-pic-box .profile-pic-thumb {
    width: 40px;
    margin: 0;
  }
  .top-title-section .profile-pic-box .user-name-div {
    padding-left: 10px;
  }
  .top-title-section .profile-pic-box span.span-round {
    top: 26px;
    font-size: 14px;
    height: 16px;
    width: 16px;
  }
  .top-title-section .profile-pic-box span.span-round span.material-icons {
    font-size: 14px;
  }
  .top-title-section .profile-pic-box p {
    max-width: 200px;
  }
  .ad-details-list-section .ad-details-list-row .ad-di-text h4 {
    font-size: 18px;
    margin: 0 0 2px 0px;
  }
  .ad-details-list-section .ad-details-list-row .ad-di-text p {
    font-size: 14px;
    line-height: 18px;
  }
  ul.border-ul-inline-style li {
    font-size: 14px;
    line-height: 24px;
    padding: 0 7px;
  }
  .ingredients-root-section .label-box-root p {
    font-size: 16px;
    line-height: 24px;
  }
  .ingredients-root-section .label-box-root span.label-border {
    font-size: 12px;
    line-height: 24px;
    padding: 2px 10px;
  }
  .ing-list-root .list-check-icon p {
    min-height: 20px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
  }
  .check-round::before {
    font-size: 14px;
    height: 20px;
    width: 20px;
  }
  .heading-title-div p {
    font-size: 16px;
  }
  .custom-outside-date-picker .bootstrap-datetimepicker-widget table th.picker-switch {
    width: 145px;
    font-size: 18px;
  }
  .description-section .desc-content-div .more .morelink {
    display: block;
  }
  .morelink {
    display: block;
  }
  .reviews-root-section .reviews-top-row .heading-title-div {
    padding-bottom: 0px;
  }
  .reviews-root-section .reviews-top-row .heading-title-div h3 {
    font-size: 20px;
  }
  .reviews-root-section .reviews-top-row .rr--number-view-div {
    margin: 0 0 20px 0;
  }
  .reviews-root-section .reviews-progress-row .rr-progress-box p {
    font-size: 18px;
    line-height: 28px;
  }
  .reviews-root-section .reviews-progress-row .rr-progress-box span.number-span {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) and (min-height: 1020px) {
  .sp-banner-root .half-6 {
    height: 600px;
  }
  .sp-banner-top-right {
    top: 15px;
    right: 15px;
  }
  .sp-banner-bottom-right {
    bottom: 15px;
    right: 15px;
  }
  .btn.btn-white-common.ml-18 {
    margin-left: 10px !important;
  }
  .main-post-area-div .left-post-area {
    width: calc(100% - 315px);
  }
  .main-post-area-div .right-post-area {
    width: 315px;
  }
  .right-post-area .trade-card-position {
    margin-left: 15px;
    max-width: 300px;
  }
  .right-post-area .trade-card-root-box .trade-card-top {
    margin: 0 15px;
  }
  .right-post-area .trade-card-root-box .trade-card-top2 {
    margin: 0 15px;
  }
  .right-post-area .trade-card-root-box .trade-card-bottom {
    margin: 0 15px;
  }
  .btn.btn-submit {
    font-size: 16px;
  }
  .trade-card-middle {
    padding: 20px 15px 10px 15px;
  }
  .fixed-right-post-area .trade-card-position {
    position: fixed;
    top: 80px;
  }
}
/*# sourceMappingURL=single-post.css.map */